<nav class="gear-tabs tabs" data-group="gear-view">
  <h3 class="item" data-tooltip="{{localize "RQG.Actor.Gear.ViewByItemType"}}" data-group="gear-view" data-tab="by-item-type">
    <img src="{{gearViewIcon 'byItemType'}}"> {{localize "RQG.Actor.Gear.ViewByItemType"}}
  </h3>
  <h3 class="item" data-tooltip="{{localize "RQG.Actor.Gear.ViewByLocation"}}" data-group="gear-view" data-tab="by-location">
    <img src="{{gearViewIcon 'byLocation'}}"> {{localize "RQG.Actor.Gear.ViewByLocation"}}
  </h3>
</nav>

{{#if itemLoopMessage}}<h2 class="warning">{{itemLoopMessage}}</h2>{{/if}}

<section class="gear-body">
  {{!-- View by location --}}
  <div class="tab by-location" data-group="gear-view" data-tab="by-location">
    <article>
      <h2>{{localize "RQG.Actor.Gear.Gear"}}</h2>
      <div class="grid location-row">
        <div class="headings"></div>
        <div class="head1">{{localize "RQG.Actor.Gear.Name"}}</div>
        <div class="head2" style="width:45px">{{localize "RQG.Actor.Gear.EncumbranceAbbr"}}</div>
        <div class="head3"></div>
        <div class="head4" style="width:85px">{{localize "RQG.Actor.Gear.Location"}}</div>
      </div>
      <ul class="location virtual item-list">
        {{#each itemLocationTree.contains}}
          {{> "systems/rqg/actors/sheet-parts/gear-tab/physical-item-location.hbs"}}
        {{/each}}
      </ul>
    </article>
  </div>

  {{!-- View by item type --}}
  <div class="tab by-item-type" data-group="gear-view" data-tab="by-item-type">
    <div class="gear-wrapper flex-row">
      {{!-- Gear --}}
      <article class="flex-1">
        <h2>{{localize "RQG.Actor.Gear.Gear"}}</h2>
        <div class="grid gear item-list">
          <div class="headings"></div>
          <div class="head1"><button class="sort" data-sort-items="gear" data-tooltip="{{localize "RQG.UI.SortItems"}}"><i class="fas fa-arrow-down-a-z"></i></button></div>
          <div class="head2">{{localize "RQG.Actor.Gear.Name"}}</div>
          <div class="head3"></div>
          <div class="head4"><span class="text-right">{{localize "RQG.Actor.Gear.Price"}}</span></div>
          <div class="head5"><span class="text-right">{{localize "RQG.Actor.Gear.EncumbranceAbbr"}}</span></div>
          <div class="head6"></div>
          <div class="head7">{{localize "RQG.Actor.Gear.Location"}}</div>
          {{#each embeddedItems.gear}}
            {{#if (eq system.physicalItemType "unique")}}
              <div data-item-id="{{id}}" class="gear contextmenu item"><img class="item" src="{{img}}"></div>
              <div data-item-id="{{id}}" class="gear contextmenu item">{{name}}</div>
              <div data-item-id="{{id}}" class="gear contextmenu item">{{!-- TODO REMOVE QUANTITY --}}</div>
              <div data-item-id="{{id}}" class="gear contextmenu item">
                <span class="text-right">
                  {{#if system.price.estimated}}{{currency system.price.estimated 'L'}}{{/if}}
                </span>
              </div>
              <div data-item-id="{{id}}" class="gear contextmenu item">
                <span class="text-right">{{decimalMultiply system.quantity system.encumbrance}}</span>
              </div>
              <div data-item-id="{{id}}" data-item-equipped-toggle class="gear contextmenu item">
                <img class="equipped-status text-center"
                     data-tooltip="{{localize (concat "RQG.Item.EquippedStatus." system.equippedStatus)}}"
                     src="{{equippedIcon system.equippedStatus}}">
              </div>
              <div data-item-id="{{id}}" class="gear contextmenu item">
                <input type="text" list="locations" data-item-edit-value="system.location" value="{{system.location}}"
                       size="10">
              </div>
            {{/if}}
          {{/each}}
        </div>
      </article>

      {{!-- Currency --}}
      <div class="flex-1">
        <article>
          <h2>{{localize "RQG.Actor.Gear.Currency"}}</h2>
          <div class="grid gear item-list">
            <div class="headings"></div>
            <div class="head1"></div>
            <div class="head2">{{localize "RQG.Actor.Gear.Name"}}</div>
            <div class="head3"><span class="text-right">{{localize "RQG.Actor.Gear.QuantityAbbr"}}</span></div>
            <div class="head4"><span class="text-right">{{localize "RQG.Actor.Gear.ExtendedAbbr"}}</span></div>
            <div class="head5"><span class="text-right">{{localize "RQG.Actor.Gear.EncumbranceAbbr"}}</span></div>
            <div class="head6"></div>
            <div class="head7">{{localize "RQG.Actor.Gear.Location"}}</div>
            {{#each embeddedItems.currency}}
              <div data-item-id="{{id}}" class="gear contextmenu item"><img class="item" src="{{img}}"></div>
              <div data-item-id="{{id}}" class="gear contextmenu item"
                   data-tooltip="{{system.price.conversion}}">{{name}}</div>
              <div data-item-id="{{id}}" class="gear contextmenu item">
                <span class="text-right"><input type="number" min="0" max="999999"
                                                data-item-edit-value="system.quantity"
                                                value="{{system.quantity}}"></span>
              </div>
              <div data-item-id="{{id}}" class="gear contextmenu item">
                <span class="text-right">{{#if system.price.estimated}}
                  {{multiplyCurrency system.quantity system.price.estimated 'L'}}
                {{/if}}</span>
              </div>
              <div data-item-id="{{id}}" class="gear contextmenu pad-left item">
                <span class="text-right">{{decimalMultiply system.quantity system.encumbrance}}</span>
              </div>
              <div data-item-id="{{id}}" data-item-equipped-toggle class="gear contextmenu item">
                <img class="equipped-status text-center"
                     data-tooltip="{{localize (concat "RQG.Item.EquippedStatus." system.equippedStatus)}}"
                     src="{{equippedIcon system.equippedStatus}}">
              </div>
              <div data-item-id="{{id}}" class="gear contextmenu item">
                <input type="text" list="locations" data-item-edit-value="system.location" value="{{system.location}}"
                       size="10">
              </div>
            {{/each}}
            <div class="no-background"></div>
            <div class="no-background">{{localize "RQG.Actor.Gear.Total"}}</div>
            <div class="no-background"><span class="text-right"></span></div>
            <div class="no-background"><span class="text-right">{{currency currencyTotals.price.estimated 'L'}}</span></div>
            <div class="no-background"><span class="text-right">{{decimalMultiply 1 currencyTotals.encumbrance}}</span></div>
            <div class="no-background"></div>
            <div class="no-background"></div>
            <div class="footer"></div>
          </div>
        </article>

        {{!--Consumables--}}
        <article>
          <h2>{{localize "RQG.Actor.Gear.Consumables"}}</h2>
          <div class="grid gear item-list">
            <div class="headings"></div>
            <div class="head1"></div>
            <div class="head2">{{localize "RQG.Actor.Gear.Name"}}</div>
            <div class="head3"><span class="text-right">{{localize "RQG.Actor.Gear.QuantityAbbr"}}</span></div>
            <div class="head4"><span class="text-right">{{localize "RQG.Actor.Gear.Price"}}</span></div>
            <div class="head5"><span class="text-right">{{localize "RQG.Actor.Gear.EncumbranceAbbr"}}</span></div>
            <div class="head6"></div>
            <div class="head7">{{localize "RQG.Actor.Gear.Location"}}</div>
            {{#each embeddedItems.gear}}
              {{#if (eq system.physicalItemType "consumable")}}
                <div data-item-id="{{id}}" class="gear contextmenu item"><img class="item" src="{{img}}"></div>
                <div data-item-id="{{id}}" class="gear contextmenu item">{{name}}</div>
                <div data-item-id="{{id}}" class="gear contextmenu item">
                <span class="text-right"><input type="number" min="0" max="999999"
                                          data-item-edit-value="system.quantity"
                                          value="{{system.quantity}}"
                ></span>
                </div>
                <div data-item-id="{{id}}" class="gear contextmenu item">
                <span class="text-right">{{#if system.price.estimated}}
                  {{currency system.price.estimated 'L'}}{{/if}}</span>
                </div>
                <div data-item-id="{{id}}" class="gear contextmenu item">
                  <span class="text-right">{{decimalMultiply system.quantity system.encumbrance}}</span>
                </div>
                <div data-item-id="{{id}}" data-item-equipped-toggle class="gear contextmenu item">
                  <img class="equipped-status text-center"
                       data-tooltip="{{localize (concat "RQG.Item.EquippedStatus." system.equippedStatus)}}"
                       src="{{equippedIcon system.equippedStatus}}">
                </div>
                <div data-item-id="{{id}}" class="gear contextmenu item">
                  <input type="text" list="locations" data-item-edit-value="system.location" value="{{system.location}}"
                         size="10">
                </div>
              {{/if}}
            {{/each}}
          </div>
        </article>
      </div>
    </div>

    {{!-- Weapons & Shields --}}
    <article>
      <h2>{{localize "RQG.Actor.Gear.WeaponsAndShields"}}</h2>
      <div class="grid weapon item-list">
        <div class="headings"></div>
        <div class="head1"><button class="sort" data-sort-items="weapon" data-tooltip="{{localize "RQG.UI.SortItems"}}"><i class="fas fa-arrow-down-a-z"></i></button></div>
        <div class="head2">{{localize "RQG.Actor.Gear.Name"}}</div>
        <div class="head3">{{localize "RQG.Actor.Gear.Skill"}}</div>
        <div class="head4"><span class="text-center">{{localize "RQG.Actor.Gear.Damage"}}</span></div>
        <div class="head5"><span class="text-right">{{localize "RQG.Actor.Gear.MinimumStrength"}}</span></div>
        <div class="head6"><span class="text-right">{{localize "RQG.Actor.Gear.MinimumDexterity"}}</span></div>
        <div class="head7"><span class="text-right">{{localize "RQG.Actor.Gear.HitPointsAbbr"}}</span></div>
        <div class="head8"><span class="text-right">{{localize "RQG.Actor.Gear.Price"}}</span></div>
        <div class="head9"><span class="text-right">{{localize "RQG.Actor.Gear.EncumbranceAbbr"}}</span></div>
        <div class="head10"></div>
        <div class="head11">{{localize "RQG.Actor.Gear.Location"}}</div>

        {{#each embeddedItems.weapon}}
          {{#unless system.isNatural}}
            <div data-item-id="{{id}}" class="gear contextmenu item"><img class="item" src="{{img}}"></div>
            <div data-item-id="{{id}}" class="gear contextmenu item">{{name}}
              {{#if (eq system.physicalItemType "consumable")}} ({{system.quantity}}){{/if}}
            </div>
            <div data-item-id="{{id}}" class="gear usagecontainer contextmenu nowrap item">
              {{#each system.usage}}
                {{#if skillId}}
                  <div class="usagecell
                        {{#if unusable}} warning{{/if}}"
                        {{#if unusable}}data-tooltip="{{localize "RQG.Actor.Combat.StrDexMinsNotMetTip"}}"{{/if}}
                  >
                    <span class="combat contextmenu usage {{#if (eq @key "missile")}}missile{{/if}} {{experiencedclass @root.uuid skillId}}"
                          data-skill-id="{{skillId}}" data-item-id="{{../id}}" data-weapon-roll data-tooltip="{{localize "RQG.Game.RollChat"}}">
                          {{skillchance @root.uuid skillId}}%
                    </span>
                    &nbsp; {{skillname @root.uuid skillId}}
                  </div>
                {{/if}}
              {{/each}}
            </div>
            <div data-item-id="{{id}}" class="gear usagecontainer contextmenu item">
              <span class="text-center">
                {{#each system.usage}}
                  {{#if skillId}}
                    <div class="usagecell">
                      {{damage}}
                    </div>
                  {{/if}}
                {{/each}}
              </span>
            </div>
            <div data-item-id="{{id}}" class="gear usagecontainer contextmenu item">
              <span class="text-right">
                {{#each system.usage}}
                  {{#if skillId}}
                    <div class="usagecell {{#if underMinSTR}} warning{{/if}}"
                         {{#if underMinSTR}}data-tooltip="{{localize "RQG.Actor.Combat.StrMinNotMetTip"}}"{{/if}}>
                      {{#if minStrength}}{{minStrength}}{{else}}—{{/if}}
                    </div>
                  {{/if}}
                {{/each}}
              </span>
            </div>
            <div data-item-id="{{id}}" class="gear usagecontainer contextmenu item">
              <span class="text-right">
                {{#each system.usage}}
                  {{#if skillId}}
                    <div class="usagecell {{#if underMinDEX}} warning{{/if}}"
                         {{#if underMinDEX}}data-tooltip="{{localize "RQG.Actor.Combat.DexMinNotMetTip"}}"{{/if}}>
                      {{#if minDexterity}}{{minDexterity}}{{else}}—{{/if}}
                    </div>
                  {{/if}}
                {{/each}}
              </span>
            </div>
            <div data-item-id="{{id}}" class="gear contextmenu item">
              <span class="text-right">{{system.hitPoints.value}}</span>
            </div>
            <div data-item-id="{{id}}" class="gear contextmenu item">
              <span class="text-right">{{#if system.price.estimated}}{{currency system.price.estimated 'L'}}{{/if}}</span>
            </div>
            <div data-item-id="{{id}}" class="gear contextmenu item">
              <span class="text-right">{{decimalMultiply system.quantity system.encumbrance}}</span>
            </div>
            <div data-item-id="{{id}}" data-item-equipped-toggle class="gear contextmenu item">
              <img class="equipped-status text-center"
                   data-tooltip="{{localize (concat "RQG.Item.EquippedStatus." system.equippedStatus)}}"
                   src="{{equippedIcon system.equippedStatus}}">
            </div>
            <div data-item-id="{{id}}" class="gear contextmenu item">
              <input type="text" list="locations" data-item-edit-value="system.location" value="{{system.location}}" size="10">
            </div>
          {{/unless}}
        {{/each}}
      </div>
    </article>

    {{!-- Armor --}}
    <article>
      <h2>{{localize "RQG.Actor.Gear.Armor"}}</h2>
      <div class="grid armor item-list">
        <div class="headings"></div>
        <div class="head1"><button class="sort" data-sort-items="armor" data-tooltip="{{localize "RQG.UI.SortItems"}}"><i class="fas fa-arrow-down-a-z"></i></button></div>
        <div class="head2">{{localize "RQG.Actor.Gear.Name"}}</div>
        <div class="head3"><span class="text-right">{{localize "RQG.Actor.Gear.Absorbs"}}</span></div>
        <div class="head4">{{localize "RQG.Actor.Gear.HitLocations"}}</div>
        <div class="head5"><span class="text-right">{{localize "RQG.Actor.Gear.MoveQuietlyPenalty"}}</span></div>
        <div class="head6"><span class="text-right">{{localize "RQG.Actor.Gear.Price"}}</span></div>
        <div class="head7"><span class="text-right">{{localize "RQG.Actor.Gear.EncumbranceAbbr"}}</span></div>
        <div class="head8"></div>
        <div class="head9">{{localize "RQG.Actor.Gear.Location"}}</div>
        {{#each embeddedItems.armor}}
          <div data-item-id="{{id}}" class="gear contextmenu item"><img class="item" src="{{img}}"></div>
          <div data-item-id="{{id}}" class="gear contextmenu item">{{name}}</div>
          <div data-item-id="{{id}}" class="gear contextmenu item">
            <span class="text-right">{{system.absorbs}}</span>
          </div>
          <div data-item-id="{{id}}" class="gear contextmenu item">[
            {{#each system.hitLocations}}
              {{this}},
            {{/each}}
            ]
          </div>
          <div data-item-id="{{id}}" class="gear contextmenu item">
            <span class="text-right">{{system.moveQuietlyPenalty}}</span>
          </div>
          <div data-item-id="{{id}}" class="gear contextmenu item">
            <span class="text-right">{{#if system.price.estimated}}{{currency system.price.estimated 'L'}}{{/if}}</span>
          </div>
          <div data-item-id="{{id}}" class="gear contextmenu item">
            <span class="text-right">{{decimalMultiply system.quantity system.encumbrance}}</span>
          </div>
          <div data-item-id="{{id}}" data-item-equipped-toggle class="gear contextmenu item">
            <img class="equipped-status text-center"
                 data-tooltip="{{localize (concat "RQG.Item.EquippedStatus." system.equippedStatus)}}"
                 src="{{equippedIcon system.equippedStatus}}">
          </div>
          <div data-item-id="{{id}}" class="gear contextmenu item">
            <input type="text" list="locations" data-item-edit-value="system.location" value="{{system.location}}"
                   size="10">
          </div>
        {{/each}}
      </div>
    </article>
  </div>

  {{!-- Encumbrance totals --}}
  <div class="enc-totals">
        <div>{{localize "RQG.Actor.Gear.MaxEnc"}} {{system.attributes.encumbrance.max}}</div>

        <div {{#if (gt system.attributes.encumbrance.equipped system.attributes.encumbrance.max)}}class="warning" data-tooltip="{{localize "RQG.Actor.Gear.OverWeight"}}"{{/if}}>
          <img class="equipped-status" src="systems/rqg/assets/images/equipped/equipped.svg">
          {{localize "RQG.Actor.Attributes.EncumbranceAbbr"}}
          {{system.attributes.encumbrance.equipped}}
        </div>

    <div {{#if (gt system.attributes.encumbrance.travel system.attributes.encumbrance.max)}}class="warning" data-tooltip="{{localize "RQG.Actor.Gear.OverWeight"}}"{{/if}}>
      <img class="equipped-status" src="systems/rqg/assets/images/equipped/carried.svg">
      {{localize "RQG.Actor.Attributes.EncumbranceAbbr"}}
      {{system.attributes.encumbrance.travel}}
    </div>
  </div>
</section>

<datalist id="locations">
  {{#each locations}}
    <option value="{{this}}">{{this}}</option>
  {{/each}}
</datalist>
