<li class="{{#if isVirtual}}virtual{{else}}gear contextmenu{{/if}} item" data-item-id="{{id}}">
  <div class="grid location-row">
    <div>
      {{#if isContainer}}<i class="fas fa-folder-open"> </i>{{/if}}
      {{#unless (eq physicalItemType "unique")}} {{this.quantity}} {{/unless}}
      {{name}}
    </div>

    <div>{{#unless isVirtual}}{{decimalMultiply quantity encumbrance}}{{/unless}}</div>

      <div>
        <img data-item-equipped-toggle class="equipped-status text-center" data-tooltip="{{equippedStatus}}"
             src="{{equippedIcon equippedStatus}}">
      </div>

    <div>
      {{#if isVirtual}}
        <div style="width:5rem"></div>
      {{else}}
        <input type="text" list="locations" data-item-edit-value="system.location" value="{{location}}" size="10">
      {{/if}}
    </div>
  </div>
  <ul class="{{#if contains}}container{{/if}}">
    {{#each contains}}
      {{> "systems/rqg/actors/sheet-parts/gear-tab/physical-item-location.hbs"}}
    {{/each}}
  </ul>
</li>
