<div class="rqg">
    <h3>Rolled a Hit Location for {{actor.name}}</h3>
    <p>Hit {{hitLocation.name}}</p>


    <div class="grid hit-location item-list">
        <div class="headings"></div>
        <div class="head1"></div>
        <div class="head2"></div>
        <div class="head3"></div>
        <div class="head4">
        {{localize "RQG.Actor.Health.HitLocation"}}
        </div>
        <div class="head5 text-right"><span>{{localize "RQG.Actor.Health.ArmorPointsAbbr"}}</span></div>
        <div class="head6 text-right"><span>{{localize "RQG.Actor.Health.HitPointsAbbr"}}</span></div>
        <div class="head7 text-right">{{localize "RQG.Actor.Health.Wounds"}}</div>

        <div class="hit-location contextmenu item" data-item-id="{{id}}">
            <span class="text-right no-wrap">{{hitLocation.system.dieFrom}}</span>
        </div>
        <div class="hit-location contextmenu item" data-item-id="{{id}}">-</div>
        <div class="hit-location contextmenu item" data-item-id="{{id}}">
            <span class="text-right no-wrap">{{hitLocation.system.dieTo}}</span>
        </div>
        <div class="hit-location contextmenu item" data-item-id="{{id}}">
          {{hitLocation.name}}
          {{#unless (eq hitLocation.system.hitLocationHealthState "healthy")}}
            <i class="health-state">&nbsp;{{toLowerCase (localize (concat "RQG.Item.HitLocation.HealthStatusEnum." hitLocation.system.hitLocationHealthState))}}</i>
          {{/unless}}
        </div>
        <div class="hit-location contextmenu item" data-item-id="{{id}}"><span class="text-right">{{hitLocation.system.armorPoints}}</span></div>
        <div class="hit-location contextmenu item" data-item-id="{{id}}"><span class="text-right nowrap{{#unless (eq hitLocation.system.hitPoints.value hitLocation.system.hitPoints.max)}} strike{{/unless}}">{{hitLocation.system.hitPoints.max}}</span>{{#unless (eq hitLocation.system.hitPoints.value hitLocation.system.hitPoints.max)}} <span class="text-right">{{hitLocation.system.hitPoints.value}}</span>{{/unless}}</div>
        <div class="hit-location contextmenu item" data-item-id="{{id}}">
          <div data-item-heal-wound title="{{localize "RQG.Actor.Health.HealWound"}}" class="text-right nowrap">
            {{#each hitLocation.system.wounds}}
            <i class="fas fa-notes-medical"></i> {{this}}
            {{/each}}
          </div>
          <div class="ml-5 text-right" title="{{localize "RQG.Actor.Health.AddWound"}}" data-item-add-wound><i class="fas fa-hand-holding-medical"></i></div>
        </div>

    </div>    
</div>
