<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" data-tooltip="{{name}}">
    {{#if isGM}}
      <div class="label-above">
        <label for="name-{{id}}">{{localize "RQG.Item.HitLocation.Name"}}</label>
        <select
          id="name-{{id}}"
          name="name">
          {{#select name}}
            {{#each allHitLocations}}
              <option value="{{this}}">{{this}}</option>
            {{/each}}
          {{/select}}
        </select>
      </div>

    {{else}}
      {{name}}
    {{/if}}

  </header>
  <main>

    {{! Sheet Tab Navigation }}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      {{#if isEmbedded}}
        <a class="item" data-tab="hit-location">{{localize "RQG.Item.SheetTab.HitLocation"}}</a>
      {{/if}}
      {{#if isGM}}
        <a class="item" data-tab="hit-location-definition">{{localize "RQG.Item.SheetTab.HitLocationDefinition"}}</a>
      {{/if}}
    </nav>

    <section class="sheet-body">
      {{!-- Hit Location Tab --}}
      <div class="tab" data-group="primary" data-tab="hit-location">

          <div class="key-value-grid">

            <label for="health-status-{{id}}">{{localize "RQG.Item.HitLocation.HealthStatus"}}</label>
            <select id="health-status-{{id}}" name="system.hitLocationHealthState">
              {{#select system.hitLocationHealthState}}
                {{#each hitLocationHealthStatuses}}
                  <option value="{{this}}">{{localize (concat "RQG.Item.HitLocation.HealthStatusEnum." this)}}</option>
                {{/each}}
              {{/select}}
            </select>

          <label for="hit-points-value-{{id}}">{{localize "RQG.Item.HitLocation.HitPoints"}}</label>
          <div>
            <input id="hit-points-value-{{id}}"
              name="system.hitPoints.value"
              type="number"
              min="0" max="99" value="{{system.hitPoints.value}}"> /
            {{system.hitPoints.max}}
          </div>

          <label>{{localize "RQG.Item.HitLocation.ArmorPoints"}}</label>
          {{system.armorPoints}}

          <label>{{localize "RQG.Item.HitLocation.Wounds"}}</label>
          <div data-item-heal-wound data-tooltip="{{localize "RQG.Actor.Health.HealWound"}}">
          {{#each system.wounds}}
            <i class="fas fa-notes-medical"></i> {{this}}
          {{/each}}
          </div>

        </div>
      </div>

      {{!-- Hit Location Definition Tab --}}
      <div class="tab" data-group="primary" data-tab="hit-location-definition">
        <div class="key-value-grid">
          <label for="act-as-{{id}}">{{localize "RQG.Item.HitLocation.ActAs"}}</label>
          <select id="act-as-{{id}}" name="system.hitLocationType">
            {{#select system.hitLocationType}}
              {{#each hitLocationTypes}}
                <option value="{{this}}">{{localize (concat "RQG.Item.HitLocationType." this)}}</option>
              {{/each}}
            {{/select}}
          </select>

          {{#if (eq system.hitLocationType "limb")}}
          <label for="connected-to-{{id}}">{{localize "RQG.Item.HitLocation.ConnectedTo"}}</label>
          <select id="connected-to-{{id}}" name="system.connectedTo">
            {{#select system.connectedTo}}
              {{#each allHitLocations}}
                <option value="{{this}}">{{this}}</option>
              {{/each}}
            {{/select}}
          </select>
          {{/if}}

          <label for="hit-location-on-from-{{id}}">{{localize "RQG.Item.HitLocation.HitLocationOn"}}</label>
          <div>
            <input
              id="hit-location-on-from-{{id}}"
              name="system.dieFrom"
              value="{{system.dieFrom}}"
              type="number"
              min="1"
              max="20">
            -
            <input
              name="system.dieTo"
              value="{{system.dieTo}}"
              type="number"
              min="1"
              max="20">
          </div>

          <label for="natural-armor-points-{{id}}">{{localize "RQG.Item.HitLocation.NaturalArmorPoints"}}</label>
          <input
            id="natural-armor-points-{{id}}"
            name="system.naturalAp"
            value="{{system.naturalAp}}"
            type="number"
            min="0"
            max="99">

          <label for="base-hp-delta-{{id}}">{{localize "RQG.Item.HitLocation.BaseHPDelta"}}</label>
          <input
            id="base-hp-delta-{{id}}"
            name="system.baseHpDelta"
            value="{{system.baseHpDelta}}"
            type="number"
            min="-9"
            max="9">
        </div>
      </div>
    </section>
  </main>
</form>
