<div class="key-value-grid rqid-editor-main">
    <label for="rqid-editor">{{localize "RQG.RQGSystem.Rqid.Id"}}</label>
    <div class="input-button">
      <label class="rqid-input-group" for="rqid-editor">
        {{#if parentRqid}}<span class="parent-rqid rqid-prefix">{{parentRqid}}.</span>{{/if}}
        <span class="rqid-prefix">{{rqidDocumentNamePart}}</span>
        <input type="text" id="rqid-editor" name="rqidNamePart" value="{{rqidNamePart}}" />
      </label>
      <button type="button" class="generate-rqid" data-tooltip="{{localize "RQG.RQGSystem.Rqid.GenerateDefault"}}" data-generate-default-rqid><i
        class="fas fa-wand-magic-sparkles"></i></button>
    </div>

    {{#if parentMissingRqid}}
      <div class="fullrow warning">
        <i class="fas fa-exclamation-triangle"></i>
        {{localize "RQG.RQGSystem.EmbeddedDocumentParentMissingRqid"}}
      {{#if parentUuid}}
        <a
          class="open-parent-rqid-link"
          data-open-parent-rqid-editor
          data-parent-document-uuid="{{parentUuid}}"
        >
          <i class="fas fa-fingerprint"></i>
          {{localize "RQG.RQGSystem.OpenParentRqidEditor"}}
        </a>
      {{/if}}
      </div>
    {{/if}}

    <label for="rqidLang-editor">{{localize "RQG.RQGSystem.Rqid.Language"}}</label>
    <select id="rqidLang-editor" name="flags.rqg.documentRqidFlags.lang">
      {{selectOptions supportedLanguagesOptions selected=flags.rqg.documentRqidFlags.lang}}
    </select>

    <label for="rqid-priority-editor">{{localize "RQG.RQGSystem.Rqid.rqidPriority"}}</label>
    <input
      type="number"
      id="rqid-priority-editor"
      name="flags.rqg.documentRqidFlags.priority"
      value="{{flags.rqg.documentRqidFlags.priority}}"
    />
  </div>
