<form data-document-uuid="{{uuid}}">
  <div class="key-value-grid">
    <label for="rqid-editor">{{localize "RQG.RQGSystem.rqid"}}</label>
    <div class="input-button">
      <input type="text" id="rqid-editor" name="flags.rqg.documentRqidFlags.id" value="{{data.flags.rqg.documentRqidFlags.id}}" />
      <a title="{{localize "RQG.RQGSystem.GenerateDefaultRqid"}}" data-generate-default-rqid><i class="fas fa-plus"></i></a>
    </div>

    <label for="rqidLang-editor">{{localize "RQG.RQGSystem.rqidLang"}}</label>
    <select
      id="rqidLang-editor"
      name="flags.rqg.documentRqidFlags.lang">
      {{#select data.flags.rqg.documentRqidFlags.lang}}
        {{#each supportedLanguages}}
          <option value="{{@key}}">{{this}} ({{@key}})</option>
        {{/each}}
      {{/select}}
    </select>

    <label for="rqidPriority-editor">{{localize "RQG.RQGSystem.rqidPriority"}}</label>
    <input
      type="number"
      id="rqidPriority-editor"
      name="flags.rqg.documentRqidFlags.priority"
      value="{{data.flags.rqg.documentRqidFlags.priority}}"
    />
  </div>

  <fieldset class="key-value-grid">
    <legend>Info</legend>
    {{#if data.flags.rqg.documentRqidFlags.id}}
    <label>{{localize "RQG.RQGSystem.OtherDocumentsHeader"}}</label>
    <div>
      <details>
        <summary>{{localize 'RQG.RQGSystem.DocsInWorld' count=worldDuplicates}}{{#if warnDuplicateWorldPriority}} <span class="warning"><i class="fas fa-exclamation-triangle"></i>{{localize "RQG.RQGSystem.DuplicateWarning"}}</span>{{/if}}</summary>
        <table>
          <tr>
            <td><b>Priority</b></td>
            <td><b>Link</b></td>
            <td><b>Folder</b></td>
          </tr>

          {{#each worldDocumentInfo}}
            <tr>
              <td>{{priority}}</td>
              <td>{{{link}}}</td>
              <td>{{folder}}</td>
            </tr>
          {{/each}}
        </table>
      </details>

      <details>
        <summary>{{localize 'RQG.RQGSystem.DocsInCompendiums' count=compendiumDuplicates}}{{#if warnDuplicateCompendiumPriority}} <span class="warning"><i class="fas fa-exclamation-triangle"></i>{{localize "RQG.RQGSystem.DuplicateWarning"}}</span>{{/if}}</summary>
        <table>
          <tr>
            <td><b>Priority</b></td>
            <td><b>Link</b></td>
            <td><b>Compendium</b></td>
          </tr>

          {{#each compendiumDocumentInfo}}
            <tr>
              <td>{{priority}}</td>
              <td>{{{link}}}</td>
              <td>{{{compendium}}}</td>
            </tr>
          {{/each}}
        </table>
      </details>
    </div>
    {{/if}}

  <label>{{localize "RQG.RQGSystem.FoundryId"}}</label>
  <div class="input-button">
    <input type="text" value="{{id}}" readonly>
    <a title="{{localize "RQG.RQGSystem.CopyInputValue"}}" data-item-copy-input>
      <i class="fas fa-copy"></i>
    </a>
  </div>

  {{#if parentId}}
    <label>{{localize "RQG.RQGSystem.ParentFoundryId"}}</label>
    <div class="input-button">
      <input type="text" value="{{parentId}}" readonly>
      <a title="{{localize "RQG.RQGSystem.CopyInputValue"}}" data-item-copy-input>
        <i class="fas fa-copy"></i>
      </a>
    </div>
  {{/if}}

  <label>{{localize "RQG.RQGSystem.FoundryUuid"}}</label>
  <div class="input-button">
    <input type="text" value="{{uuid}}" readonly>
    <a title="{{localize "RQG.RQGSystem.CopyInputValue"}}" data-item-copy-input>
      <i class="fas fa-copy"></i>
    </a>
  </div>

  <label>{{localize "RQG.RQGSystem.GetThisDocument"}}</label>
  <div class="input-button">
    <input type="text" value='await fromUuid("{{uuid}}")' readonly>
    <a title="{{localize "RQG.RQGSystem.CopyInputValue"}}" data-item-copy-input>
      <i class="fas fa-copy"></i>
    </a>
  </div>

  {{#if data.flags.rqg.documentRqidFlags.id}}
  <label>{{localize "RQG.RQGSystem.GetDocumentLikeThis"}}</label>
  <div class="input-button">
    <input type="text"
      value='await game.system.api.rqid.fromRqid("{{data.flags.rqg.documentRqidFlags.id}}","{{data.flags.rqg.documentRqidFlags.lang}}")'
      readonly>
    <a title="{{localize "RQG.RQGSystem.CopyInputValue"}}" data-item-copy-input>
      <i class="fas fa-copy"></i>
    </a>
  </div>
  {{/if}}
</fieldset>
</form>
