<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" title="{{name}}" />

    <div class="flex-column gap03rem">
      <div class="property-line">

        <div class="label-above" data-target-drop-property="homelandJournalRqidLink">
          <label for="homeland-{{id}}">{{localize "RQG.Item.Homeland.Homeland"}}</label>
          <input type="text"
                 id="homeland-{{id}}"
                 name="system.homeland"
                 value="{{system.homeland}}">
          {{> "systems/rqg/items/sheet-parts/rqidLinkTarget.hbs"
            rqidLink=system.homelandJournalRqidLink
            parentField="homelandJournalRqidLink"
            dropTypes="JournalEntry"
            showDeleteFromPropertyName="homelandJournalRqidLink"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
            showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
          }}
        </div>

        <div class="label-above parens" data-target-drop-property="regionJournalRqidLink">
          <label for="region-{{id}}">{{localize "RQG.Item.Homeland.Region"}}</label>
          <div>
            ( <input type="text" id="region-{{id}}" name="system.region" value="{{system.region}}"> )
          </div>

          {{> "systems/rqg/items/sheet-parts/rqidLinkTarget.hbs"
            rqidLink=system.regionJournalRqidLink
            parentField="regionJournalRqidLink"
            dropTypes="JournalEntry"
            showDeleteFromPropertyName="regionJournalRqidLink"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
            showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
          }}
        </div>
      </div>
    </div>
  </header>

  <main>

    {{!-- Sheet Tab Navigation --}}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="homeland">{{localize "RQG.Item.SheetTab.Homeland"}}</a>
      <a class="item" data-tab="wizardInstructions">{{localize "RQG.Item.SheetTab.WizardInstructions"}}</a>
    </nav>

    <section class="sheet-body">
      {{!-- Homeland Tab --}}
      <div class="tab" data-group="primary" data-tab="homeland">

        <div class="item-sheet-properties">

          <label>{{localize "RQG.Item.Homeland.CultureJournalEntries"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayTarget.hbs"
            rqidLinkArray=system.cultureJournalRqidLinks
            parentField="cultureJournalRqidLinks"
            dropTypes="JournalEntry"
            showDeleteFromPropertyName="cultureJournalRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          }}

          <label>{{localize "RQG.Item.Homeland.TribeJournalEntries"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayTarget.hbs"
            rqidLinkArray=system.tribeJournalRqidLinks
            parentField="tribeJournalRqidLinks"
            dropTypes="JournalEntry"
            showDeleteFromPropertyName="tribeJournalRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          }}

          <label>{{localize "RQG.Item.Homeland.ClanJournalEntries"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayTarget.hbs"
            rqidLinkArray=system.clanJournalRqidLinks
            parentField="clanJournalRqidLinks"
            dropTypes="JournalEntry"
            showDeleteFromPropertyName="clanJournalRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          }}

          <label>{{localize "RQG.Item.Homeland.CultLinks"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayTarget.hbs"
            rqidLinkArray=system.cultRqidLinks
            parentField="cultRqidLinks"
            dropTypes="cult"
            showDeleteFromPropertyName="cultRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectCult"
          }}

          <label>{{localize "RQG.Item.Homeland.SkillLinks"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayTarget.hbs"
            rqidLinkArray=system.skillRqidLinks
            parentField="skillRqidLinks"
            dropTypes="skill"
            showDeleteFromPropertyName="skillRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectSkill"
            showBonus=true
            editBonusPropertyName="skillRqidLinks"
          }}

          <label>{{localize "RQG.Item.Homeland.RuneLinks"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayTarget.hbs"
            rqidLinkArray=system.runeRqidLinks
            parentField="runeRqidLinks"
            dropTypes="rune"
            showDeleteFromPropertyName="runeRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectRune"
          }}

          <label>{{localize "RQG.Item.Homeland.PassionLinks"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayTarget.hbs"
            rqidLinkArray=system.passionRqidLinks
            parentField="passionRqidLinks"
            dropTypes="passion"
            showDeleteFromPropertyName="passionRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectPassion"
          }}
        </div>
      </div>

      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="wizardInstructions">
        {{editor
          enrichedWizardInstructions
          target="system.wizardInstructions"
          button=true
          editable=isEditable
        }}
      </div>
    </section>
  </main>
</form>
