<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" data-tooltip="{{name}}" />

    <div class="flex-column gap03rem">
      <div class="property-line">

        <div class="label-above"
             data-dropzone="homelandJournalRqidLink"
             data-dropzone-document-names="JournalEntry, JournalEntryPage">
          <label for="homeland-{{id}}">{{localize "RQG.Item.Homeland.Homeland"}}</label>
          <input type="text"
                 id="homeland-{{id}}"
                 name="system.homeland"
                 value="{{system.homeland}}">
          <div class="drop-target">
            {{> rqidLink
              rqidLink=system.homelandJournalRqidLink
              showDeleteFromPropertyName="homelandJournalRqidLink"
              showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
              showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
            }}
          </div>
        </div>

        <div class="label-above parens"
             data-dropzone="regionJournalRqidLink"
             data-dropzone-document-names="JournalEntry, JournalEntryPage">
          <label for="region-{{id}}">{{localize "RQG.Item.Homeland.Region"}}</label>
          <div>
            ( <input type="text" id="region-{{id}}" name="system.region" value="{{system.region}}"> )
          </div>
          <div class="drop-target">
            {{> rqidLink
              rqidLink=system.regionJournalRqidLink
              showDeleteFromPropertyName="regionJournalRqidLink"
              dropzoneData="regionJournalRqidLink"
              showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
              showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
            }}
          </div>
        </div>
      </div>
    </div>
  </header>

  <main>

    {{!-- Sheet Tab Navigation --}}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="homeland">{{localize "RQG.Item.SheetTab.Homeland"}}</a>
      <a class="item" data-tab="wizardInstructions">{{localize "RQG.Item.SheetTab.WizardInstructions"}}</a>
    </nav>

    <section class="sheet-body">
      {{!-- Homeland Tab --}}
      <div class="tab" data-group="primary" data-tab="homeland">

        <div class="key-value-grid">

          <label>{{localize "RQG.Item.Homeland.CultureJournalEntries"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.cultureJournalRqidLinks
            dropzoneData="cultureJournalRqidLinks"
            dropDocumentNames="JournalEntry, JournalEntryPage"
            showDeleteFromPropertyName="cultureJournalRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          }}

          <label>{{localize "RQG.Item.Homeland.TribeJournalEntries"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.tribeJournalRqidLinks
            dropzoneData="tribeJournalRqidLinks"
            dropDocumentNames="JournalEntry, JournalEntryPage"
            showDeleteFromPropertyName="tribeJournalRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          }}

          <label>{{localize "RQG.Item.Homeland.ClanJournalEntries"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.clanJournalRqidLinks
            dropzoneData="clanJournalRqidLinks"
            dropDocumentNames="JournalEntry, JournalEntryPage"
            showDeleteFromPropertyName="clanJournalRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          }}

          <label>{{localize "RQG.Item.Homeland.CultLinks"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.cultRqidLinks
            dropzoneData="cultRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="cult"
            showDeleteFromPropertyName="cultRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectCult"
          }}

          <label>{{localize "RQG.Item.Homeland.SkillLinks"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.skillRqidLinks
            dropzoneData="skillRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="skill"
            showDeleteFromPropertyName="skillRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectSkill"
            showBonus=true
            editBonusPropertyName="skillRqidLinks"
          }}

          <label>{{localize "RQG.Item.Homeland.RuneLinks"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.runeRqidLinks
            dropzoneData="runeRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="rune"
            showDeleteFromPropertyName="runeRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectRune"
          }}

          <label>{{localize "RQG.Item.Homeland.PassionLinks"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.passionRqidLinks
            dropzoneData="passionRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="passion"
            showDeleteFromPropertyName="passionRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectPassion"
          }}
        </div>
      </div>

      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="wizardInstructions">
        {{editor
          enrichedWizardInstructions
          target="system.wizardInstructions"
          button=true
          editable=isEditable
        }}
      </div>
    </section>
  </main>
</form>
