<form class="{{cssClass}}" autocomplete="off">
  <header class="item-sheet-header">
  
    <div class="item-sheet-header-img">
      <img src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    </div>

    <div class="name-parts-2-equal" data-target-drop-property="homelandJournalRqidLink">
      <div>
        <label for="homeland-{{data._id}}">{{localize "RQG.Item.Homeland.Homeland"}}</label>
        <input type="text" 
            id="homeland-{{data._id}}" 
            name="data.homeland"
            value="{{homelandData.homeland}}">
      </div>

      <div class="paren-head" data-target-drop-property="regionJournalRqidLink">
        <label for="region-{{data._id}}">{{localize "RQG.Item.Homeland.Region"}}</label>
        <div>
          ( <input type="text" id="region-{{data._id}}" name="data.region" value="{{homelandData.region}}"> )
        </div>
      </div>
    </div>

    <div class="name-parts-2-equal">
      {{> "systems/rqg/items/sheet-parts/rqidLinkTarget.hbs"
          rqidLink=homelandData.homelandJournalRqidLink
          parentField="homelandJournalRqidLink"
          dropTypes="JournalEntry"
          showDeleteFromPropertyName="homelandJournalRqidLink"
          showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
      }}

      {{> "systems/rqg/items/sheet-parts/rqidLinkTarget.hbs"
          rqidLink=homelandData.regionJournalRqidLink
          parentField="regionJournalRqidLink"
          dropTypes="JournalEntry"
          showDeleteFromPropertyName="regionJournalRqidLink"
          showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
      }}
      </div>
    </div>

  </header>

  <main>

    {{!-- Sheet Tab Navigation --}}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="homeland">{{localize "RQG.Item.SheetTab.Homeland"}}</a>
      {{#if isGM}}
      <a class="item" data-tab="gm">{{localize "RQG.Item.SheetTab.GM"}}</a>
      {{#unless isEmbedded}}
      <a class="item" data-tab="active-effects">{{localize "RQG.Item.SheetTab.ActiveEffects"}}</a>
      {{/unless}}
      <a class="item" data-tab="rqgsystem">{{localize "RQG.Item.SheetTab.RQGSystem"}}</a>
      {{/if}}
    </nav>

    <section class="sheet-body">
      {{!-- Homeland Tab --}}
      <div class="tab" data-group="primary" data-tab="homeland">
        
        <div class="item-sheet-properties">

          <label>{{localize "RQG.Item.Homeland.CultureJournalEntries"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayTarget.hbs"
            rqidLinkArray=homelandData.cultureJournalRqidLinks
            parentField="cultureJournalRqidLinks"
            dropTypes="JournalEntry"
            showDeleteFromPropertyName="cultureJournalRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          }}

          <label>{{localize "RQG.Item.Homeland.TribeJournalEntries"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayTarget.hbs"
            rqidLinkArray=homelandData.tribeJournalRqidLinks
            parentField="tribeJournalRqidLinks"
            dropTypes="JournalEntry"
            showDeleteFromPropertyName="tribeJournalRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          }}

          <label>{{localize "RQG.Item.Homeland.ClanJournalEntries"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayTarget.hbs"
            rqidLinkArray=homelandData.clanJournalRqidLinks
            parentField="clanJournalRqidLinks"
            dropTypes="JournalEntry"
            showDeleteFromPropertyName="clanJournalRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          }}

          <label>{{localize "RQG.Item.Homeland.CultLinks"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayTarget.hbs"
            rqidLinkArray=homelandData.cultRqidLinks
            parentField="cultRqidLinks"
            dropTypes="cult"
            showDeleteFromPropertyName="cultRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectCult"
          }}

          <label>{{localize "RQG.Item.Homeland.SkillLinks"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayTarget.hbs"
            rqidLinkArray=homelandData.skillRqidLinks
            parentField="skillRqidLinks"
            dropTypes="skill"
            showDeleteFromPropertyName="skillRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectSkill"
            showBonus=true
            editBonusPropertyName="skillRqidLinks"
          }}

          <label>{{localize "RQG.Item.Homeland.RuneLinks"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayTarget.hbs"
            rqidLinkArray=homelandData.runeRqidLinks
            parentField="runeRqidLinks"
            dropTypes="rune"
            showDeleteFromPropertyName="runeRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectRune"
          }}

          <label>{{localize "RQG.Item.Homeland.PassionLinks"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayTarget.hbs"
            rqidLinkArray=homelandData.passionRqidLinks
            parentField="passionRqidLinks"
            dropTypes="passion"
            showDeleteFromPropertyName="passionRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectPassion"
          }}

          <label class="editor-label">{{localize "RQG.Item.Homeland.WizardInstructions"}}</label>
          <div class="editor-container">
            {{editor content=homelandData.wizardInstructions target="data.wizardInstructions"
              button=true owner=owner editable=editable}}          
          </div>

        </div> 
        
      </div>

      {{!-- GM Tab --}}
      <div class="tab" data-group="primary" data-tab="gm">

        <label>{{localize "RQG.Item.Gear.GMNotes"}} {{editor content=homelandData.gmNotes target="data.gmNotes"
          button=true owner=owner editable=editable}}
        </label>
      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab" data-group="primary" data-tab="active-effects">
        {{> "systems/rqg/items/sheet-parts/itemActiveEffects.hbs"}}

      </div>

      {{!-- RQG System Tab --}}
      <div class="tab" data-group="primary" data-tab="rqgsystem">
        {{> "systems/rqg/items/sheet-parts/itemRqgSystem.hbs"
          itemData=homelandData
        }}
      </div>

    </section>

  </main>

</form>