<form class="{{cssClass}}" autocomplete="off">
  <header class="item-sheet-header">
  
    <div class="item-sheet-header-img">
      <img src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    </div>

    <div class="name-parts-2-equal">
      <div>
        <label for="homeland-{{data._id}}" 
            data-journal-target="homelandJournalLink">{{localize "RQG.Item.Homeland.Homeland"}}</label>
        <input type="text" 
            id="homeland-{{data._id}}" 
            name="data.homeland"  
            data-journal-target="homelandJournalLink" 
            value="{{homelandData.homeland}}">
      </div>

      <div class="paren-head">
        <label for="region-{{data._id}}">{{localize "RQG.Item.Homeland.Region"}}</label>
        <div>
          ( <input type="text" id="region-{{data._id}}" name="data.region" value="{{homelandData.region}}"> )
        </div>
      </div>
    </div>

    <div class="name-parts-2-equal">
      <div class="journal-drop-target item-sheet-journal-link" data-journal-target="homelandJournalLink">
        {{#if homelandData.homelandJournalLink.journalPack}}
          <a
            class="entity-link content-link"
            data-pack="{{homelandData.homelandJournalLink.journalPack}}"
            data-id="{{homelandData.homelandJournalLink.journalId}}"
            title="{{localize
              'RQG.Foundry.ContentLink.CompendiumNameTitle'
              compendiumName=homelandData.homelandJournalLink.journalPack
            }}"
          >
            <i class="fas fa-book-open"></i>
            {{homelandData.homelandJournalLink.journalName}}
          </a>
          <i
            class="fas fa-info-circle"
            title="{{localize 'RQG.Foundry.ContentLink.DropToReplaceJournal'}}"
          ></i>
        {{else if homelandData.homelandJournalLink.journalId}}
          <a
            class="entity-link content-link"
            data-type="JournalEntry"
            data-id="{{homelandData.homelandJournalLink.journalId}}"
            title="{{localize 'RQG.Foundry.ContentLink.WorldJournalEntry'}}"
          >
            <i class="fas fa-book-open"></i>
            {{homelandData.homelandJournalLink.journalName}}
          </a>
          <i
            class="fas fa-info-circle"
            title="{{localize 'RQG.Foundry.ContentLink.DropToReplaceJournal'}}"
          ></i>
        {{else}}
          <i
            class="fas fa-info-circle"
            title="{{localize 'RQG.Foundry.ContentLink.DropToConnectJournal'}}"
          ></i>
        {{/if}}
      </div>
      <div class="journal-drop-target item-sheet-journal-link" data-journal-target="regionJournalLink">
        {{#if homelandData.regionJournalLink.journalPack}}
          <a
            class="entity-link content-link"
            data-pack="{{homelandData.regionJournalLink.journalPack}}"
            data-id="{{homelandData.regionJournalLink.journalId}}"
            title="{{localize
              'RQG.Foundry.ContentLink.CompendiumNameTitle'
              compendiumName=homelandData.regionJournalLink.journalPack
            }}"
          >
            <i class="fas fa-book-open"></i>
            {{homelandData.regionJournalLink.journalName}}
          </a>
          <i
            class="fas fa-info-circle"
            title="{{localize 'RQG.Foundry.ContentLink.DropToReplaceJournal'}}"
          ></i>
        {{else if homelandData.regionJournalLink.journalId}}
          <a
            class="entity-link content-link"
            data-type="JournalEntry"
            data-id="{{homelandData.regionJournalLink.journalId}}"
            title="{{localize 'RQG.Foundry.ContentLink.WorldJournalEntry'}}"
          >
            <i class="fas fa-book-open"></i>
            {{homelandData.regionJournalLink.journalName}}
          </a>
          <i
            class="fas fa-info-circle"
            title="{{localize 'RQG.Foundry.ContentLink.DropToReplaceJournal'}}"
          ></i>
        {{else}}
          <i
            class="fas fa-info-circle"
            title="{{localize 'RQG.Foundry.ContentLink.DropToConnectJournal'}}"
          ></i>
        {{/if}}
      </div>
    </div>

  </header>

  <main>


    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="homeland">{{localize "RQG.Item.SheetTab.Homeland"}}</a>
      {{#if isGM}}
      <a class="item" data-tab="gm">{{localize "RQG.Item.SheetTab.GM"}}</a>
      {{#unless isEmbedded}}
      <a class="item" data-tab="active-effects">{{localize "RQG.Item.SheetTab.ActiveEffects"}}</a>
      {{/unless}}
      <a class="item" data-tab="rqgsystem">{{localize "RQG.Item.SheetTab.RQGSystem"}}</a>
      {{/if}}
    </nav>

    <section class="sheet-body">
      {{!-- Passion Tab --}}
      <div class="tab" data-group="primary" data-tab="homeland">
        
        <div class="item-sheet-properties">

          <label for="culture-names-{{data._id}}">{{localize "RQG.Item.Homeland.CultureNames"}}</label>
          <span>{{sheetSpecific.cultureNamesFormatted}}</span>

          <label>{{localize "RQG.Item.Homeland.CultureJournalEntries"}}</label>
          <div class="journal-drop-target item-sheet-journal-link" data-journal-target="cultureJournalLinks">
            {{#each homelandData.cultureJournalLinks}}
            {{#if this.journalPack}}
              <a
                class="entity-link content-link"
                data-pack="{{this.journalPack}}"
                data-id="{{this.journalId}}"
                title="{{localize
                  'RQG.Foundry.ContentLink.CompendiumNameTitle'
                  compendiumName=this.journalPack
                }}"
              >
                <i class="fas fa-book-open"></i>
                {{this.journalName}}
              </a>
            {{else if this.journalId}}
              <a
                class="entity-link content-link"
                data-type="JournalEntry"
                data-id="{{this.journalId}}"
                title="{{localize 'RQG.Foundry.ContentLink.WorldJournalEntry'}}"
              >
                <i class="fas fa-book-open"></i>
                {{this.journalName}}
              </a>
            {{else}}
              <i
                class="fas fa-info-circle"
                title="{{localize 'RQG.Foundry.ContentLink.DropToConnectJournal'}}"
              ></i>
            {{/if}}
            {{/each}}
            {{#unless homelandData.cultureJournalLinks.length}}
            <i
              class="fas fa-info-circle"
              style="width: 50px;"
              title="{{localize 'RQG.Foundry.ContentLink.DropToConnectJournal'}}"
            ></i>
            {{/unless}}
          </div>

          <label>{{localize "RQG.Item.Homeland.Cults"}}</label>
          <div class="journal-drop-target item-sheet-journal-link" data-journal-target="cultRqids">
          </div>  
        </div> 

      </div>

      {{!-- GM Tab --}}
      <div class="tab" data-group="primary" data-tab="gm">

        <label>{{localize "RQG.Item.Gear.GMNotes"}} {{editor content=passionData.gmNotes target="data.gmNotes"
          button=true owner=owner editable=editable}}
        </label>
      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab" data-group="primary" data-tab="active-effects">
        {{> "systems/rqg/items/sheet-parts/itemActiveEffects.hbs"}}

      </div>


      {{!-- RQG System Tab --}}
      <div class="tab" data-group="primary" data-tab="rqgsystem">
        {{> "systems/rqg/items/sheet-parts/itemRqgSystem.hbs"
          itemData=homelandData
        }}
      </div>

    </section>

  </main>

</form>