<form class="{{cssClass}}" autocomplete="off">
  <header class="item-sheet-header">
  
    <div class="item-sheet-header-img">
      <img src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    </div>

    <div class="name-parts-2-equal" data-journal-target="homelandJournalLink">
      <div>
        <label for="homeland-{{data._id}}">{{localize "RQG.Item.Homeland.Homeland"}}</label>
        <input type="text" 
            id="homeland-{{data._id}}" 
            name="data.homeland"
            value="{{homelandData.homeland}}">
      </div>

      <div class="paren-head" data-journal-target="regionJournalLink">
        <label for="region-{{data._id}}">{{localize "RQG.Item.Homeland.Region"}}</label>
        <div>
          ( <input type="text" id="region-{{data._id}}" name="data.region" value="{{homelandData.region}}"> )
        </div>
      </div>
    </div>

    <div class="name-parts-2-equal">
      <div class="drop-target item-sheet-journal-link" data-journal-target="homelandJournalLink">
        {{> "systems/rqg/items/sheet-parts/journalEntryLink.hbs"
          journalEntryLink=homelandData.homelandJournalLink
          showInfoCircle=true
        }}
      </div>
      <div class="drop-target item-sheet-journal-link" data-journal-target="regionJournalLink">
        {{> "systems/rqg/items/sheet-parts/journalEntryLink.hbs"
          journalEntryLink=homelandData.regionJournalLink
          showInfoCircle=true
        }}
      </div>
    </div>

  </header>

  <main>


    {{!-- Sheet Tab Navigation --}}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="homeland">{{localize "RQG.Item.SheetTab.Homeland"}}</a>
      {{#if isGM}}
      <a class="item" data-tab="gm">{{localize "RQG.Item.SheetTab.GM"}}</a>
      {{#unless isEmbedded}}
      <a class="item" data-tab="active-effects">{{localize "RQG.Item.SheetTab.ActiveEffects"}}</a>
      {{/unless}}
      <a class="item" data-tab="rqgsystem">{{localize "RQG.Item.SheetTab.RQGSystem"}}</a>
      {{/if}}
    </nav>

    <section class="sheet-body">
      {{!-- Homeland Tab --}}
      <div class="tab" data-group="primary" data-tab="homeland">
        
        <div class="item-sheet-properties">

          <label>{{localize "RQG.Item.Homeland.CultureJournalEntries"}}</label>
          <div class="drop-target item-sheet-journal-link" data-journal-target="cultureJournalLinks">
            <div style="display: flex; flex-wrap: wrap;">
              {{#each homelandData.cultureJournalLinks}}
                {{> "systems/rqg/items/sheet-parts/journalEntryLink.hbs"
                  journalEntryLink=this
                  showInfoCircle=false
                }}
              {{/each}}
              {{#unless homelandData.cultureJournalLinks.length}}
              <i
                class="fas fa-info-circle"
                style="width: 50px;"
                title="{{localize 'RQG.Foundry.ContentLink.DropToConnectJournal'}}"
              ></i>
              {{/unless}}              
            </div>
          </div>

          <label>{{localize "RQG.Item.Homeland.TribeJournalEntries"}}</label>
          <div class="drop-target item-sheet-journal-link" data-journal-target="tribeJournalLinks">
            <div style="display: flex; flex-wrap: wrap;">
              {{#each homelandData.tribeJournalLinks}}
                {{> "systems/rqg/items/sheet-parts/journalEntryLink.hbs"
                  journalEntryLink=this
                  showInfoCircle=false
                }}
              {{/each}}
              {{#unless homelandData.tribeJournalLinks.length}}
              <i
                class="fas fa-info-circle"
                style="width: 50px;"
                title="{{localize 'RQG.Foundry.ContentLink.DropToConnectJournal'}}"
              ></i>
              {{/unless}}              
            </div>
          </div>

          <label>{{localize "RQG.Item.Homeland.ClanJournalEntries"}}</label>
          <div class="drop-target item-sheet-journal-link" data-journal-target="clanJournalLinks">
            <div style="display: flex; flex-wrap: wrap;">
              {{#each homelandData.clanJournalLinks}}
                {{> "systems/rqg/items/sheet-parts/journalEntryLink.hbs"
                  journalEntryLink=this
                  showInfoCircle=false
                }}
              {{/each}}
              {{#unless homelandData.clanJournalLinks.length}}
              <i
                class="fas fa-info-circle"
                style="width: 50px;"
                title="{{localize 'RQG.Foundry.ContentLink.DropToConnectJournal'}}"
              ></i>
              {{/unless}}              
            </div>
          </div>

          <label>{{localize "RQG.Item.Homeland.CultLinks"}}</label>
          <div class="drop-target item-sheet-journal-link" data-journal-target="cultRqidLinks">
            <div style="display: flex; flex-wrap: wrap;">
            {{#each homelandData.cultRqidLinks}}
              {{> "systems/rqg/items/sheet-parts/rqidLink.hbs"
                rqidLink=this
              }}
            {{/each}}
            </div>
          </div>

          <label>{{localize "RQG.Item.Homeland.PassionLinks"}}</label>
          <div class="drop-target item-sheet-journal-link" data-journal-target="passionRqidLinks">
            <div style="display: flex; flex-wrap: wrap;">
            {{#each homelandData.passionRqidLinks}}
              {{> "systems/rqg/items/sheet-parts/rqidLink.hbs"
                rqidLink=this
              }}
            {{/each}}
            </div>
          </div>

          <label>{{localize "RQG.Item.Homeland.RuneLinks"}}</label>
          <div class="drop-target item-sheet-journal-link" data-journal-target="runeRqidLinks">
            <div style="display: flex; flex-wrap: wrap;">
            {{#each homelandData.runeRqidLinks}}
              {{> "systems/rqg/items/sheet-parts/rqidLink.hbs"
                rqidLink=this
              }}
            {{/each}}
            </div>
          </div>
        </div> 

      </div>

      {{!-- GM Tab --}}
      <div class="tab" data-group="primary" data-tab="gm">

        <label>{{localize "RQG.Item.Gear.GMNotes"}} {{editor content=passionData.gmNotes target="data.gmNotes"
          button=true owner=owner editable=editable}}
        </label>
      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab" data-group="primary" data-tab="active-effects">
        {{> "systems/rqg/items/sheet-parts/itemActiveEffects.hbs"}}

      </div>


      {{!-- RQG System Tab --}}
      <div class="tab" data-group="primary" data-tab="rqgsystem">
        {{> "systems/rqg/items/sheet-parts/itemRqgSystem.hbs"
          itemData=homelandData
        }}
      </div>

    </section>

  </main>

</form>