<form class="card-form" data-chat-card="characteristicCard">
  <div class="rqg chat-card characteristic-card">
    <h2>{{cardHeading}}</h2>

    <select name="difficulty">
      {{selectOptions difficultyOptions selected=formData.difficulty}}
    </select><br>

    <label>{{localize "RQG.Dialog.Common.OtherModifiers"}}
      <input class="card-number-input" type="text" value="{{formData.modifier}}" name="modifier">
    </label>

    <button data-chat-roll>{{localize "RQG.Dialog.Common.RollFormat" chance=chance}}</button>
  </div>
</form>
