<form class="card-form" data-chat-card="itemCard">
  <div class="rqg chat-card item-card">

    <h3><img class="item" src="{{itemData.img}}"> {{itemData.name}}</h3>

    <label>{{localize 'RQG.Dialog.Common.OtherModifiers'}} <input type="number" min="-999" max="999" value="{{formData.modifier}}" name="modifier"></label>
    <button data-chat-roll>{{localize "RQG.Dialog.Common.RollFormat" chance=formData.chance}}</button>
  </div>
</form>
