<form class="card-form" data-chat-card="itemCard">
  <div class="rqg chat-card item-card">
    <h2><img class="item" src="{{card.chatImage}}"> {{cardHeading}}</h2>
    <label>{{localize 'RQG.Dialog.Common.OtherModifiers'}}
      <input class="card-number-input" type="text" value="{{formData.modifier}}" name="modifier">
    </label>
    <button data-chat-roll>{{localize "RQG.Dialog.Common.RollFormat" chance=chance}}</button>
  </div>
</form>
