<form>
  <div class="rqg chat-content item-chat">
    <h2><img class="item" src="{{chat.chatImage}}"> {{chatHeading}}</h2>
    <label>{{localize 'RQG.Dialog.Common.OtherModifiers'}}
      <input class="chat-number-input" type="text" value="{{formData.modifier}}" name="modifier">
    </label>
    <button data-chat-roll>{{localize "RQG.Dialog.Common.RollFormat" chance=chance}}</button>
  </div>
</form>
