<form class="card-form" data-chat-card="runeMagicCard">
  <div class="rqg chat-card rune-magic-card">

    <h1><img class="item" src="{{itemData.img}}" />
      {{itemData.name}}
      {{#each itemData.data.runes}}
      <img class="rune-dark" src="{{runeImg this}}" title="{{this}}" />
      {{/each}}
    </h1>

    <div class="spell-descriptors">

      {{!-- TODO: Put spell descriptor phrase here.
      https://github.com/sun-dragon-cult/fvtt-system-rqg/issues/134 --}}

    </div>

    <div class="card-journal-link">
      {{#if formData.journalEntryName}}
      <a class="entity-link content-link" data-entity="JournalEntry" data-id="{{itemData.data.journalId}}"
        {{#if formData.journalPack}}data-pack="{{formData.journalPack}}"{{/if}}>
        <i class="fas fa-book-open"></i> {{formData.journalEntryName}}
      </a>
      {{else}}
      <a class="entity-link invalid" data-entity="JournalEntry" data-id="{{itemData.data.journalId}}"
        title="{{localize "RQG.Dialog.RuneMagicCard.MissingJournalLinkTitle"}}">
        <i class="fas fa-book-open"></i> {{itemData.name}}
      </a>
      {{/if}}
    </div>

    <div class="flexcol card-options">
      <div class="flexcol card-option">
        <div class="card-option-label">
          <label for="selectedRune">{{localize "RQG.Dialog.RuneMagicCard.CastUsingRune"}}</label>
        </div>
        <div class="card-option-control">
          {{#each eligibleRunes}}
          <div>
            <label><input type="radio" id="select-rune-{{this._id}}" name="selectedRuneId" value="{{this._id}}" {{#if (eq
              this._id ../formData.selectedRuneId)}}checked="true" {{/if}}>
            <img class="rune" src="{{runeImg this.name}}" title="{{this.name}}"> {{this.name}}
            <span {{#if this.data.hasExperience}}class="experienced" title="{{localize "RQG.Dialog.RuneMagicCard.RuneHasExperienceTitle"}}" {{/if}}>
              {{this.data.chance}}%
            </span>
            </input></label>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="flexrow card-option">
        <div class="card-option-label">
          <label for="runePointCost">{{localize "RQG.Dialog.RuneMagicCard.RunePointCost"}}</label>
        </div>
        <div class="card-option-control">
          {{!-- TODO: Rune Magic Spells should have a minimum Rune Point Cost and possibly an optional maximum.
                https://github.com/sun-dragon-cult/fvtt-system-rqg/issues/142
                
                put this back in: {{#unless itemData.data.isStackable}}readonly="readonly" title="Not Stackable"
            {{/unless}} --}}
          <input class="card-number-input{{#if itemData.data.isOneUse}} warning{{/if}}" type="number" min="1" max="999" value="{{formData.runePointCost}}"
            name="runePointCost"  />
            {{#if itemData.data.isOneUse}}<span title="{{localize "RQG.Dialog.RuneMagicCard.OneUseWarningTip"}}">{{localize "RQG.Dialog.RuneMagicCard.OneUseWarning"}}</span>{{/if}}
        </div>
      </div>
      <div class="flexrow card-option">
        <div class="card-option-label">
          <label for="magicPointBoost">{{localize "RQG.Dialog.RuneMagicCard.MagicPointBoost"}}</label>
        </div>
        <div class="card-option-control">
          <input class="card-number-input" type="number" min="0" max="999" value="{{formData.magicPointBoost}}" name="magicPointBoost" />
        </div>
      </div>

    </div>

    <div class="flexcol card-options">

      <div class="flexcol card-option">
        <div class="card-option-label">
          <label for="ritualOrMeditation">{{localize "RQG.Dialog.RuneMagicCard.MeditationOrRitual"}}</label>
        </div>
        <div class="card-option-control">
          <select name="ritualOrMeditation" class="chat-select-wide">
            {{selectOptions formData.ritualOrMeditationOptions selected=formData.ritualOrMeditation}}
          </select>
        </div>
      </div>

      <div class="flexcol card-option">
        <div class="card-option-label">
          <label for="skillAugmentation">{{localize "RQG.Dialog.RuneMagicCard.SkillAugmentation"}}</label>
        </div>
        <div class="card-option-control">
          <select name="skillAugmentation" class="chat-select-wide">
            {{selectOptions formData.skillAugmentationOptions selected=formData.skillAugmentation}}
          </select>
        </div>
      </div>

      <div class="flexrow card-option">
        <div class="card-option-label">
          <label for="otherModifiers">{{localize "RQG.Dialog.RuneMagicCard.OtherModifiers"}}</label>
        </div>
        <div class="card-option-control">
          <input class="card-number-input" type="number" min="-999" max="999" value="{{formData.otherModifiers}}" name="otherModifiers" />
        </div>
      </div>

    </div>
  </div>

  <button type="submit" data-chat-roll>Roll ({{formData.chance}}%)</button>
</form>