<form>
  <div class="rqg chat-content rune-magic-chat">

    <h2>
      <img class="item" src="{{chat.chatImage}}" />
      {{chatHeading}}
    </h2>

    <div class="spell-descriptors">

      {{!-- TODO: Put spell descriptor phrase here.
      https://github.com/sun-dragon-cult/fvtt-system-rqg/issues/134 --}}

    </div>

    {{> "systems/rqg/items/sheet-parts/rqidLink.hbs"
        rqidLink=descriptionLink
    }}

    <div class="flexcol chat-options">
      <div class="flexcol chat-option">
        <div class="chat-option-label">
          <label>{{localize "RQG.Dialog.runeMagicChat.CastUsingRune"}}</label>
        </div>
        <div class="chat-option-control">
          {{#each eligibleRunes}}
            <label class="nowrap rune-option">
              <input data-handle-change type="radio" id="select-rune-{{this._id}}" name="selectedRuneId" value="{{this.id}}" {{#if (eq
              this.id ../formData.selectedRuneId)}}checked{{/if}}>

              <span data-tooltip="{{this.name}}"><img class="rune" src="{{rqidImgSrc this.flags.rqg.documentRqidFlags.id}}"> {{this.system.rune}}</span>

              <span {{#if this.system.hasExperience}}class="experienced" data-tooltip="{{localize "RQG.Dialog.runeMagicChat.RuneHasExperienceTitle"}}"{{/if}}>
                {{this.system.chance}}%
              </span>
            </label>
          {{/each}}
        </div>
      </div>
      <div class="flexrow chat-option">
        <div class="chat-option-label">
          <label for="runePointCost">{{localize "RQG.Dialog.runeMagicChat.RunePointCost"}}</label>
        </div>
        <div class="chat-option-control">
          {{!-- TODO: Rune Magic Spells should have a minimum Rune Point Cost and possibly an optional maximum.
                https://github.com/sun-dragon-cult/fvtt-system-rqg/issues/142

                put this back in: {{#unless itemData.data.isStackable}}readonly="readonly" data-tooltip="Not Stackable"
            {{/unless}} --}}
          <input data-handle-change class="chat-number-input{{#if isOneUse}} warning{{/if}}" type="text" value="{{formData.runePointCost}}"
            name="runePointCost"  />
            {{#if isOneUse}}<span data-tooltip="{{localize "RQG.Dialog.runeMagicChat.OneUseWarningTip"}}">{{localize "RQG.Dialog.runeMagicChat.OneUseWarning"}}</span>{{/if}}
        </div>
      </div>
      <div class="flexrow chat-option">
        <div class="chat-option-label">
          <label for="magicPointBoost">{{localize "RQG.Dialog.runeMagicChat.MagicPointBoost"}}</label>
        </div>
        <div class="chat-option-control">
          <input data-handle-change class="chat-number-input" type="text" value="{{formData.magicPointBoost}}" name="magicPointBoost" />
        </div>
      </div>

    </div>

    <div class="flexcol chat-options">

      <div class="flexcol chat-option">
        <div class="chat-option-label">
          <label>{{localize "RQG.Dialog.runeMagicChat.MeditationOrRitual"}}</label>
        </div>
        <div class="chat-option-control">
          <select data-handle-change name="ritualOrMeditation" class="chat-select-wide">
            {{selectOptions ritualOrMeditationOptions selected=formData.ritualOrMeditation}}
          </select>
        </div>
      </div>

      <div class="flexcol chat-option">
        <div class="chat-option-label">
          <label>{{localize "RQG.Dialog.runeMagicChat.SkillAugmentation"}}</label>
        </div>
        <div class="chat-option-control">
          <select data-handle-change name="skillAugmentation" class="chat-select-wide">
            {{selectOptions skillAugmentationOptions selected=formData.skillAugmentation}}
          </select>
        </div>
      </div>

      <div class="flexrow chat-option">
        <div class="chat-option-label">
          <label>{{localize "RQG.Dialog.Common.OtherModifiers"}}</label>
        </div>
        <div class="chat-option-control">
          <input data-handle-change class="chat-number-input" type="text" min="-999" max="999" value="{{formData.otherModifiers}}" name="otherModifiers" />
        </div>
      </div>

    </div>
  </div>

  <button type="submit" data-chat-roll>{{localize "RQG.Dialog.Common.RollFormat" chance=chance}}</button>
</form>
