<form class="card-form" data-chat-card="runeMagicCard">
  <div class="rqg chat-card rune-magic-card">

    <h1><img class="item" src="{{itemData.img}}" />
      {{itemData.name}}
      {{#each itemData.data.runes}}
      <img class="rune" src="{{runeImg this}}" title="{{this}}" />
      {{/each}}
    </h1>

    <div class="spell-descriptors">

      {{!-- TODO: Put spell descriptor phrase here.
      https://github.com/sun-dragon-cult/fvtt-system-rqg/issues/134 --}}

    </div>

    <a class="entity-link" data-entity="JournalEntry" data-id="{{itemData.data.journalId}}">
      <i class="fas fa-book-open"></i> {{formData.journalEntryName}}
    </a>

    <div class="flexcol card-options">
      <div class="flexcol card-option">
        <div class="card-option-label">
          <label for="selectedRune">Cast using Rune: </label>
        </div>
        <div class="card-option-control">
          {{#each eligibleRunes}}
          <div>
            <input type="radio" id="select-rune-{{this.actorRune._id}}" name="selectedRune"
              value="{{this.actorRune._id}}">
            <img class="rune" src="{{runeImg this.rune}}" title="{{this.rune}}"> {{this.rune}}
            <span {{#if this.actorRune.data.data.hasExperience}}class="experienced" title="Has Experience Check"
              {{/if}}>
              {{this.actorRune.data.data.chance}}%
            </span>
            </input>
          </div>
          {{/each}}
        </div>
      </div>
      <div class="flexrow card-option">
        <div class="card-option-label">
          <label for="runePointCost">Rune Point Cost</label>
        </div>
        <div class="card-option-control">
          <input type="number" min="1" max="{{itemData.data.points}}" value="{{formData.runePointCost}}"
            name="runePointCost" {{#unless itemData.data.isStackable}}readonly="readonly" title="Not Stackable"
            {{/unless}} />
        </div>
      </div>

    </div>

    <div class="flexcol card-options">

      <div class="flexrow card-option">
        <div class="card-option-label">
          <label for="runePointCost">Magic Point Boost</label>
        </div>
        <div class="card-option-control">
          <input type="number" min="0" max="999" value="{{formData.magicPointBoost}}" name="magicPointBoost" />
        </div>
      </div>

      <div class="flexrow card-option">
        <div class="card-option-label">
          <label for="ritualOrMeditation">Meditation or Ritual:</label>
        </div>
        <div class="card-option-control">
          <select name="ritualOrMeditation" class="chat-select-wide">
            <option value="0" selected="true">None</option>
            <option value="5">Meditate: 1 melee round, +5% bonus</option>
            <option value="10">Meditate: 2 melee rounds, +10% bonus</option>
            <option value="15">Meditate: 5 melee rounds (1 minute), +15% bonus</option>
            <option value="20">Meditate: 25 melee rounds (5 minutes), +20% bonus</option>
            <option value="25">Meditate: 50 melee rounds (10 minutes), +25% bonus</option>
            <option value="30">Ritual: Half an hour, +30% bonus</option>
            <option value="35">Ritual: 1 hour, +35% bonus</option>
            <option value="40">Ritual: 5 hours, +40% bonus</option>
            <option value="45">Ritual: 10 hours, +45% bonus</option>
            <option value="50">Ritual: 1 day, +50% bonus</option>
            <option value="55">Ritual: 2 days, +55% bonus</option>
            <option value="60">Ritual: 1 week, +60% bonus</option>
            <option value="65">Ritual: 2 weeks, +65% bonus</option>
            <option value="70">Ritual: 4 weeks, +70% bonus</option>
            <option value="75">Ritual: 1 season, +75% bonus</option>
            <option value="80">Ritual: 1 year, +80% bonus</option>
            <option value="85">Ritual: 2 years, +85% bonus</option>
            <option value="90">Ritual: 5 years, +90% bonus</option>
            <option value="95">Ritual: 10 years, +95% bonus</option>
            <option value="100">Ritual: 20 years, +100% bonus</option>
          </select>
        </div>
      </div>

      <div class="flexrow card-option">
        <div class="card-option-label">
          <label for="skillAugmentation">Skill Augmentation:</label>
        </div>
        <div class="card-option-control">
          <select name="skillAugmentation" class="chat-select-wide">
            <option value="0">None</option>
            <option value="50">Critical Success, +50%</option>
            <option value="30">Special Success, +30%</option>
            <option value="20">Success, +20%</option>
            <option value="-20">Failure, -20%</option>
            <option value="-50">Fumble Success, -50%</option>
          </select>
        </div>
      </div>

      <div class="flexrow card-option">
        <div class="card-option-label">
          <label for="otherOptions">Other Modifiers</label>
        </div>
        <div class="card-option-control">
          <input type="number" min="-999" max="999" value="{{formData.otheroptions}}" name="otheroptions" />
        </div>
      </div>

    </div>
  </div>

  <button type="submit" data-chat-roll>Roll ({{formData.chance}}%)</button>
</form>