{{log this}}
<form class="card-form" data-chat-card="runeMagicCard">
  <div class="rqg chat-card rune-magic-card">

    <h2>
      <img class="item" src="{{card.chatImage}}" />
      {{cardHeading}}
    </h2>

    <div class="spell-descriptors">

      {{!-- TODO: Put spell descriptor phrase here.
      https://github.com/sun-dragon-cult/fvtt-system-rqg/issues/134 --}}

    </div>

    {{> "systems/rqg/items/sheet-parts/rqidLink.hbs"
        rqidLink=descriptionRqidLink
    }}

    <div class="flexcol card-options">
      <div class="flexcol card-option">
        <div class="card-option-label">
          <label for="selectedRune">{{localize "RQG.Dialog.runeMagicCard.CastUsingRune"}}</label>
        </div>
        <div class="card-option-control">
          {{#each eligibleRunes}}
            <label class="nowrap rune-option">
              <input type="radio" id="select-rune-{{this._id}}" name="selectedRuneId" value="{{this.id}}" {{#if (eq
              this.id ../formData.selectedRuneId)}}checked{{/if}}>

              <span title="{{this.name}}"><img class="rune" src="{{runeImg this.name}}"> {{this.data.data.rune}}</span>

              <span {{#if this.data.data.hasExperience}}class="experienced" title="{{localize "RQG.Dialog.runeMagicCard.RuneHasExperienceTitle"}}"{{/if}}>
                {{this.data.data.chance}}%
              </span>
            </label>
          {{/each}}
        </div>
      </div>
      <div class="flexrow card-option">
        <div class="card-option-label">
          <label for="runePointCost">{{localize "RQG.Dialog.runeMagicCard.RunePointCost"}}</label>
        </div>
        <div class="card-option-control">
          {{!-- TODO: Rune Magic Spells should have a minimum Rune Point Cost and possibly an optional maximum.
                https://github.com/sun-dragon-cult/fvtt-system-rqg/issues/142

                put this back in: {{#unless itemData.data.isStackable}}readonly="readonly" title="Not Stackable"
            {{/unless}} --}}
          <input class="card-number-input{{#if isOneUse}} warning{{/if}}" type="text" value="{{formData.runePointCost}}"
            name="runePointCost"  />
            {{#if isOneUse}}<span title="{{localize "RQG.Dialog.runeMagicCard.OneUseWarningTip"}}">{{localize "RQG.Dialog.runeMagicCard.OneUseWarning"}}</span>{{/if}}
        </div>
      </div>
      <div class="flexrow card-option">
        <div class="card-option-label">
          <label for="magicPointBoost">{{localize "RQG.Dialog.runeMagicCard.MagicPointBoost"}}</label>
        </div>
        <div class="card-option-control">
          <input class="card-number-input" type="text" value="{{formData.magicPointBoost}}" name="magicPointBoost" />
        </div>
      </div>

    </div>

    <div class="flexcol card-options">

      <div class="flexcol card-option">
        <div class="card-option-label">
          <label>{{localize "RQG.Dialog.runeMagicCard.MeditationOrRitual"}}</label>
        </div>
        <div class="card-option-control">
          <select name="ritualOrMeditation" class="chat-select-wide">
            {{selectOptions ritualOrMeditationOptions selected=formData.ritualOrMeditation}}
          </select>
        </div>
      </div>

      <div class="flexcol card-option">
        <div class="card-option-label">
          <label>{{localize "RQG.Dialog.runeMagicCard.SkillAugmentation"}}</label>
        </div>
        <div class="card-option-control">
          <select name="skillAugmentation" class="chat-select-wide">
            {{selectOptions skillAugmentationOptions selected=formData.skillAugmentation}}
          </select>
        </div>
      </div>

      <div class="flexrow card-option">
        <div class="card-option-label">
          <label>{{localize "RQG.Dialog.Common.OtherModifiers"}}</label>
        </div>
        <div class="card-option-control">
          <input class="card-number-input" type="text" min="-999" max="999" value="{{formData.otherModifiers}}" name="otherModifiers" />
        </div>
      </div>

    </div>
  </div>

  <button type="submit" data-chat-roll>{{localize "RQG.Dialog.Common.RollFormat" chance=chance}}</button>
</form>
