<form class="card-form">
  <div class="rqg chat-card spirit-magic-card">

    <h2>
      <img class="item" src="{{card.chatImage}}"> {{cardHeading}}
    </h2>

    <label>{{localize "RQG.Dialog.spiritMagicCard.Level"}}
      <input class="card-number-input" type="text" value="{{formData.level}}" name="level">
    </label><br>

    <label>{{localize "RQG.Dialog.spiritMagicCard.Boost"}}
      <input class="card-number-input" type="text" value="{{formData.boost}}" name="boost">
    </label>
    <button type="submit" data-chat-roll>{{localize "RQG.Dialog.Common.RollFormat" chance=chance}}</button>
  </div>
</form>
