{{log "weaponcard" this}}
<form class="card-form" data-chat-card="weaponCard" method="post">
  <div class="rqg chat-card weapon-card">

    <img class="item" src="{{weaponItemData.img}}">
    <i>{{skillItemData.data.skillName}}{{#if skillItemData.data.specialization}} ({{skillItemData.data.specialization}}){{/if}}</i><br>

    <label>{{localize 'RQG.Dialog.weaponCard.modifier'}} <input type="number" min="-999" max="999" value="{{formData.modifier}}" name="modifier"></label> <i class="fas fa-arrow-right"></i> <span>{{formData.chance}}%</span>
    <div class="flex-row flex-wrap gap03rem">
      {{#with (lookup weaponItemData.data.usage usage)}}
      {{#each combatManeuvers}}
            <button name="combatManeuver" value="{{name}}" {{#if (eq name ../../formData.combatManeuver)}}class="active"{{/if}}
                    >{{name}}</button>
      {{/each}}
      {{/with}}
    </div>

    {{#if formData.combatManeuver}}
      <hr>

      {{#if (eq formData.combatManeuver "parry")}}
        {{#if (eq result 0)}}
          <h3>TODO Hyper Critical Not yet implemented</h3>
        {{/if}}

        {{#if (eq result 1)}}
          <h3>TODO Special Critical Not yet implemented</h3>
        {{/if}}

        {{#if (eq result 2)}}
          <div class="flex-row">
            <div class="damage">{{localize 'RQG.Dialog.weaponCard.Damage'}}</div>
            <button name="damageRoll" value="normal">{{localize 'RQG.Dialog.weaponCard.damageRollType.normal'}}</button>
            <button name="damageRoll" value="special">{{localize 'RQG.Dialog.weaponCard.damageRollType.special'}}</button>
          </div>
        {{/if}}

        {{#if (eq result 3)}}
          <div class="flex-row">
            <div class="damage">{{localize 'RQG.Dialog.weaponCard.Damage'}}</div>
            <button name="damageRoll" value="normal">{{localize 'RQG.Dialog.weaponCard.damageRollType.normal'}}</button>
            <button name="damageRoll" value="special">{{localize 'RQG.Dialog.weaponCard.damageRollType.special'}}</button>
          </div>
        {{/if}}

        {{#if (eq result 4)}}
          <div class="flex-row">
            <div class="damage">{{localize 'RQG.Dialog.weaponCard.Damage'}}</div>
            <button name="damageRoll" value="normal">{{localize 'RQG.Dialog.weaponCard.damageRollType.normal'}}</button>
          </div>
        {{/if}}

        {{#if (eq result 5)}}
        {{/if}}

        {{#if (eq result 6)}}
          <button name="fumble">{{localize 'RQG.Dialog.weaponCard.fumbleRoll'}}</button>
        {{/if}}
      {{else}} {{!-- not parry => (slash / impale / grapple / ...) --}}
        {{#if (eq result 0)}}
          <h3>TODO Hyper Critical Not yet implemented</h3>
        {{/if}}

        {{#if (eq result 1)}}
          <h3>TODO Special Critical Not yet implemented</h3>
        {{/if}}

        {{#if (eq result 2)}}
          {{#if specialDamageTypeText}}
            <p>{{{specialDamageTypeText}}}</p>
          {{else}}
            <div class="flex-row">
              <div class="damage">{{localize 'RQG.Dialog.weaponCard.Damage'}}</div>
              <button name="damageRoll" value="normal">{{localize 'RQG.Dialog.weaponCard.damageRollType.normal'}}</button>
              <button name="damageRoll" value="special">{{localize 'RQG.Dialog.weaponCard.damageRollType.special'}}</button>
              <button name="damageRoll" value="maxSpecial">{{localize 'RQG.Dialog.weaponCard.damageRollType.maxSpecial'}}</button>
            </div>
            <button name="hitLocationRoll">{{localize 'RQG.Dialog.weaponCard.hitLocationRoll'}}</button>
          {{/if}}
        {{/if}}

        {{#if (eq result 3)}}
          {{#if specialDamageTypeText}}
            <p>{{{specialDamageTypeText}}}</p>
          {{else}}
            <div class="flex-row">
              <div class="damage">{{localize 'RQG.Dialog.weaponCard.Damage'}}</div>
              <button name="damageRoll" value="normal">{{localize 'RQG.Dialog.weaponCard.damageRollType.normal'}}</button>
              <button name="damageRoll" value="special">{{localize 'RQG.Dialog.weaponCard.damageRollType.special'}}</button>
            </div>
            <button name="hitLocationRoll">{{localize 'RQG.Dialog.weaponCard.hitLocationRoll'}}</button>
          {{/if}}
        {{/if}}

        {{#if (eq result 4)}}
          {{#if specialDamageTypeText}}
            <p>{{{specialDamageTypeText}}}</p>
          {{else}}
            <div class="flex-row">
              <div class="damage">{{localize 'RQG.Dialog.weaponCard.Damage'}}</div>
              <button name="damageRoll" value="normal">{{localize 'RQG.Dialog.weaponCard.damageRollType.normal'}}</button>
            </div>
            <button name="hitLocationRoll">{{localize 'RQG.Dialog.weaponCard.hitLocationRoll'}}</button>
          {{/if}}
        {{/if}}

        {{#if (eq result 5)}}
          {{#if specialDamageTypeText}}
            <p>{{{specialDamageTypeText}}}</p>
          {{else}}
            <div class="flex-row">
              <div class="damage">{{localize 'RQG.Dialog.weaponCard.Damage'}}</div>
              <button name="damageRoll" value="normal">{{localize 'RQG.Dialog.weaponCard.damageRollType.normal'}}</button>
            </div>
            <button name="hitLocationRoll">{{localize 'RQG.Dialog.weaponCard.hitLocationRoll'}}</button>
          {{/if}}
        {{/if}}

        {{#if (eq result 6)}}
          <button name="fumble">{{localize 'RQG.Dialog.weaponCard.fumbleRoll'}}</button>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</form>
