{!-- TODO remove this since it's not used anymore? --}}
<form>
  <div class="rqg chat-content weapon-chat">
    <h2>
      <img class="item" src="{{chat.chatImage}}">
      <i>{{chatHeading}}</i>
    </h2>

    <select data-handle-change name="usage" {{#if hideUsageOptions}}class="no-display"{{/if}}>
      {{selectOptions usageOptions selected=formData.usage}}
    </select><br>

    <label>{{localize 'RQG.Dialog.Common.OtherModifiers'}}
      <input data-handle-change class="chat-number-input" type="text" value="{{formData.otherModifiers}}" name="otherModifiers">
    </label>
    <i class="fas fa-arrow-right"></i> <span>{{chance}}%</span>

    <div class="flex-row flex-wrap gap03rem">
      {{#with (lookup weaponItemData.usage formData.usage)}}
      {{#each combatManeuvers}}
            <button name="combatManeuverRoll" value="{{name}}"
                {{#if (eq name ../../formData.combatManeuverName)}}class="active"{{/if}}>
                {{name}}
            </button>
      {{/each}}
      {{/with}}
    </div>

    {{#if formData.actionName}}
      <hr>

      {{#if (eq formData.actionName "parry")}}
        {{#if (eq chat.result 0)}}
          <h3>TODO Hyper Critical Not yet implemented</h3>
        {{/if}}

        {{#if (eq chat.result 1)}}
          <h3>TODO Special Critical Not yet implemented</h3>
        {{/if}}

        {{#if (eq chat.result 2)}}
          <div class="flex-row">
            <div class="damage">{{localize 'RQG.Dialog.weaponChat.Damage'}}</div>
            <button name="damageRoll" value="normal">{{localize 'RQG.Dialog.weaponChat.damageRollType.normal'}}</button>
            <button name="damageRoll" value="special">{{localize 'RQG.Dialog.weaponChat.damageRollType.special'}}</button>
          </div>
        {{/if}}

        {{#if (eq chat.result 3)}}
          <div class="flex-row">
            <div class="damage">{{localize 'RQG.Dialog.weaponChat.Damage'}}</div>
            <button name="damageRoll" value="normal">{{localize 'RQG.Dialog.weaponChat.damageRollType.normal'}}</button>
            <button name="damageRoll" value="special">{{localize 'RQG.Dialog.weaponChat.damageRollType.special'}}</button>
          </div>
        {{/if}}

        {{#if (eq chat.result 4)}}
          <div class="flex-row">
            <div class="damage">{{localize 'RQG.Dialog.weaponChat.Damage'}}</div>
            <button name="damageRoll" value="normal">{{localize 'RQG.Dialog.weaponChat.damageRollType.normal'}}</button>
          </div>
        {{/if}}

        {{#if (eq chat.result 5)}}
        {{/if}}

        {{#if (eq chat.result 6)}}
          <button name="fumbleRoll">{{localize 'RQG.Dialog.weaponChat.fumbleRoll'}}</button>
        {{/if}}
      {{else}} {{!-- not parry => (slash / impale / grapple / ...) --}}
        {{#if (eq chat.result 0)}}
          <h3>TODO Hyper Critical Not yet implemented</h3>
        {{/if}}

        {{#if (eq chat.result 1)}}
          <h3>TODO Special Critical Not yet implemented</h3>
        {{/if}}

        {{#if (eq chat.result 2)}}
          {{#if chat.specialDamageTypeText}}
            <p>{{{chat.specialDamageTypeText}}}</p>
          {{else}}
            <div class="flex-row">
              <div class="damage">{{localize 'RQG.Dialog.weaponChat.Damage'}}</div>
              <button name="damageRoll" value="normal">{{localize 'RQG.Dialog.weaponChat.damageRollType.normal'}}</button>
              <button name="damageRoll" value="special">{{localize 'RQG.Dialog.weaponChat.damageRollType.special'}}</button>
              <button name="damageRoll" value="maxSpecial">{{localize 'RQG.Dialog.weaponChat.damageRollType.maxSpecial'}}</button>
            </div>
            <button name="hitLocationRoll">{{localize 'RQG.Dialog.weaponChat.hitLocationRoll'}}</button>
          {{/if}}
        {{/if}}
        {{#if (eq chat.result 3)}}
          {{#if chat.specialDamageTypeText}}
            <p>{{{chat.specialDamageTypeText}}}</p>
          {{else}}
            <div class="flex-row">
              <div class="damage">{{localize 'RQG.Dialog.weaponChat.Damage'}}</div>
              <button name="damageRoll" value="normal">{{localize 'RQG.Dialog.weaponChat.damageRollType.normal'}}</button>
              <button name="damageRoll" value="special">{{localize 'RQG.Dialog.weaponChat.damageRollType.special'}}</button>
            </div>
            <button name="hitLocationRoll">{{localize 'RQG.Dialog.weaponChat.hitLocationRoll'}}</button>
          {{/if}}
        {{/if}}

        {{#if (eq chat.result 4)}}
          {{#if chat.specialDamageTypeText}}
            <p>{{{chat.specialDamageTypeText}}}</p>
          {{else}}
            <div class="flex-row">
              <div class="damage">{{localize 'RQG.Dialog.weaponChat.Damage'}}</div>
              <button name="damageRoll" value="normal">{{localize 'RQG.Dialog.weaponChat.damageRollType.normal'}}</button>
            </div>
            <button name="hitLocationRoll">{{localize 'RQG.Dialog.weaponChat.hitLocationRoll'}}</button>
          {{/if}}
        {{/if}}

        {{#if (eq chat.result 5)}}
          {{#if chat.specialDamageTypeText}}
            <p>{{{chat.specialDamageTypeText}}}</p>
          {{else}}
            <div class="flex-row">
              <div class="damage">{{localize 'RQG.Dialog.weaponChat.Damage'}}</div>
              <button name="damageRoll" value="normal">{{localize 'RQG.Dialog.weaponChat.damageRollType.normal'}}</button>
            </div>
            <button name="hitLocationRoll">{{localize 'RQG.Dialog.weaponChat.hitLocationRoll'}}</button>
          {{/if}}
        {{/if}}

        {{#if (eq chat.result 6)}}
          <button name="fumbleRoll">{{localize 'RQG.Dialog.weaponChat.fumbleRoll'}}</button>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</form>
