<h1 class="norse">
  {{localize "RQG.ActorCreation.Nav.2-FamilyHistory"}}
</h1>

<article class="collabsible-wrapper" data-collabsible-name="familyChooseAncestors"
  data-open="{{collapsibleOpenStates.familyChooseAncestors}}">
  <h2 class="collabsible-header">
    <span class="toggle-icon">
      <i class="far fa-plus-square {{#if collapsibleOpenStates.familyChooseAncestors}}no-display{{/if}}"></i>
      <i class="far fa-minus-square {{#unless collapsibleOpenStates.familyChooseAncestors}}no-display{{/unless}}"></i>
      {{localize "RQG.ActorCreation.Step2.ChooseAncestors"}}
    </span>
  </h2>
  <section class="collabsible-wrapper-body" {{#unless
    collapsibleOpenStates.familyChooseAncestors}}style="display: none;" {{/unless}}>

    <h3>{{localize (concat "RQG.ActorCreation.Step2.GrandparentTypes." familyHistory.grandparentType)}}</h3>

    <p>{{localize "RQG.ActorCreation.Step2.GrandparentInstructions"}}</p>

    <div class="wizard-ancestor">
      <input type="text" name="grandparent-name"
        value="{{familyHistory.grandparentName}}">
      <select name="selectGrandparentType">
        {{#select familyHistory.grandparentType}}
          {{#each familyHistory.grandparentTypes}}
            <option value="{{this}}">{{localize (concat "RQG.ActorCreation.Step2.GrandparentTypes." this)}}</option>
          {{/each}}
        {{/select}}
      </select>
      <input type="text" name="grandparent-occupation"
        value="{{familyHistory.grandparentOccupation}}">
    </div>

    <h3>{{localize (concat "RQG.ActorCreation.Step2.ParentTypes." familyHistory.parentType)}}</h3>

    <p>{{localize "RQG.ActorCreation.Step2.ParentInstructions"}}</p>

    <div class="wizard-ancestor">
      <input type="text" name="parent-name"
        value="{{familyHistory.parentName}}">
      <select name="selectParentType">
        {{#select familyHistory.parentType}}
          {{#each familyHistory.parentTypes}}
            <option value="{{this}}">{{localize (concat "RQG.ActorCreation.Step2.ParentTypes." this)}}</option>
          {{/each}}
        {{/select}}
      </select>
      <input type="text" name="parent-occupation"
        value="{{familyHistory.parentOccupation}}">
    </div>
      
  </section>
</article>


<article class="collabsible-wrapper" data-collabsible-name="familyYearlyHistory"
  data-open="{{collapsibleOpenStates.familyYearlyHistory}}">
  <h2 class="collabsible-header">
    <span class="toggle-icon">
      <i class="far fa-plus-square {{#if collapsibleOpenStates.familyYearlyHistory}}no-display{{/if}}"></i>
      <i class="far fa-minus-square {{#unless collapsibleOpenStates.familyYearlyHistory}}no-display{{/unless}}"></i>
      {{localize "RQG.ActorCreation.Step2.familyYearlyHistory"}}
    </span>
  </h2>
  <section class="collabsible-wrapper-body" {{#unless collapsibleOpenStates.familyYearlyHistory}}style="display: none;"
    {{/unless}}>

      <p>Yearly History Here</p>

  </section>
  </section>
</article>