<h1 class="norse">
  {{localize "RQG.ActorCreation.Nav.2-FamilyHistory"}}
</h1>

<details class="title-bar-details" open>
  <summary class="title-bar-summary title-bar-head-1">
    <div class="title-bar-summary-content">
      {{localize "RQG.ActorCreation.Step2.ChooseAncestors"}}
    </div>
  </summary>

  <h3>{{localize (concat "RQG.ActorCreation.Step2.GrandparentTypes." familyHistory.grandparentType)}}</h3>

  <p>{{localize "RQG.ActorCreation.Step2.GrandparentInstructions"}}</p>

  <div class="wizard-ancestor">
    <div>{{localize "RQG.ActorCreation.Step2.Name"}}</div>
    <div>{{localize "RQG.ActorCreation.Step2.Relation"}}</div>
    <div>{{localize "RQG.ActorCreation.Step2.Occupation"}}</div>
    <input type="text" name="grandparent-name"
      value="{{familyHistory.grandparent.name}}">
    <select name="selectGrandparentType">
      {{#select familyHistory.grandparent.type}}
        {{#each familyHistory.grandparent.types}}
          <option value="{{this}}">{{localize (concat "RQG.ActorCreation.Step2.GrandparentTypes." this)}}</option>
        {{/each}}
      {{/select}}
    </select>
    <input type="text" name="grandparent-occupation"
      value="{{familyHistory.grandparent.occupation}}">
  </div>

  <h3>{{localize (concat "RQG.ActorCreation.Step2.ParentTypes." familyHistory.parent.type)}}</h3>

  <p>{{localize "RQG.ActorCreation.Step2.ParentInstructions"}}</p>

  <div class="wizard-ancestor">
    <input type="text" name="parent-name"
      value="{{familyHistory.parent.name}}">
    <select name="selectParentType">
      {{#select familyHistory.parent.type}}
        {{#each familyHistory.parent.types}}
          <option value="{{this}}">{{localize (concat "RQG.ActorCreation.Step2.ParentTypes." this)}}</option>
        {{/each}}
      {{/select}}
    </select>
    <input type="text" name="parent-occupation"
      value="{{familyHistory.parent.occupation}}">
  </div>
    
</details>


<details class="title-bar-details" open>
  <summary class="title-bar-summary title-bar-head-1">
    <div class="title-bar-summary-content">
      {{localize "RQG.ActorCreation.Step2.familyYearlyHistory"}}
    </div>
  </summary>

  <div class="item-sheet-properties">
    <label>{{localize "RQG.ActorCreation.Step2.ChooseFamilyHistory"}}:</label>
    <select name="selectedFamilyHistoryRqid" style="width: min-content;">
      {{#select familyHistory.selectedFamilyHistory.rqid}}
      <option value="">{{localize "RQG.ActorCreation.Step2.ChooseFamilyHistory"}}</option>
      {{#each familyHistory.availableFamilyHistories}}
      <option value="{{this.data.flags.rqg.documentRqidFlags.id}}">{{this.name}}</option>
      {{/each}}
      {{/select}}
    </select>
  </div>

  {{#each familyHistory.selectedFamilyHistoryEntries}}
    <details class="title-bar-details" open>
      <summary class="title-bar-summary title-bar-head-2">
        <div class="title-bar-summary-content">
          {{#if (eq this.beginYear this.endYear)}}
            {{this.yearText}} {{this.beginYear}}
          {{else}}
            {{this.yearText}} ({{this.beginYear}} - {{this.endYear}})
          {{/if}}
        </div>
      </summary>

      <div class="year-description">
        <p>{{{this.eventsText}}}</p>
      </div>

      <div class="item-sheet-properties">
        <label>{{localize "RQG.ActorCreation.Step2.YearAppliesTo"}}</label>
        <div>
          {{#if (eq this.targetCharacter "grandparent")}}
            {{localize (concat "RQG.ActorCreation.Step2.GrandparentTypes." ../familyHistory.grandparent.type)}}: {{../familyHistory.grandparent.name}}
          {{/if}}
          {{#if (eq this.targetCharacter "parent")}}
            {{localize (concat "RQG.ActorCreation.Step2.ParentTypes." ../familyHistory.parent.type)}}: {{../familyHistory.parent.name}}
          {{/if}}
          {{#if (eq this.targetCharacter "self")}}
            {{localize "RQG.ActorCreation.Step2.Self"}}: {{../actor.name}}
          {{/if}}
        </div>                  
        <label>{{localize "RQG.ActorCreation.Step2.YearRollTable"}}</label>
        <div>
            {{> "systems/rqg/items/sheet-parts/rqidLink.hbs"
                rqidLink=this.rollTableRqidLink
            }}
        </div>                  
        <label>{{localize "RQG.ActorCreation.Step2.YearRollModifiers"}}</label>
        <p>{{this.modifiers}}</p>
        <label>
          <div class="rune-button" title="{{localize "RQG.ActorCreation.Step2.RollThisYear"}}">
            <img class="rune-button-img"
                 data-roll-year-index="{{@index}}"
                 src="systems/rqg/assets/images/runes/luck.svg">
          </div>
          {{localize "RQG.ActorCreation.Step2.YearDiceExpression"}}
        </label>
        <input type="text"
                name="year-dice-expression" 
                id="year-dice-expression-{{@index}}"
                data-index="{{@index}}"
                value="{{this.yearDiceExpression}}">
      </div>

      <div class="year-result">
        <textarea rows="4" id="year-result-{{@index}}">{{../familyHistory.yearResults.[@index].yearResultText}}</textarea>
        <textarea rows="6">{{json ../familyHistory.yearResults.[@index]}}</textarea>
      </div>
    </details>
  {{/each}}


</details>