<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" title="{{name}}">
    <div class="label-above">
      <label for="name-{{id}}">{{localize "RQG.Item.Gear.Name"}}</label>
      <input id="name-{{id}}" type="text" name="name" value="{{name}}">
    </div>
  </header>

  <main>
    {{!-- Sheet Tab Navigation --}}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="gear">{{localize "RQG.Item.SheetTab.Gear"}}</a>
      <a class="item" data-tab="description">{{localize "RQG.Item.SheetTab.Description"}}</a>
      {{#if isGM}}
        <a class="item" data-tab="gm">{{localize 'RQG.Item.SheetTab.GMNotes'}}</a>
        {{#unless isEmbedded}}
          <a class="item" data-tab="active-effects">{{localize "RQG.Item.SheetTab.ActiveEffects"}}</a>
        {{/unless}}
      {{/if}}
    </nav>

    <section class="sheet-body">

      {{!-- Gear Tab --}}
      <div class="tab" data-group="primary" data-tab="gear">
        <div class="key-value-grid">

          <label for="isContainer-{{id}}">{{localize "RQG.Item.Gear.IsContainerQ"}}</label>
          <input type="checkbox" id="isContainer-{{id}}" name="system.isContainer" {{checked system.isContainer}}>

          <label for="physicalItemType-{{id}}">{{localize "RQG.Item.Gear.ItemType"}}</label>
          <select name="system.physicalItemType" id="physicalItemType-{{id}}">
            {{#select system.physicalItemType}} {{#each physicalItemTypes}}
            <option value="{{this}}">{{localize (concat "RQG.Item.Gear.PhysicalItemTypeEnum." this)}}</option>
            {{/each}} {{/select}}
          </select>

          {{#unless (eq system.physicalItemType "unique")}}
          <label for="quantity-{{id}}">{{localize "RQG.Item.Gear.Quantity"}}</label>
          <input id="quantity-{{id}}" name="system.quantity" type="number" min="0" max="9999999" value="{{system.quantity}}">
          {{/unless}}

          {{> "systems/rqg/items/sheet-parts/itemCommonPhysical.hbs"}}
        </div>
      </div>

      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
        {{editor
          enrichedDescription
          target="system.description"
          button=true
          editable=isEditable
        }}
      </div>

      {{!-- GM Tab --}}
      <div class="tab" data-group="primary" data-tab="gm">
        {{editor
          enrichedGmNotes
          target="system.gmNotes"
          button=true
          editable=isEditable}}
      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab" data-group="primary" data-tab="active-effects">
        {{> "systems/rqg/items/sheet-parts/itemActiveEffects.hbs"}}
      </div>
    </section>

  </main>
</form>
