<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}">
    <input type="text" name="name" value="{{data.name}}">
  </header>

  <main>


    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="gear">{{localize "RQG.Item.SheetTab.Gear"}}</a>
      <a class="item" data-tab="description">{{localize "RQG.Item.SheetTab.Description"}}</a>
      {{#if isGM}}
      <a class="item" data-tab="gm">{{localize "RQG.Item.SheetTab.GM"}}</a>
      {{#unless isEmbedded}}
      <a class="item" data-tab="active-effects">{{localize "RQG.Item.SheetTab.ActiveEffects"}}</a>
      {{/unless}}
      <a class="item" data-tab="rqgsystem">{{localize "RQG.Item.SheetTab.RQGSystem"}}</a>
      {{/if}}
    </nav>

    <section class="sheet-body">
      {{!-- Gear Tab --}}
      <div class="tab" data-group="primary" data-tab="gear">
        <div class="item-sheet-properties">

          <label for="data.isContainer">{{localize "RQG.Item.Gear.IsContainerQ"}}</label>
          <input type="checkbox" name="data.isContainer" {{checked gearData.isContainer}}>

          <label for="data.physicalItemType">{{localize "RQG.Item.Gear.PhysicalItemType"}}</label>
          <select name="data.physicalItemType">
            {{#select gearData.physicalItemType}} {{#each sheetSpecific.physicalItemTypes}}
            <option value="{{this}}">{{localize (concat "RQG.Item.Gear.PhysicalItemTypeEnum." this)}}</option>
            {{/each}} {{/select}}
          </select>
          
          {{#unless (eq gearData.physicalItemType "unique")}}
          <label for="data.quantity">{{localize "RQG.Item.Gear.Quantity"}}</label>
          <input name="data.quantity" type="number" min="0" max="9999999" value="{{gearData.quantity}}">
          {{/unless}}

        </div>

        
        {{> "systems/rqg/items/sheet-parts/itemCommonPhysical.hbs"
          itemData=gearData
        }}

      </div>

      
      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">

        <label>{{localize "RQG.Item.Gear.Description"}} {{editor content=gearData.description target="data.description"
          button=true owner=owner editable=editable}}
        </label><br>
      </div>

      {{!-- GM Tab --}}
      <div class="tab" data-group="primary" data-tab="gm">

        <label>{{localize "RQG.Item.Gear.GMNotes"}} {{editor content=gearData.gmNotes target="data.gmNotes"
          button=true owner=owner editable=editable}}
        </label>
      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab" data-group="primary" data-tab="active-effects">
        {{> "systems/rqg/items/sheet-parts/itemActiveEffects.hbs"}}
      </div>


      {{!-- RQG System Tab --}}
      <div class="tab" data-group="primary" data-tab="rqgsystem">
        {{> "systems/rqg/items/sheet-parts/itemRqId.hbs"
          itemData=gearData
        }}
      </div>
    </section>

  </main>
</form>