<form>
  <h1>{{characteristicName}}</h1>
  <div class="key-value-grid">
    <label>{{localize "RQG.Dialog.CharacteristicRoll.Difficulty"}}</label>
    <select name="difficulty">
      {{selectOptions difficultyOptions selected=object.difficulty localize=false}}
    </select>

    <label>{{localize "RQG.Dialog.CharacteristicRoll.Augment"}}</label>
    <select name="augmentModifier">
      {{selectOptions augmentOptions selected=object.augmentModifier localize=true}}
    </select>

    <label>{{localize "RQG.Dialog.CharacteristicRoll.Meditate"}}</label>
    <select name="meditateModifier">
      {{selectOptions meditateOptions selected=object.meditateModifier localize=true}}
    </select>

    <input type="text" style="text-align:end;font-weight:bold;" value="{{object.otherModifierDescription}}" name="otherModifierDescription">
    <div>
      <input type="number" value="{{object.otherModifier}}" name="otherModifier"> %
    </div>
  </div>
  <button data-characteristic-roll>{{localize "RQG.Dialog.Common.RollFormat" chance=totalChance}}</button>
</form>
