<form class="{{cssClass}}" autocomplete="off">
  <header class="item-sheet-header">

    <div class="item-sheet-header-img">
      <img src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    </div>

    <div class="name-parts-1">
        <label for="family-history-{{data._id}}">{{localize "RQG.Item.FamilyHistory.FamilyHistory"}}</label>
        <input type="text"
            id="family-history-{{data._id}}"
            name="name"
            value="{{data.name}}">
    </div>

  </header>

  <main>

    {{!-- Sheet Tab Navigation --}}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="family-history">{{localize "RQG.Item.SheetTab.FamilyHistory"}}</a>
      {{#if isGM}}
      <a class="item" data-tab="gm">{{localize "RQG.Item.SheetTab.GM"}}</a>
      {{#unless isEmbedded}}
      <a class="item" data-tab="active-effects">{{localize "RQG.Item.SheetTab.ActiveEffects"}}</a>
      {{/unless}}
      {{/if}}
    </nav>

    <section class="sheet-body">
      {{!-- Family History Tab --}}
      <div class="tab" data-group="primary" data-tab="family-history">

        <div class="family-history-entries">

          {{#each familyHistoryData.familyHistoryEntries}}

            <div class="family-history-entry">
              <div class="year-header">
                <div class="year-header-edit">
                  <input type="text" 
                        id="year-text-{{@index}}"
                        data-index="{{@index}}"
                        value="{{this.yearText}}">
                  <input type="number"
                        id="begin-year-{{@index}}"
                        data-index="{{@index}}"
                        value="{{this.beginYear}}">
                  -
                  <input type="number"
                        id="end-year-{{@index}}"
                        data-index="{{@index}}"
                        value="{{this.endYear}}">   
                </div>
                <div  class="year-controls">
                  <div>
                    <i class="fas fa-caret-down"
                       title="{{localize 'RQG.Item.FamilyHistory.HideDetails'}}"></i>
                    <i class="fas fa-caret-right" 
                       style="display: none;"
                       title="{{localize 'RQG.Item.FamilyHistory.ShowDetails'}}"></i>
                  </div>
                  <div></div>
                  <div>
                    <i
                      class="fas fa-times icon"
                      data-delete-index="{{@index}}"
                      title="{{localize 'RQG.Item.FamilyHistory.DeleteFamilyHistoryEntry'}}"
                    ></i>                       
                  </div>
                </div>
              </div>

              <div class="year-description">
                <textarea rows="10"
                  id="events-text-{{@index}}"
                  data-index="{{@index}}"
                  >{{this.eventsText}}</textarea>
              </div>
              <div class="year-details item-sheet-properties">
                <label>{{localize 'RQG.Item.FamilyHistory.TargetCharacter'}}</label>
                <div>
                  <select id="target-character-{{@index}}"
                          data-index="{{@index}}" >

                    {{#select this.targetCharacter}}
                      {{#each ../sheetSpecific.targetCharacterTypes}}
                        <option
                          value="{{this}}"
                        >{{localize (concat 'RQG.Item.FamilyHistory.TargetCharacterType.' this)}}</option>
                      {{/each}}
                    {{/select}}
                  </select>                      
                </div>
                <label>{{localize 'RQG.Item.FamilyHistory.YearRollTable'}}</label>
                <div>
                    {{> "systems/rqg/items/sheet-parts/rqidLink.hbs"
                        rqidLink=this.rollTableRqidLink
                    }}
                </div>
                <label>{{localize 'RQG.Item.FamilyHistory.YearDiceExpression'}}</label>
                <div>
                  <input type="text"
                         id="year-dice-expression-{{@index}}"
                         data-index="{{@index}}"
                         value="{{this.yearDiceExpression}}">

                </div>
                <label>{{localize 'RQG.Item.FamilyHistory.YearModifiers'}}</label>
                <div>
                  <input type="text" 
                        id="year-modifiers-{{@index}}"
                        data-index="{{@index}}"
                        value="{{this.modifiers}}">  
                </div>
              </div>
            </div>
          {{/each}}

        </div>

      </div>

      {{!-- GM Tab --}}
      <div class="tab" data-group="primary" data-tab="gm">

        <label>{{localize "RQG.Item.Gear.GMNotes"}} {{editor content=homelandData.gmNotes target="data.gmNotes"
          button=true owner=owner editable=editable}}
        </label>
      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab" data-group="primary" data-tab="active-effects">
        {{> "systems/rqg/items/sheet-parts/itemActiveEffects.hbs"}}

      </div>
    </section>

  </main>

</form>
