<form class="{{cssClass}}" autocomplete="off">
  <header class="item-sheet-header">

    <div class="item-sheet-header-img">
      <img src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    </div>

    <div class="name-parts-1">
        <label for="family-history-{{data._id}}">{{localize "RQG.Item.FamilyHistory.FamilyHistory"}}</label>
        <input type="text"
            id="family-history-{{data._id}}"
            name="data.name"
            value="{{data.name}}">
    </div>
    
  </header>

  <main>


  </main>

</form>
