<form class="{{cssClass}}" autocomplete="off">
  <header class="item-sheet-header">

    <div class="item-sheet-header-img">
      <img src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    </div>

    <div class="name-parts-1">
        <label for="family-history-{{data._id}}">{{localize "RQG.Item.FamilyHistory.FamilyHistory"}}</label>
        <input type="text"
            id="family-history-{{data._id}}"
            name="data.name"
            value="{{data.name}}">
    </div>

              {{sheetSpecific.targetCharacterTypes}}
  </header>

  <main>

    {{!-- Sheet Tab Navigation --}}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="family-history">{{localize "RQG.Item.SheetTab.FamilyHistory"}}</a>
      {{#if isGM}}
      <a class="item" data-tab="gm">{{localize "RQG.Item.SheetTab.GM"}}</a>
      {{#unless isEmbedded}}
      <a class="item" data-tab="active-effects">{{localize "RQG.Item.SheetTab.ActiveEffects"}}</a>
      {{/unless}}
      {{/if}}
    </nav>

    <section class="sheet-body">
      {{!-- Family History Tab --}}
      <div class="tab" data-group="primary" data-tab="family-history">

        <div class="family-history-sheet-grid">

          {{#each familyHistoryData.familyHistoryEntries}}
            <div class="grid-item" data-index="{{@index}}">
                {{editor
                  content=this.eventsText
                  target="eventsText"
                  button=true
                  owner=owner
                  editable=editable
                }}              
            </div>
            <div class="grid-item">
              <input type="number" 
                     style="  text-align: right;width: 50px;"
                     id="begin-year-{{@index}}"
                     data-index="{{@index}}"
                     value="{{this.beginYear}}">
              -
              <input type="number" 
                     style="  text-align: right;width: 50px;"
                     id="end-year-{{@index}}"
                     data-index="{{@index}}"
                     value="{{this.endYear}}">    
            </div>
            <div class="grid-item">
              <select id="target-character-{{@index}}"
                      data-index="{{@index}}" >

                {{#select this.targetCharacter}}
                  {{#each ../sheetSpecific.targetCharacterTypes}}
                    <option
                      value="{{this}}"
                    >{{localize (concat 'RQG.Item.FamilyHistory.TargetCharacterType.' this)}}</option>
                  {{/each}}
                {{/select}}
              </select>              
            </div>
            <div class="grid-item">
              {{> "systems/rqg/items/sheet-parts/rqidLink.hbs"
                  rqidLink=this.rollTableRqidLink
              }}
            </div>
            <div class="grid-item">
              <input type="text" 
                     id="modifiers-{{@index}}"
                     data-index="{{@index}}"
                     value="{{this.modifiers}}">    
            </div>
            <div class="grid-item">
              <i
                class="fas fa-times icon"
                data-delete-index="{{@index}}"
                title="{{localize 'RQG.Item.FamilyHistory.DeleteFamilyHistoryEntry' rqid=rqidLink.rqid name=rqidLink.name}}"
              ></i>              
            </div>
          {{/each}}

        </div>

      </div>

      {{!-- GM Tab --}}
      <div class="tab" data-group="primary" data-tab="gm">

        <label>{{localize "RQG.Item.Gear.GMNotes"}} {{editor content=homelandData.gmNotes target="data.gmNotes"
          button=true owner=owner editable=editable}}
        </label>
      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab" data-group="primary" data-tab="active-effects">
        {{> "systems/rqg/items/sheet-parts/itemActiveEffects.hbs"}}

      </div>
    </section>

  </main>

</form>
