{{!-- Partial Id: {{> rqidLink

Parameters:

rqidLink: RqidLink {rqid, documentType, name, bonus}
showDeleteFromPropertyName: string - added to data-delete-from-property DOMdata Handle deleting RqidLinks from RqidLink Array Properties
showInfoCircleConnect: string - translation key for tooltip content if not linked
showInfoCircleReplace: string - translation key for tooltip content if linked
showBonus: boolean
editBonusPropertyName: string - example "skillRqidLinks"
--}}

{{#if rqidLink.rqid}}
  <div class="rqidlink">
    <a
      class="rqid-content-link"
      data-rqid-link="{{rqidLink.rqid}}"
      data-document-type="{{rqidLink.documentType}}"
      data-tooltip="{{rqidLinkTooltip rqidLink.rqid}}"
    >{{{rqidLinkIcon rqidLink.rqid}}}{{rqidLink.name}}</a>

    {{#if showBonus}}
      {{#if editBonusPropertyName}}
        +
        <input type="number" value="{{rqidLink.bonus}}"
               style="text-align: right; width: 25px;"
               data-edit-bonus-property-name="{{editBonusPropertyName}}"
               data-rqid="{{rqidLink.rqid}}">%
      {{else}}
        <span>+{{rqidLink.bonus}}%</span>
      {{/if}}
    {{/if}}

    {{#if rqidLink.rqid}}
      {{#if showDeleteFromPropertyName}}
        <i
          class="fas fa-times icon"
          data-delete-rqid="{{rqidLink.rqid}}"
          data-delete-from-property="{{showDeleteFromPropertyName}}"
          data-tooltip="{{localize 'RQG.Foundry.ContentLink.RqidLinkDelete' rqid=rqidLink.rqid name=rqidLink.name}}"
        ></i>
      {{/if}}
    {{/if}}

    {{#if rqidLink.rqid}}
      {{#if showInfoCircleReplace}}
        <i
          class="fas fa-info-circle icon"
          data-tooltip="{{localize showInfoCircleReplace}}"
        ></i>
      {{/if}}
    {{/if}}

  </div>

{{else}}

  {{#if showInfoCircleConnect}}
    <i
      class="fas fa-info-circle icon"
      data-tooltip="{{localize showInfoCircleConnect}}"
    ></i>
  {{/if}}

{{/if}}
