<div class="dice-tooltip">
  <div class="text-left">{{usageCostText}}</div>
  <b>{{usedRuneChance}}</b><sub><i>{{usedRuneName}}</i></sub>
  {{#each modifiers}}
    <b>{{value}}</b><sub><i>{{description}}</i></sub>
  {{/each}}
</div>

