<header class="roll-header">
  <div class="sub-header">{{rollType}}</div>
  <div{{#if spellSummaryTooltip}} data-tooltip="{{spellSummaryTooltip}}"{{/if}}>
    <div class="main-header">{{rollName}}</div>
    <div class="spell-summary">{{spellSummary}}</div>
  </div>
  <div class="sub-header">{{baseChance}}</div>
</header>
