<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" data-tooltip="{{name}}">

    <div class="flex-column gap03rem">

      <div class="property-line">
        <div class="label-above">
          <label for="deity-{{id}}">{{localize "RQG.Item.Cult.Deity"}}</label>
          <input
            id="deity-{{id}}"
            type="text"
            name="system.deity"
            value="{{system.deity}}"
            placeholder="{{localize "RQG.Item.Cult.Deity"}}"
          />
        </div>

        <div class="label-above">
          <label for="name-{{id}}">{{localize "RQG.Item.Cult.Name"}}</label><br>
          {{name}}
        </div>
      </div>

      {{> rqidLinkDropzone
        rqidLink=system.descriptionRqidLink
        dropzoneData="descriptionRqidLink"
        dropDocumentNames="JournalEntry, JournalEntryPage"
        showDeleteFromPropertyName="descriptionRqidLink"
        showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
      }}
    </div>
  </header>
  <main>
    {{! Sheet Tab Navigation }}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="deity">{{localize "RQG.Item.SheetTab.Deity"}}</a>
      {{#if isEmbedded}}
        <a class="item" data-tab="giftsandgeases">{{localize "RQG.Item.SheetTab.GiftsAndGeases"}}</a>
      {{/if}}
      <a class="item" data-tab="cults">{{localize "RQG.Item.SheetTab.Cults"}}</a>
    </nav>

    <section class="sheet-body">
      {{! Deity Tab }}
      <div class="tab" data-group="primary" data-tab="deity">
        <div class="key-value-grid">
          <label for="rune-points-value-{{id}}">{{localize "RQG.Item.Cult.RunePoints"}}</label>
          <div>
            <input
              id="rune-points-value-{{id}}"
              name="system.runePoints.value"
              value="{{system.runePoints.value}}"
              type="number"
              min="0"
              max="99"
            /> / <input
            id="rune-points-max-{{id}}"
            name="system.runePoints.max"
            value="{{system.runePoints.max}}"
            type="number"
            min="0"
            max="99"
          />
          </div>

          <label for="runes-{{id}}">{{localize "RQG.Item.Cult.Runes"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.runeRqidLinks
            dropzoneData="runeRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="rune"
            allowDuplicates="true"
            showDeleteFromPropertyName="runeRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectRune"
            dropdownOptions=allRuneOptions
          }}

          <label>{{localize "RQG.Item.Cult.CommonRuneMagic"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.commonRuneMagicRqidLinks
            dropzoneData="commonRuneMagicRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="runeMagic"
            showDeleteFromPropertyName="commonRuneMagicRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectRuneMagic"
          }}

          <label class="editor-label">{{localize "RQG.Item.Cult.HolyDays"}}</label>
          <div class="editor-container">
            {{editor
              enrichedHolyDays
              target="system.holyDays"
              button=true
              editable=isEditable
            }}
          </div>
        </div>
      </div>

      {{! Gifts and Geases Tab }}
      <div class="tab" data-group="primary" data-tab="giftsandgeases">
        <div class="key-value-grid">
          <label class="editor-label">{{localize "RQG.Item.Cult.ActorsGifts"}}</label>
          <div class="editor-container">
            {{editor
              enrichedGifts
              target="system.gifts"
              button=true
              editable=isEditable
            }}
          </div>

          <label class="editor-label">{{localize "RQG.Item.Cult.ActorsGeases"}}</label>
          <div class="editor-container">
            {{editor
              enrichedGeases
              target="system.geases"
              button=true
              editable=isEditable
            }}
          </div>
        </div>
      </div>

      {{! Cults Tab }}
      <div class="tab" data-group="primary" data-tab="cults">
        <div class="flex-column gap1rem">
          {{#each system.joinedCults}}
            <div class="flex-row flex-align-center joined-cult">
              <div class="key-value-grid fullwidth">
                <label for="cultName-{{@index}}-{{id}}">{{localize "RQG.Item.Cult.CultName"}}</label>
                <input
                  id="tagline-{{@index}}-{{id}}"
                  type="text"
                  name="system.joinedCults.cultName"
                  value="{{this.cultName}}"
                  placeholder="{{../system.deity}}"
                />

                <label for="tagline-{{@index}}-{{id}}">{{localize "RQG.Item.Cult.CultTagline"}}</label>
                <input
                  id="tagline-{{@index}}-{{id}}"
                  type="text"
                  name="system.joinedCults.tagline"
                  value="{{this.tagline}}"
                />

                <label for="cult-rank-{{@index}}-{{id}}">{{localize "RQG.Item.Cult.CultRank"}}</label>
                <select name="system.joinedCults.rank" id="cult-rank-{{@index}}-{{id}}">
                  {{selectOptions @root.rankOptions selected=this.rank localize=true}}
                </select>
              </div>
              <a data-tooltip="Delete Cult" data-delete-cult="{{@index}}"><i class="fas fa-trash"></i></a>
            </div>
          {{/each}}
        </div>

        <button class="add-cult" data-add-cult>{{localize "RQG.Item.Cult.AddNewSubCult"}}</button>
      </div>
    </section>
  </main>
</form>
