<h1>
  {{localize "RQG.ActorCreation.Nav.0-Species"}}
</h1>

<div class="item-sheet-properties">
    <label>Choose Species:</label> 
    <select name="data.background.species">
    {{#select data.data.background.species}}
        {{#each speciesTemplates}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
    {{/select}}
    </select>    
</div>


{{!-- {{#each speciesTemplates}} --}}
  <div>
    <h2>{{selectedSpeciesTemplate.name}}</h2>
    <div class="characteristics">
      <div class="flex-column">
        <label class="norse">{{localize "RQG.Actor.Characteristics.strength"}}</label>
        {{selectedSpeciesTemplate.data.data.characteristics.strength.formula}}
      </div>
      <div class="flex-column">
        <label class="norse">{{localize "RQG.Actor.Characteristics.constitution"}}</label>
        {{selectedSpeciesTemplate.data.data.characteristics.constitution.formula}}
      </div>
      <div class="flex-column">
        <label class="norse">{{localize "RQG.Actor.Characteristics.size"}}</label>
        {{selectedSpeciesTemplate.data.data.characteristics.size.formula}}
      </div>
      <div class="flex-column">
        <label class="norse">{{localize "RQG.Actor.Characteristics.dexterity"}}</label>
        {{selectedSpeciesTemplate.data.data.characteristics.dexterity.formula}}
      </div>
      <div class="flex-column">
        <label class="norse">{{localize "RQG.Actor.Characteristics.intelligence"}}</label>
        {{selectedSpeciesTemplate.data.data.characteristics.intelligence.formula}}
      </div>
      <div class="flex-column">
        <label class="norse">{{localize "RQG.Actor.Characteristics.power"}}</label>
        {{selectedSpeciesTemplate.data.data.characteristics.power.formula}}
      </div>
      <div class="flex-column">
        <label class="norse">{{localize "RQG.Actor.Characteristics.charisma"}}</label>
        {{selectedSpeciesTemplate.data.data.characteristics.charisma.formula}}
      </div>
    </div>
    <div>
      {{{enrichHtml selectedSpeciesTemplate.data.data.background.biography}}}
    </div>
  </div>
{{!-- {{/each}} --}}