<section class="sheet-body">
  <div class="tab tab-placeholder" data-group="primary" data-tab="combat">
    <p class="norse text-center">{{localize "RQG.Actor.Nav.Combat"}}</p>
    <p class="text-center"><em>Tab content will be implemented in upcoming milestones.</em></p>
  </div>
  <div class="tab tab-placeholder" data-group="primary" data-tab="runes">
    <p class="norse text-center">{{localize "RQG.Actor.Nav.Runes"}}</p>
    <p class="text-center"><em>Tab content will be implemented in upcoming milestones.</em></p>
  </div>
  <div class="tab tab-placeholder" data-group="primary" data-tab="spiritmagic">
    <p class="norse text-center">{{localize "RQG.Actor.Nav.SpiritMagic"}}</p>
    <p class="text-center"><em>Tab content will be implemented in upcoming milestones.</em></p>
  </div>
  <div class="tab tab-placeholder" data-group="primary" data-tab="runemagic">
    <p class="norse text-center">{{localize "RQG.Actor.Nav.RuneMagic"}}</p>
    <p class="text-center"><em>Tab content will be implemented in upcoming milestones.</em></p>
  </div>
  <div class="tab tab-placeholder" data-group="primary" data-tab="skills">
    <p class="norse text-center">{{localize "RQG.Actor.Nav.Skills"}}</p>
    <p class="text-center"><em>Tab content will be implemented in upcoming milestones.</em></p>
  </div>
  <div class="tab tab-placeholder" data-group="primary" data-tab="gear">
    <p class="norse text-center">{{localize "RQG.Actor.Nav.Gear"}}</p>
    <p class="text-center"><em>Tab content will be implemented in upcoming milestones.</em></p>
  </div>
  <div class="tab tab-placeholder" data-group="primary" data-tab="passions">
    <p class="norse text-center">{{localize "RQG.Actor.Nav.Passions"}}</p>
    <p class="text-center"><em>Tab content will be implemented in upcoming milestones.</em></p>
  </div>
  <div class="tab tab-placeholder" data-group="primary" data-tab="background">
    <p class="norse text-center">{{localize "RQG.Actor.Nav.Background"}}</p>
    <p class="text-center"><em>Tab content will be implemented in upcoming milestones.</em></p>
  </div>
</section>
