<section class="tab skills-tab-v2" data-group="primary" data-tab="skills">

  {{#if enrichedUnspecifiedSkill}}<div class="specialization warning">{{{enrichedUnspecifiedSkill}}}</div>{{/if}}

  <div class="skill-filter-row">
    <i class="fas fa-magnifying-glass"></i>
    <input class="skill-filter" type="search" placeholder="{{localize 'RQG.Actor.Skill.FilterPlaceholder'}}">
  </div>

  <div class="masonry">
    {{#each embeddedItems.skill}}
    {{#if this}}
    <div class="masonry-item">
      <h2>{{localize (concat 'RQG.Actor.Skill.SkillCategory.' @key)}}
        <span class="category-modifier">({{#with @root.system.skillCategoryModifiers}}{{lookup this @key}}{{/with}})</span>
      </h2>
      <div class="grid skill{{#edit-mode ../system.editMode 'all'}} skill-edit-mode{{/edit-mode}} item-list">
        {{#each this}}
        {{#unless system.runeRqidLinks.length}}
        <div class="skill-row">
          <div class="skill contextmenu item"
               data-item-id="{{id}}"
               {{#if system.descriptionRqidLink.rqid}}data-rqid-link="{{system.descriptionRqidLink.rqid}}"{{/if}}>
            <img src="{{img}}">
          </div>
          <div class="skill contextmenu item"
               data-item-id="{{id}}"
               data-item-roll
               data-tooltip="{{localize 'RQG.Game.RollTitle'}}">
            {{system.skillName}}{{#if system.specialization}} ({{system.specialization}}){{/if}}
            {{#unless system.canGetExperience}}
              <img class="requires-training" src="systems/rqg/assets/images/ui/skill-requires-training.svg"
                   data-tooltip="{{localize 'RQG.Actor.Skill.RequiresTraining'}}">
            {{/unless}}
          </div>
          {{#edit-mode ../../system.editMode "all"}}
          <div class="skill-gained-edit">
            <input type="number" data-item-edit-value="system.gainedChance" data-item-id="{{id}}" value="{{system.gainedChance}}">%
          </div>
          {{/edit-mode}}
          <div class="skill contextmenu item {{experiencedclass uuid}}"
               data-item-id="{{id}}"
               data-item-roll
               data-tooltip="{{localize 'RQG.Game.RollTitle'}}">
            <span class="nowrap text-right">{{system.chance}}%</span>
          </div>
        </div>
        {{/unless}}
        {{/each}}
      </div>
    </div>
    {{/if}}
    {{/each}}
  </div>

</section>
