<div class="nav-wrapper">
  <div class="navbackground"></div>
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item norse" data-group="primary" data-tab="combat">{{localize "RQG.Actor.Nav.Combat"}}</a>
    <a class="item norse" data-group="primary" data-tab="runes">{{localize "RQG.Actor.Nav.Runes"}}</a>
    <a class="item norse" data-group="primary" data-tab="spiritmagic">{{localize "RQG.Actor.Nav.SpiritMagic"}}</a>
    <a class="item norse" data-group="primary" data-tab="runemagic">{{localize "RQG.Actor.Nav.RuneMagic"}}</a>
    <a class="item norse" data-group="primary" data-tab="skills">{{localize "RQG.Actor.Nav.Skills"}}</a>
    <a class="item norse" data-group="primary" data-tab="gear">{{localize "RQG.Actor.Nav.Gear"}}</a>
    <a class="item norse" data-group="primary" data-tab="passions">{{localize "RQG.Actor.Nav.Passions"}}</a>
    <a class="item norse" data-group="primary" data-tab="background">{{localize "RQG.Actor.Nav.Background"}}</a>
  </nav>
</div>
