<div class="nav-wrapper">
  <div class="navbackground"></div>
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item norse" data-group="primary" data-tab="combat">{{localize "RQG.Actor.Nav.Combat"}}</a>
    {{#if showUiSection.runes}}<a class="item norse" data-group="primary" data-tab="runes">{{localize "RQG.Actor.Nav.Runes"}}</a>{{/if}}
    {{#if showUiSection.spiritMagic}}<a class="item norse" data-group="primary" data-tab="spiritmagic">{{localize "RQG.Actor.Nav.SpiritMagic"}}</a>{{/if}}
    {{#if showUiSection.runeMagic}}<a class="item norse" data-group="primary" data-tab="runemagic">{{localize "RQG.Actor.Nav.RuneMagic"}}</a>{{/if}}
    {{#if showUiSection.skills}}<a class="item norse" data-group="primary" data-tab="skills">{{localize "RQG.Actor.Nav.Skills"}}</a>{{/if}}
    {{#if showUiSection.gear}}<a class="item norse" data-group="primary" data-tab="gear">{{localize "RQG.Actor.Nav.Gear"}}</a>{{/if}}
    {{#if showUiSection.passions}}<a class="item norse" data-group="primary" data-tab="passions">{{localize "RQG.Actor.Nav.Passions"}}</a>{{/if}}
    <a class="item norse" data-group="primary" data-tab="background">{{localize "RQG.Actor.Nav.Background"}}</a>
    {{#if showUiSection.activeEffects}}
      <a class="item norse" data-group="primary" data-tab="activeeffectstesting">{{localize "RQG.Actor.Nav.ActiveEffects"}}</a>
    {{/if}}
  </nav>
</div>
