{{log 'itemRqgSystem' this}}
<div class="item-sheet-properties">
  <label for="rqid-{{data._id}}">{{localize "RQG.RQGSystem.rqid"}}</label>
  <div class="input-button">
    <input type="text" id="rqid-{{data._id}}" name="data.rqid" value="{{itemData.rqid}}" />
    <a title="{{localize "RQG.RQGSystem.QuickRqid"}}" data-item-id="{{data._id}}" {{#if isEmbedded}}data-owner-id="{{ownerId}}"{{/if}} data-item-rqid-quick><i class="fas fa-plus"></i></a>
  </div>

  <label for="rqidPriority-{{data._id}}">{{localize "RQG.RQGSystem.rqidPriority"}}</label>
  <input
    type="number"
    id="rqidPriority-{{data._id}}"
    name="data.rqidPriority"
    value="{{itemData.rqidPriority}}"
  />

  <label for="rqidLang-{{data._id}}">{{localize "RQG.RQGSystem.rqidLang"}}</label>
  <select
    id="rqidLang-{{data._id}}"
    name="data.rqidLang">
  {{#select itemData.rqidLang}}
    {{#each supportedLanguages}}
      <option value="{{@key}}">{{@key}}: {{this}}</option>
    {{/each}}
  {{/select}}
  </select>

</div>
<hr>
<div class="item-sheet-properties">
  <label for="item-foundryid-{{data._id}}">{{localize "RQG.RQGSystem.ItemFoundryId"}}</label>
  <div class="input-button">
    <input
      type="text"
      id="item-foundryid-{{data._id}}"
      name="data.item-foundryid"
      value="{{data._id}}"
      readonly
    />
    <a title="{{localize "RQG.RQGSystem.CopyInputValue"}}"
        data-item-id="{{data._id}}"
        data-item-copy-input>
      <i class="fas fa-copy"></i>
    </a>
  </div>

  <label for="item-foundryuuid-{{data._id}}">{{localize "RQG.RQGSystem.ItemFoundryUuid"}}</label>
  <div class="input-button">
    <input
      type="text"
      id="item-foundryuuid-{{data._id}}"
      name="data.item-foundryuuid"
      value="{{uuid}}"
      readonly
    />
    <a title="{{localize "RQG.RQGSystem.CopyInputValue"}}"
        data-item-id="{{data._id}}"
        data-item-copy-input>
      <i class="fas fa-copy"></i>
    </a>
  </div>

  {{#if isEmbedded}}
  <label for="owner-foundryid-{{data._id}}">{{localize "RQG.RQGSystem.OwnerFoundryId"}}</label>
  <div class="input-button">
    <input
      type="text"
      id="owner-foundryid-{{data._id}}"
      name="data.owner-foundryid"
      value="{{ownerId}}"
      readonly
    />
    <a title="{{localize "RQG.RQGSystem.CopyInputValue"}}"
        data-item-id="{{data._id}}"
        data-item-copy-input>
      <i class="fas fa-copy"></i>
    </a>
  </div>
  {{/if}}

  <label for="get-item-macro-{{data._id}}">{{localize "RQG.RQGSystem.GetItemMacro"}}</label>
  <div class="input-button">
    <input
      type="text"
      id="get-item-macro-{{data._id}}"
      name="data.get-item-macro"
      value='await fromUuid("{{uuid}}")'
      readonly
    />
    <a title="{{localize "RQG.RQGSystem.CopyInputValue"}}"
        data-item-id="{{data._id}}"
        data-item-copy-input>
      <i class="fas fa-copy"></i>
    </a>
  </div>

  <label for="get-item-like-this-macro-{{data._id}}">{{localize "RQG.RQGSystem.GetItemLikeThis"}}</label>
  <div class="input-button">
    <input
      type="text"
      id="get-item-like-this-macro-{{data._id}}"
      name="data.get-item-like-this-macro"
      value='await game.system.api.rqid.fromRqid("{{itemData.rqid}}","{{itemData.rqidLang}}")'
      readonly
    />
    <a title="{{localize "RQG.RQGSystem.CopyInputValue"}}"
        data-item-id="{{data._id}}"
        data-item-copy-input>
      <i class="fas fa-copy"></i>
    </a>
  </div>

</div>
