<label for="encumbrance-{{id}}">{{localize "RQG.Item.Gear.EncumbranceAbbrEach"}}</label>
<input id="encumbrance-{{id}}"
       type="number"
       name="system.encumbrance"
       value="{{system.encumbrance}}"
       min="0"
       max="999999"
/>

<label>{{localize "RQG.Item.Gear.EncumbranceAbbrTotal"}}</label>
<span class="number">{{decimalMultiply system.quantity system.encumbrance}}</span>

<label for="equipped-status-{{id}}">{{localize "RQG.Item.Gear.EquippedStatus"}}</label>
<select id="equipped-status-{{id}}" name="system.equippedStatus">
  {{selectOptions equippedStatusOptions selected=system.equippedStatus localize=true}}
</select>

{{#if isGM}}
  <label for="price-real-{{id}}">{{localize "RQG.Item.Gear.PriceReal"}}</label>
  <div>
    <input id="price-real-{{id}}"
           type="number"
           name="system.price.real"
           value="{{system.price.real}}"
           min="0"
           max="99999999">
    {{localize "RQG.Item.Gear.LunarsAbbr"}}
  </div>
{{/if}}

<label for="price-estimated-{{id}}">{{localize "RQG.Item.Gear.PriceEstimated"}}</label>
<div>
  <input id="price-estimated-{{id}}"
         type="number"
         name="system.price.estimated"
         value="{{system.price.estimated}}"
         min="0"
         max="99999999">
  {{localize "RQG.Item.Gear.LunarsAbbr"}}
</div>

<label for="location-{{id}}">{{localize "RQG.Item.Gear.Location"}}</label>
<input id="location-{{id}}"
       type="text"
       name="system.location"
       value="{{system.location}}">

{{#if isGM}}
  <label for="attuned-to-{{id}}">{{localize "RQG.Item.Gear.AttunedTo"}}</label>
  <input id="attuned-to-{{id}}"
         type="text"
         name="system.attunedTo"
         value="{{system.attunedTo}}">
{{/if}}
