<div class="dice-tooltip" data-only-owner-visible-uuid="{{speakerUuid}}">
  <b>{{naturalSkill}}</b><sub><i>{{localize "RQG.Roll.AbilityRoll.Base"}}</i></sub>
  {{#each modifiers}}
    <b>{{value}}</b><sub><i>{{description}}</i></sub>
  {{/each}}
</div>
