<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" data-tooltip="{{name}}" />

    <div class="flex-column gap03rem">

      <div class="property-line">
        <div class="label-above">
          <label for="background-{{id}}">{{localize "RQG.Item.Background.BackgroundType"}}</label>
          <input
            id="background-{{id}}"
            name="system.background"
            value="{{system.background}}"
            type="text"
          >
        </div>

        <div class="label-above">
          <label for="region-{{id}}">{{localize "RQG.Item.Background.Specialization"}}</label>
          <div>
            ( <input type="text" id="region-{{id}}" name="system.specialization"
                     value="{{system.specialization}}"> )
          </div>
        </div>
      </div>


      {{> rqidLinkDropzone
        rqidLink=system.backgroundRqidLink
        dropzoneData="backgroundRqidLink"
        dropDocumentNames="JournalEntry, JournalEntryPage"
        showDeleteFromPropertyName="backgroundRqidLink"
        showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
      }}
    </div>

  </header>

  <main>

    {{!-- Sheet Tab Navigation --}}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="background">{{localize "RQG.Item.SheetTab.Background"}}</a>
    </nav>

    <section class="sheet-body">
      {{!-- Background Tab --}}
      <div class="tab" data-group="primary" data-tab="background">
        {{!-- {{json system}} --}}

       
        <div class="key-value-grid">

          <label>{{localize "RQG.Item.Background.Skills"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.backgroundSkillRqidLinks
            dropzoneData="backgroundSkillRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="rune"
            showDeleteFromPropertyName="backgroundSkillRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectRune"
            showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceRune"
            dropdownOptions=allSkillOptions
            showBonus=true
            editBonusPropertyName="backgroundSkillRqidLinks"
          }}


          <label>{{localize "RQG.Item.Background.Runes"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.backgroundRuneRqidLinks
            dropzoneData="backgroundRuneRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="rune"
            showDeleteFromPropertyName="backgroundRuneRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectRune"
            showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceRune"
            dropdownOptions=allRuneOptions
            showBonus=true
            editBonusPropertyName="backgroundRuneRqidLinks"
          }}

          <label>{{localize "RQG.Item.Background.Passions"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.backgroundPassionRqidLinks
            dropzoneData="backgroundPassionRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="passion"
            showDeleteFromPropertyName="backgroundPassionRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectRune"
            showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceRune"
            dropdownOptions=allPassionOptions
            showBonus=true
            editBonusPropertyName="backgroundPassionRqidLinks"
          }}

          
          <label>{{localize "RQG.Item.Background.SuggestedCults"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.suggestedCultRqidLinks
            dropzoneData="suggestedCultRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="background"
            showDeleteFromPropertyName="suggestedCultRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectCult"
          }}

          <label>{{localize "RQG.Item.Background.SuggestedOccupations"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.suggestedOccupationRqidLinks
            dropzoneData="suggestedOccupationRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="background"
            showDeleteFromPropertyName="suggestedOccupationRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectOccupation"
          }}
            
          </div>
        </div> 

      </div>
    </section>
  </main>
</form>