<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" data-tooltip="{{name}}" />

    <div class="flex-column gap03rem">

      <div class="property-line">
        <div class="label-above">
          <label for="background-{{id}}">{{localize "RQG.Item.Background.BackgroundType"}}</label>
          <input
            id="background-{{id}}"
            name="system.background"
            value="{{system.background}}"
            type="text"
          >
        </div>

        <div class="label-above">
          <label for="region-{{id}}">{{localize "RQG.Item.Background.Specialization"}}</label>
          <div>
            ( <input type="text" id="region-{{id}}" name="system.specialization"
                     value="{{system.specialization}}"> )
          </div>
        </div>
      </div>


      {{> rqidLinkDropzone
        rqidLink=system.backgroundRqidLink
        dropzoneData="backgroundRqidLink"
        dropDocumentNames="JournalEntry, JournalEntryPage"
        showDeleteFromPropertyName="backgroundRqidLink"
        showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
      }}
    </div>

  </header>

  <main>

    {{!-- Sheet Tab Navigation --}}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="background">{{localize "RQG.Item.SheetTab.Background"}}</a>
    </nav>

    <section class="sheet-body">
      {{!-- Background Tab --}}
      <div class="tab" data-group="primary" data-tab="background">
        {{!-- {{json system}} --}}

       
        <div class="key-value-grid">

          <label>{{localize "RQG.Item.Background.SkillBonuses"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.skillBonusRqidLinks
            dropzoneData="skillBonusRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="rune"
            showDeleteFromPropertyName="skillBonusRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectSkill"
            showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceSkill"
            dropdownOptions=allSkillOptions
            showBonus=true
            editBonusPropertyName="skillBonusRqidLinks"
          }}

          <label>{{localize "RQG.Item.Background.IncomeSkills"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.incomeSkillRqidLinks
            dropzoneData="incomeSkillRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="rune"
            showDeleteFromPropertyName="incomeSkillRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectSkill"
            showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceSkill"
            dropdownOptions=allSkillOptions
            editBonusPropertyName="incomeSkillRqidLinks"
          }}

          <label>{{localize "RQG.Item.Background.CultSkills"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.cultSkillRqidLinks
            dropzoneData="cultSkillRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="rune"
            showDeleteFromPropertyName="cultSkillRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectSkill"
            showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceSkill"
            dropdownOptions=allSkillOptions
            editBonusPropertyName="cultSkillRqidLinks"
          }}


          <label>{{localize "RQG.Item.Background.RuneBonuses"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.runeBonusRqidLinks
            dropzoneData="runeBonusRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="rune"
            showDeleteFromPropertyName="runeBonusRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectRune"
            showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceRune"
            dropdownOptions=allRuneOptions
            showBonus=true
            editBonusPropertyName="runeBonusRqidLinks"
          }}

          <label>{{localize "RQG.Item.Background.PassionBonuses"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.passionBonusRqidLinks
            dropzoneData="passionBonusRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="passion"
            showDeleteFromPropertyName="passionBonusRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectRune"
            showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceRune"
            dropdownOptions=allPassionOptions
            showBonus=true
            editBonusPropertyName="passionBonusRqidLinks"
          }}

          
          <label>{{localize "RQG.Item.Background.SuggestedCults"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.suggestedCultRqidLinks
            dropzoneData="suggestedCultRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="background"
            showDeleteFromPropertyName="suggestedCultRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectCult"
            dropdownOptions=allCultOptions
          }}

          <label>{{localize "RQG.Item.Background.SuggestedOccupations"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.suggestedOccupationRqidLinks
            dropzoneData="suggestedOccupationRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="background"
            showDeleteFromPropertyName="suggestedOccupationRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectOccupation"
            dropdownOptions=allOccupationOptions
          }}
            
          </div>
        </div> 

      </div>
    </section>
  </main>
</form>