<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" data-tooltip="{{name}}">

    <div class="property-line">
      <div class="label-above">
        <label for="name-{{id}}">{{localize "RQG.Item.Armor.NamePrefix"}}</label>
        <input type="text" id="name-{{id}}" name="system.namePrefix" value="{{system.namePrefix}}">
      </div>

      <div class="label-above">
        <label for="armor-type-{{id}}">{{localize "RQG.Item.Armor.ArmorTypeLabel"}}</label>
        <input type="text" id="armor-type-{{id}}" name="system.armorType" value="{{system.armorType}}"
               list="armorTypeNames">
      </div>

      <div class="label-above parens long">
        <label for="material-{{id}}">{{localize "RQG.Item.Armor.Material"}}</label>
        <div>
          (<input type="text" id="material-{{id}}" name="system.material" value="{{system.material}}"
                   list="materialNames">)
        </div>
      </div>
    </div>

  </header>
  <main>
    {{!-- Sheet Tab Navigation --}}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="armor">{{localize "RQG.Item.SheetTab.Armor"}}</a>
      <a class="item" data-tab="description">{{localize "RQG.Item.SheetTab.Description"}}</a>
      {{#if isGM}}
        <a class="item" data-tab="gm">{{localize "RQG.Item.SheetTab.GMNotes"}}</a>
        {{#unless isEmbedded}}
          <a class="item" data-tab="active-effects">{{localize "RQG.Item.SheetTab.ActiveEffects"}}</a>
        {{/unless}}
      {{/if}}
    </nav>

    <section class="sheet-body">
      {{!-- Armor Tab --}}
      <div class="tab" data-group="primary" data-tab="armor">

        <div class="key-value-grid">
          <label for="hitlocations-{{id}}">{{localize "RQG.Item.Armor.HitLocations"}}</label>

          <div class="img-name-grid bordered">
            {{#each system.hitLocations}}

              <span><input class="maxcontentwidth" name="system.hitLocations" type="text" value="{{this}}"></span>
            {{/each}}
            <input type="text" id="hitlocations-{{id}}" name="system.hitLocations"
                   list="allHitLocations"
                   placeholder="{{localize "RQG.Item.Armor.AddNewCoveredHitLocationPlaceholder"}}"
            style="grid-column: 1 / span 2;">
          </div>

          <label for="absorbs-{{id}}">{{localize "RQG.Item.Armor.Absorbs"}}</label>
          <input type="number" id="absorbs-{{id}}" name="system.absorbs" min="0" max="99" value="{{system.absorbs}}">

          <label for="move-quietly-penalty-{{id}}">{{localize "RQG.Item.Armor.MoveQuietlyPenalty"}}</label>
          <input type="number" id="move-quietly-penalty-{{id}}" name="system.moveQuietlyPenalty" min="0" max="99"
                 value="{{system.moveQuietlyPenalty}}">

          <label for="fits-size-{{id}}">{{localize "RQG.Item.Armor.FitsSIZ"}}</label>
          <input type="number" id="fits-size-{{id}}" name="system.size" min="1" max="99" value="{{system.size}}">

          {{> "systems/rqg/items/sheet-parts/itemCommonPhysical.hbs"}}
        </div>
      </div>

      {{!-- Description Tab --}}
      <div class="tab" data-group="primary" data-tab="description">
        {{editor
          enrichedDescription
          target="system.description"
          button=true
          editable=isEditable
        }}
      </div>

      {{!-- GM Tab --}}
      <div class="tab" data-group="primary" data-tab="gm">
        {{editor
          enrichedGmNotes
          target="system.gmNotes"
          button=true
          editable=isEditable}}
      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab" data-group="primary" data-tab="active-effects">
        {{> "systems/rqg/items/sheet-parts/itemActiveEffects.hbs"}}
      </div>
    </section>
  </main>

  <datalist id="allHitLocations">
    {{#each allHitLocations}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </datalist>
  <datalist id="armorTypeNames">
    {{#each armorTypeNames}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </datalist>
  <datalist id="materialNames">
    {{#each materialNames}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </datalist>
</form>
