<h2>{{localize "RQG.Foundry.ActiveEffect.Header"}}</h2>
<table>
  <thead>
  <tr>
    <th></th>
    <th>{{localize "RQG.Foundry.ActiveEffect.Name"}}</th>
    <th>{{localize "RQG.Foundry.ActiveEffect.Disabled"}}</th>
    <th>{{localize "RQG.Foundry.ActiveEffect.MatchSuspensionToEquippedStatus"}}</th>
    <th>{{localize "RQG.Foundry.ActiveEffect.Start"}}</th>
    <th>{{localize "RQG.Foundry.ActiveEffect.Duration"}}</th>
    <th>{{localize "EFFECT.FIELDS.changes.element.key.label"}} - {{localize "EFFECT.FIELDS.changes.element.type.label"}} - {{localize "EFFECT.FIELDS.changes.element.value.label"}}</th>
    <th></th>
  </tr>
  </thead>
  {{#each effects}}
  <tr data-effect-uuid="{{uuid}}" data-action="editActiveEffect">
    <td><img class="effect-img" src="{{img}}"></td>
    <td>{{name}}<br>{{toAnchor parent.uuid}}</td>
      <td>{{yes-no disabled}}</td>
      <td>{{yes-no system.matchSuspensionToEquippedStatus}}</td>
    <td>{{activeEffectStart this}}</td>
    {{#if (activeEffectHasEarlyExpiryWarning this)}}
        <td data-tooltip="{{activeEffectEarlyExpiryWarningTooltip this}}">
        {{activeEffectDuration this}}
        <span class="active-effect-warning-badge">{{localize "RQG.Foundry.ActiveEffect.EarlyExpiryWarningBadge"}}</span>
      </td>
    {{else}}
        <td>{{activeEffectDuration this}}</td>
    {{/if}}
    <td>
      <table>
      {{#each changes}}
        <tbody>
        <tr>
          <td>{{key}}</td>
          <td>{{localizeActiveEffectType type}}</td>
          <td>{{value}}</td>
        </tr>
        </tbody>
      {{/each}}
      </table>
    </td>
      <td><a data-tooltip="Delete Effect" data-action="deleteActiveEffect"><i class="fas fa-trash"></i></a></td>
    </tr>
  {{/each}}
</table>
