<h2>{{localize "RQG.Foundry.ActiveEffect.Header"}}</h2>
<table>
  <thead>
  <tr>
    <th></th>
    <th class="text-left">{{localize "RQG.Foundry.ActiveEffect.Name"}}</th>
    <th class="text-left">{{localize "RQG.Foundry.ActiveEffect.Disabled"}}</th>
    <th class="text-left">{{localize "RQG.Foundry.ActiveEffect.StartTime"}}</th>
    <th class="text-left">{{localize "EFFECT.DurationSecs"}}</th>
    <th class="text-left">{{localize "EFFECT.ChangeKey"}} - {{localize "EFFECT.ChangeMode"}} - {{localize "EFFECT.ChangeValue"}}</th>
    <th class="text-left"></th>
  </tr>
  </thead>
  {{#each effects}}
  <tr data-actor-effect-edit data-effect-uuid="{{uuid}}">
    <td><img class="effect-img" src="{{img}}"></td>
    <td>{{name}}<br>
      <i>@ {{parent.name}}</i>
    </td>
    <td>{{yes-no disabled}}</td>
    <td>{{duration.startTime}}</td>
    <td>{{duration.seconds}}</td>
    <td>
      <table>
      {{#each changes}}
        <tbody>
        <tr>
          <td>{{key}}</td>
          <td>{{localizeActiveEffectMode mode}}</td>
          <td>{{value}}</td>
        </tr>
        </tbody>
      {{/each}}
      </table>
    </td>
    <td class="text-right"><a data-tooltip="Delete Effect" data-actor-effect-delete><i class="fas fa-trash"></i></a></td>
    </tr>
  {{/each}}
</table>
