<h2>{{localize 'RQG.Background'}}</h2>
<div class="flex-row flex-wrap">
<fieldset>
  <legend>{{localize 'RQG.BaseData'}}</legend>

    <div class="nowrap">
      {{#if isGM}}
        <label>{{localize 'RQG.BirthYear'}}
          <input type="number" min="0" max="9999" name="data.background.birthyear" value="{{characterData.background.birthyear}}">
        </label>
      {{else if characterData.background.birthyear}}
        <b>{{localize 'RQG.BirthYear'}}</b> {{characterData.background.birthyear}}
      {{/if}}
    </div>

  <div class="nowrap">
    {{#if isGM}}
      <label>{{localize 'RQG.Age'}}
        <input type="number" min="0" max="999" name="data.background.age" value="{{characterData.background.age}}">
      </label>
    {{else if characterData.background.age}}
      <b>{{localize 'RQG.Age'}}</b> {{characterData.background.age}}
    {{/if}}
  </div>

  <div class="nowrap">
    {{#if isGM}}
    <label>{{localize 'RQG.Gender'}}
      <input type="text" name="data.background.gender" value="{{characterData.background.gender}}" size="10">
    </label>
    {{else if data.data.background.gender}}
    <b>{{localize 'RQG.Gender'}}</b> {{data.data.background.gender}}
    {{/if}}
  </div>

  <div class="nowrap">
    {{#if isGM}}
      <label>{{localize 'RQG.Species'}}
        <input type="text" name="data.background.species" value="{{data.data.background.species}}" size="20">
      </label>
    {{else if data.data.background.species}}
      <b>{{localize 'RQG.Species'}}</b> {{data.data.background.species}}
    {{/if}}
  </div>
</fieldset>

<fieldset>
  <legend>{{localize 'RQG.Origin'}}</legend>

  <div class="nowrap">
    {{#if isGM}}
    <label>{{localize 'RQG.Homeland.Heading'}}
      <select name="data.background.homeland">
        {{#select data.data.background.homeland}} {{#each homelands}}
        <option value="{{this}}">{{localize (concat 'RQG.Homeland.' this)}}</option>
        {{/each}} {{/select}}
      </select>
    </label>
    {{else if data.data.background.homeland}}
      <b>{{localize 'RQG.Homeland.Heading'}}</b> {{localize (concat 'RQG.Homeland.' data.data.background.homeland)}}
    {{/if}}
  </div>

  <div class="nowrap">
    {{#if isGM}}
    <label>{{localize 'RQG.TownHomeArea'}}
      <input type="text" name="data.background.town" value="{{data.data.background.town}}" size="30">
    </label>
    {{else if data.data.background.town}}
    <b>{{localize 'RQG.TownHomeArea'}}</b> {{data.data.background.town}}
    {{/if}}
  </div>

  <div class="nowrap">
    {{#if isGM}}
    <label>{{localize 'RQG.Tribe'}}
      <input type="text" name="data.background.tribe" value="{{data.data.background.tribe}}" size="30">
    </label>
    {{else if data.data.background.tribe}}
      <b>{{localize 'RQG.Tribe'}}</b> {{data.data.background.tribe}}
    {{/if}}
  </div>

  <div class="nowrap">
    {{#if isGM}}
    <label>{{localize 'RQG.Clan'}}
      <input type="text" name="data.background.clan" value="{{data.data.background.clan}}" size="30">
    </label>
    {{else if data.data.background.clan}}
      <b>{{localize 'RQG.Clan'}}</b> {{data.data.background.clan}}
    {{/if}}
  </div>

</fieldset>

<fieldset>
  <legend>{{localize 'RQG.Circumstance'}}</legend>

    <div class="nowrap">
      {{#if isGM}}
      <span data-reputation-roll>
        <img src="{{defaultItemIconSrc "Reputation"}}" class="item">
        <label <img src="{{defaultItemIconSrc " Reputation"}}" class="item">
          {{localize 'RQG.Reputation'}}
          <span class="text-right">
            <input type="number" min="0" max="999" name="data.background.reputation"
              value="{{data.data.background.reputation}}">
          </span>
        </label>%
      </span>
      {{else if data.data.background.reputation}}
      <span data-reputation-roll>
        <img src="{{defaultItemIconSrc "Reputation"}}" class="item">
        <b>{{localize 'RQG.Reputation'}}</b> {{data.data.background.reputation}}%
      </span>
      {{/if}}
    </div>

  <div class="nowrap">
    {{#if isGM}}
    <label>{{localize 'RQG.Occupation.Heading'}}
      <select name="data.background.occupation">
        {{#select data.data.background.occupation}} {{#each occupations}}
        <option value="{{this}}">{{localize (concat 'RQG.Occupation.' this)}}</option>
        {{/each}} {{/select}}
      </select>
    </label>
    {{else if data.data.background.occupation}}
    <b>{{localize 'RQG.Occupation.Heading'}}</b> {{localize (concat 'RQG.Occupation.' data.data.background.occupation)}}
    {{/if}}
  </div>

  <div class="nowrap">
    {{#if isGM}}
    <label>{{localize 'RQG.BaseIncome'}}
      <input type="number" min="0" max="99999999" name="data.background.baseIncome" value="{{data.data.background.baseIncome}}">
    </label>(L)
    {{else if data.data.background.baseIncome}}
    <b>{{localize 'RQG.BaseIncome'}}</b> {{data.data.background.baseIncome}} (L)
    {{/if}}
  </div>

  <div class="nowrap">
    {{#if isGM}}
    <label>{{localize 'RQG.Ransom'}}
      <input type="number" min="0" max="99999999" name="data.background.ransom" value="{{data.data.background.ransom}}">
    </label>(L) <label> {{localize 'RQG.RansomDetails'}} <input type="text" name="data.background.ransomDetails" value="{{data.data.background.ransomDetails}}" size="30"></label>
    {{else if data.data.background.ransom}}
      <b>{{localize 'RQG.Ransom'}}</b> {{data.data.background.ransom}} (L) {{data.data.background.ransomDetails}}
    {{/if}}
  </div>

</fieldset>
</div>

{{#if isGM}}
  {{editor content=data.data.background.biography target="data.background.biography" button=true owner=owner editable=editable}}
{{else if data.data.background.biography}}
  {{{enrichHtml data.data.background.biography}}}
{{/if}}
