<h2>{{localize "RQG.Actor.Background.Background"}}</h2>
<div class="flex-row flex-wrap">
  <fieldset>
    <legend>{{localize "RQG.Actor.Background.BaseData"}}</legend>

    <div class="nowrap">
      {{#if isGM}}
        <label>{{localize "RQG.Actor.Background.BirthYear"}}
          <input
            type="number"
            min="0"
            max="9999"
            name="data.background.birthyear"
            value="{{characterData.background.birthyear}}"
          />
        </label>
      {{else if characterData.background.birthyear}}
        <label>{{localize "RQG.Actor.Background.BirthYear"}}</label>
        {{characterData.background.birthyear}}
      {{/if}}
    </div>

    <div class="nowrap">
      {{#if isGM}}
        <label>{{localize "RQG.Actor.Background.Age"}}
          <input
            type="number"
            min="0"
            max="999"
            name="data.background.age"
            value="{{characterData.background.age}}"
          />
        </label>
      {{else if characterData.background.age}}
        <label>{{localize "RQG.Actor.Background.Age"}}</label>
        {{characterData.background.age}}
      {{/if}}
    </div>

    <div class="nowrap">
      {{#if isGM}}
        <label>{{localize "RQG.Actor.Background.Gender"}}
          <input
            type="text"
            name="data.background.gender"
            value="{{characterData.background.gender}}"
            size="10"
          />
        </label>
      {{else if data.data.background.gender}}
        <label>{{localize "RQG.Actor.Background.Gender"}}</label>
        {{data.data.background.gender}}
      {{/if}}
    </div>

    <div class="nowrap" data-target-drop-property="speciesRqidLink">
      {{#if isGM}}
        <label>{{localize "RQG.Actor.Background.Species"}}
          <input
            type="text"
            name="data.background.species"
            value="{{data.data.background.species}}"
            size="20"
          />
        </label>
      {{else if data.data.background.species}}
        <label>{{localize "RQG.Actor.Background.Species"}}</label>
        {{data.data.background.species}}
      {{/if}}
    </div>
        
    {{> "systems/rqg/items/sheet-parts/rqidLinkTarget.hbs"
        rqidLink=data.data.background.speciesRqidLink
        parentField="speciesRqidLink"
        dropTypes="JournalEntry"
        showDeleteFromPropertyName="speciesRqidLink"
        showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
    }}

  </fieldset>

  <fieldset>
    <legend>{{localize "RQG.Actor.Background.Origin"}}</legend>

    <div class="nowrap">
      {{#if isGM}}
        <label>{{localize "RQG.Actor.Background.Homeland.Heading"}}
          <select name="data.background.homeland">
            {{#select data.data.background.homeland}}
              {{#each homelands}}
                <option value="{{this}}">{{localize
                    (concat "RQG.Actor.Background.Homeland." this)
                  }}</option>
              {{/each}}
            {{/select}}
          </select>
        </label>
      {{else if data.data.background.homeland}}
        <label>{{localize "RQG.Actor.Background.Homeland.Heading"}}</label>
        {{localize (concat "RQG.Actor.Background.Homeland." data.data.background.homeland)}}
      {{/if}}
    </div>

    <div class="nowrap">
      {{#if isGM}}
        <label>{{localize "RQG.Actor.Background.TownHomeArea"}}
          <input
            type="text"
            name="data.background.town"
            value="{{data.data.background.town}}"
            size="30"
          />
        </label>
      {{else if data.data.background.town}}
        <label>{{localize "RQG.Actor.Background.TownHomeArea"}}</label>
        {{data.data.background.town}}
      {{/if}}
    </div>

    <div class="nowrap">
      {{#if isGM}}
        <label>{{localize "RQG.Actor.Background.Tribe"}}
          <input
            type="text"
            name="data.background.tribe"
            value="{{data.data.background.tribe}}"
            size="30"
          />
        </label>
      {{else if data.data.background.tribe}}
        <label>{{localize "RQG.Actor.Background.Tribe"}}</label>
        {{data.data.background.tribe}}
      {{/if}}
    </div>

    <div class="nowrap">
      {{#if isGM}}
        <label>{{localize "RQG.Actor.Background.Clan"}}
          <input
            type="text"
            name="data.background.clan"
            value="{{data.data.background.clan}}"
            size="30"
          />
        </label>
      {{else if data.data.background.clan}}
        <label>{{localize "RQG.Actor.Background.Clan"}}</label>
        {{data.data.background.clan}}
      {{/if}}
    </div>

  </fieldset>

  <fieldset>
    <legend>{{localize "RQG.Actor.Background.Circumstance"}}</legend>

    <div class="nowrap">
      {{#if isGM}}
        <span data-reputation-roll>
          <img src="{{defaultItemIconSrc 'Reputation'}}" class="item" />
          <label for="data.background.reputation">
            {{localize "RQG.Actor.Background.Reputation"}}
          </label>
        </span>
        <span class="text-right">
          <input
            type="number"
            min="0"
            max="999"
            name="data.background.reputation"
            value="{{data.data.background.reputation}}"
          />
        </span>%
      {{else if data.data.background.reputation}}
        <span data-reputation-roll>
          <img src="{{defaultItemIconSrc 'Reputation'}}" class="item" />
          <label>{{localize "RQG.Actor.Background.Reputation"}}</label>
          {{data.data.background.reputation}}%
        </span>
      {{/if}}
    </div>

    <div class="nowrap">
      {{#if isGM}}
        <label>{{localize "RQG.Actor.Background.StandardOfLiving"}}
          <input
            type="text"
            name="data.background.standardOfLiving"
            value="{{data.data.background.standardOfLiving}}"
            size="30"
          />
        </label>
      {{else if data.data.background.standardOfLiving}}
        <label>{{localize "RQG.Actor.Background.StandardOfLiving"}}</label>
        {{data.data.background.standardOfLiving}}
      {{/if}}
    </div>

    <div class="nowrap">
      {{#if isGM}}
        <label>{{localize "RQG.Actor.Background.Occupation.Heading"}}
          <select name="data.background.occupation">
            {{#select data.data.background.occupation}}
              {{#each occupations}}
                <option value="{{this}}">{{localize
                    (concat "RQG.Actor.Background.Occupation." this)
                  }}</option>
              {{/each}}
            {{/select}}
          </select>
        </label>
      {{else if data.data.background.occupation}}
        <label>{{localize "RQG.Actor.Background.Occupation.Heading"}}</label>
        {{localize (concat "RQG.Actor.Background.Occupation." data.data.background.occupation)}}
      {{/if}}
    </div>

    <div class="nowrap">
      {{#if isGM}}
        <label>{{localize "RQG.Actor.Background.BaseIncome"}}
          <input
            type="number"
            min="0"
            max="99999999"
            name="data.background.baseIncome"
            value="{{data.data.background.baseIncome}}"
          />
        </label>(L)
      {{else if data.data.background.baseIncome}}
        <label>{{localize "RQG.Actor.Background.BaseIncome"}}</label>
        {{data.data.background.baseIncome}}
        ({{localize "RQG.Item.Gear.LunarsAbbr"}})
      {{/if}}
    </div>

    <div class="nowrap">
      {{#if isGM}}
        <label>{{localize "RQG.Actor.Background.Ransom"}}
          <input
            type="number"
            min="0"
            max="99999999"
            name="data.background.ransom"
            value="{{data.data.background.ransom}}"
          />
        </label>(L)
        <label>
          {{localize "RQG.Actor.Background.RansomDetails"}}
          <input
            type="text"
            name="data.background.ransomDetails"
            value="{{data.data.background.ransomDetails}}"
            size="30"
          /></label>
      {{else if data.data.background.ransom}}
        <label>{{localize "RQG.Actor.Background.Ransom"}}</label>
        {{data.data.background.ransom}}
        ({{localize "RQG.Item.Gear.LunarsAbbr"}})
        {{data.data.background.ransomDetails}}
      {{/if}}
    </div>

  </fieldset>
</div>

{{#if isGM}}
  {{editor
    content=data.data.background.biography
    target="data.background.biography"
    button=true
    owner=owner
    editable=editable
  }}
{{else if data.data.background.biography}}
  {{{enrichHtml data.data.background.biography}}}
{{/if}}