<h2>{{localize "RQG.Actor.Background.Background"}}</h2>
<div class="flex-row flex-wrap">
  <fieldset>
    <legend>{{localize "RQG.Actor.Background.BaseData"}}</legend>
    <div class="key-value-grid">
      {{#if isGM}}
        <label for="birthyear-{{id}}">{{localize "RQG.Actor.Background.BirthYear"}}</label>
        <input
          id="birthyear-{{id}}"
          name="system.background.birthyear"
          value="{{system.background.birthyear}}"
          type="number"
          min="0"
          max="9999"
        />
      {{else if system.background.birthyear}}
        <label>{{localize "RQG.Actor.Background.BirthYear"}}</label>
        {{system.background.birthyear}}
      {{/if}}

      {{#if isGM}}
        <label for="age-{{id}}">{{localize "RQG.Actor.Background.Age"}}</label>
        <input
          id="age-{{id}}"
          name="system.background.age"
          value="{{system.background.age}}"
          type="number"
          min="0"
          max="999"
        />
      {{else if system.background.age}}
        <label>{{localize "RQG.Actor.Background.Age"}}</label>
        {{system.background.age}}
      {{/if}}

      {{#if isGM}}
        <label for="gender-{{id}}">{{localize "RQG.Actor.Background.Gender"}}</label>
        <input
          id="gender-{{id}}"
          name="system.background.gender"
          value="{{system.background.gender}}"
          type="text"
          size="10"
        />
      {{else if system.background.gender}}
        <label>{{localize "RQG.Actor.Background.Gender"}}</label>
        {{system.background.gender}}
      {{/if}}

      {{#if isGM}}
        <label for="species-{{id}}">{{localize "RQG.Actor.Background.Species"}}</label>
          <input
            id="species-{{id}}"
            name="system.background.species"
            value="{{system.background.species}}"
            type="text"
            size="20"
          />
      {{else if system.background.species}}
        <label>{{localize "RQG.Actor.Background.Species"}}</label>
        {{system.background.species}}
      {{/if}}

      {{#if actorWizardFeatureFlag}}
        <label></label>
        {{> rqidLinkDropzone
            rqidLink=system.background.speciesRqidLink
            dropzoneData="background.speciesRqidLink"
            dropDocumentNames="JournalEntry, JournalEntryPage"
            showDeleteFromPropertyName="background.speciesRqidLink"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
            showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
        }}
      {{/if}}

    </div>
  </fieldset>


  {{#unless actorWizardFeatureFlag}}

  <fieldset>
    <legend>{{localize "RQG.Actor.Background.Origin"}}</legend>
    <div class="key-value-grid">
      {{#if isGM}}
        <label for="homeland-{{id}}">{{localize "RQG.Actor.Background.Homeland.Heading"}}</label>
        <input
          id=homeland-{{id}}
          name="system.background.homeland"
          value="{{system.background.homeland}}"
          type="text"
          size="30"
          list="homelands"
          />
        <datalist id="homelands">
          {{#each homelands}}
            <option value="{{localize (concat "RQG.Actor.Background.Homeland." this)}}"></option>
          {{/each}}
        </datalist>
      {{else if system.background.homeland}}
        <label>{{localize "RQG.Actor.Background.Homeland.Heading"}}</label>
        {{localize (concat "RQG.Actor.Background.Homeland." system.background.homeland)}}
      {{/if}}

      {{#if isGM}}
        <label for="town-{{id}}">{{localize "RQG.Actor.Background.TownHomeArea"}}</label>
        <input
          id="town-{{id}}"
          name="system.background.town"
          value="{{system.background.town}}"
          type="text"
          size="30"
        />
      {{else if system.background.town}}
        <label>{{localize "RQG.Actor.Background.TownHomeArea"}}</label>
        {{system.background.town}}
      {{/if}}

      {{#if isGM}}
        <label for="tribe-{{id}}">{{localize "RQG.Actor.Background.Tribe"}}</label>
        <input
          id="tribe-{{id}}"
          name="system.background.tribe"
          value="{{system.background.tribe}}"
          type="text"
          size="30"
        />
      {{else if system.background.tribe}}
        <label>{{localize "RQG.Actor.Background.Tribe"}}</label>
        {{system.background.tribe}}
      {{/if}}

      {{#if isGM}}
        <label for="clan-{{id}}">{{localize "RQG.Actor.Background.Clan"}}</label>
        <input
          id="clan-{{id}}"
          name="system.background.clan"
          value="{{system.background.clan}}"
          type="text"
          size="30"
        />
      {{else if system.background.clan}}
        <label>{{localize "RQG.Actor.Background.Clan"}}</label>
        {{system.background.clan}}
      {{/if}}
    </div>

  </fieldset>

  {{/unless}}

  <fieldset>
    <legend>{{localize "RQG.Actor.Background.Circumstance"}}</legend>

    <div class="key-value-grid">
      {{#edit-mode @root/system.editMode "all"}}
        <div data-reputation-roll style="display: flex; gap: 0.5em; justify-content:right;">
          <img src="{{defaultItemIconSrc 'reputation'}}" class="item" />
          <label for="reputation-{{id}}">
            {{localize "RQG.Actor.Background.Reputation"}}
          </label>
        </div>
        <div style="justify-content:left;">
          <input
            id="reputation-{{id}}"
            name="system.background.reputation"
            value="{{../system.background.reputation}}"
            type="number"
            min="0"
            max="999"
          />%
        </div>
      {{else}}
        <div data-reputation-roll style="display: flex; gap: 0.5em; justify-content:right;">
          <img src="{{defaultItemIconSrc 'reputation'}}" class="item" />
          <label>{{localize "RQG.Actor.Background.Reputation"}}</label>
        </div>
        <div data-reputation-roll>
          {{../system.background.reputation}}%
        </div>
      {{/edit-mode}}

      {{#if isGM}}
        <label for="standard-of-living-{{id}}">{{localize "RQG.Actor.Background.StandardOfLiving"}}</label>
        <input
          id="standard-of-living-{{id}}"
          name="system.background.standardOfLiving"
          value="{{system.background.standardOfLiving}}"
          type="text"
          size="30"
        />
      {{else if system.background.standardOfLiving}}
        <label>{{localize "RQG.Actor.Background.StandardOfLiving"}}</label>
        {{system.background.standardOfLiving}}
      {{/if}}

      {{#if isGM}}
        <label for="occupation-{{id}}">{{localize "RQG.Actor.Background.Occupation.Heading"}}</label>
        <select id="occupation-{{id}}" name="system.background.occupation">
          {{#select system.background.occupation}}
            {{#each occupations}}
              <option value="{{this}}">{{localize
                  (concat "RQG.Actor.Background.Occupation." this)
                }}</option>
            {{/each}}
          {{/select}}
        </select>
      {{else if system.background.occupation}}
        <label>{{localize "RQG.Actor.Background.Occupation.Heading"}}</label>
        {{localize (concat "RQG.Actor.Background.Occupation." system.background.occupation)}}
      {{/if}}

      {{#if actorWizardFeatureFlag}}
        <label></label>
        {{> rqidLink
            rqidLink=system.background.currentOccupationRqidLink
            showDeleteFromPropertyName="background.currentOccupationRqidLink"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectOccupation"
            showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceOccupation"
        }}
      {{/if}}

      {{#if isGM}}
        <label for="base-income-{{id}}">{{localize "RQG.Actor.Background.BaseIncome"}}</label>
        <div>
            <input
              id="base-income-{{id}}"
              name="system.background.baseIncome"
              value="{{system.background.baseIncome}}"
              type="number"
              min="0"
              max="99999999"
            />({{localize "RQG.Item.Gear.LunarsAbbr"}})
        </div>
      {{else if system.background.baseIncome}}
        <label>{{localize "RQG.Actor.Background.BaseIncome"}}</label>
        {{system.background.baseIncome}}
        ({{localize "RQG.Item.Gear.LunarsAbbr"}})
      {{/if}}

      {{#if isGM}}
        <label for="ransom-{{id}}">{{localize "RQG.Actor.Background.Ransom"}}</label>
        <div>
          <input
            id="ransom-{{id}}"
            name="system.background.ransom"
            value="{{system.background.ransom}}"
            type="number"
            min="0"
            max="99999999"
          />({{localize "RQG.Item.Gear.LunarsAbbr"}})
        </div>
        <label for="ransom-details-{{id}}">{{localize "RQG.Actor.Background.RansomDetails"}}</label>
        <input
          id="ransom-details-{{id}}"
          name="system.background.ransomDetails"
          value="{{system.background.ransomDetails}}"
          type="text"
          size="30"
        />
      {{else if system.background.ransom}}
        <label>{{localize "RQG.Actor.Background.Ransom"}}</label>
        {{system.background.ransom}}
        ({{localize "RQG.Item.Gear.LunarsAbbr"}})
        {{system.background.ransomDetails}}
      {{/if}}
    </div>

  </fieldset>

  {{#if actorWizardFeatureFlag}}
    <fieldset>
      <legend>{{localize "RQG.Actor.Background.Origin"}}</legend>
      <div class="key-value-grid">

        <label>{{localize "RQG.Actor.Background.Homeland.Heading"}}</label>
        {{> rqidLinkDropzone
          rqidLink=system.background.homelandJournalRqidLink
          dropzoneData="background.homelandJournalRqidLink"
          dropDocumentNames="JournalEntry, JournalEntryPage"
          showDeleteFromPropertyName="background.homelandJournalRqidLink"
          showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        }}

        <label>{{localize "RQG.Actor.Background.Region"}}</label>
        {{> rqidLinkDropzone
          rqidLink=system.background.regionJournalRqidLink
          dropzoneData="background.regionJournalRqidLink"
          dropDocumentNames="JournalEntry, JournalEntryPage"
          showDeleteFromPropertyName="background.regionJournalRqidLink"
          showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        }}

        <label>{{localize "RQG.Actor.Background.Cultures"}}</label>
        {{> rqidLinkArrayDropzone
          rqidLinkArray=system.background.cultureJournalRqidLinks
          dropzoneData="background.cultureJournalRqidLinks"
          dropDocumentNames="JournalEntry, JournalEntryPage"
          showDeleteFromPropertyName="background.cultureJournalRqidLinks"
          showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        }}

        <label>{{localize "RQG.Actor.Background.Tribes"}}</label>
        {{> rqidLinkArrayDropzone
          rqidLinkArray=system.background.tribeJournalRqidLinks
          dropzoneData="background.tribeJournalRqidLinks"
          dropDocumentNames="JournalEntry, JournalEntryPage"
          showDeleteFromPropertyName="background.tribeJournalRqidLinks"
          showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        }}

        <label>{{localize "RQG.Actor.Background.Clans"}}</label>
        {{> rqidLinkArrayDropzone
          rqidLinkArray=system.background.clanJournalRqidLinks
          dropzoneData="background.clanJournalRqidLinks"
          dropDocumentNames="JournalEntry, JournalEntryPage"
          showDeleteFromPropertyName="background.clanJournalRqidLinks"
          showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
          showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        }}

      </div>
    </fieldset>
  {{/if}}
</div>

{{editor
  enrichedBiography
  target="system.background.biography"
  button=true
  editable=isEditable
}}
