<h2>Combat</h2>
<div class="flex-row flex-align-center">
  <label data-damage-roll="{{characterData.attributes.damageBonus}}">{{localize "RQG.Actor.Combat.DamageBonus"}} {{characterData.attributes.damageBonus}}</label>
</div>
<div class="grid combat item-list">
  <div class="headings"></div>
  <div class="head1"></div>
  <div class="head2">{{localize "RQG.Actor.Combat.Weapon"}}</div>
  <div class="head3">{{localize "RQG.Actor.Combat.HP"}}</div>
  <div class="head4 text-right">{{localize "RQG.Actor.Combat.Chance"}}</div>
  <div class="head5">{{localize "RQG.Actor.Combat.Damage"}}</div>
  <div class="head6">{{localize "RQG.Actor.Combat.SR"}}</div>

  {{#each ownedItems.weapon}}
    {{#if (eq data.data.equippedStatus "equipped")}}
      {{#unless data.data.isNatural}}
        <div data-item-id="{{data._id}}" class="combat contextmenu item"><img class="item" src="{{img}}"></div>
        <div data-item-id="{{data._id}}" class="combat contextmenu item">{{name}}
          {{#if data.data.isProjectileWeapon}}
            ({{quantity data.data.projectileId @root.data._id @root.tokenId}})
          {{else if data.data.isThrownWeapon}}
            [{{quantity data.data.projectileId @root.data._id @root.tokenId}}]
          {{else if data.data.isProjectile}}
            [{{data.data.quantity}}]
          {{/if}}
        </div>
        <div data-item-id="{{data._id}}" class="combat contextmenu item">
          {{#if data.data.hitPointLocation}}
            {{data.data.hitPointLocation}}
          {{else}}
          <label><input type="number" min="-99" max="99" data-item-edit-value="data.hitPoints.value"
                        value="{{data.data.hitPoints.value}}"> / {{data.data.hitPoints.max}}</label>
          {{/if}}
        </div>
        <div class="item">
          <span class="flex-column text-right">
            {{#each data.data.usage}}
              {{#if skillId}}
                <div  class="combat contextmenu usage {{#if (eq @key "missile")}}missile{{/if}} {{#if unusable}}warning{{/if}}"
                      {{#if unusable}}title="{{localize "RQG.Actor.Combat.StrDexMinsNotMetTip"}}"{{/if}}
                      data-skill-id="{{skillId}}" data-item-id="{{../data._id}}" data-weapon-usage-type="{{@key}}">
                  {{localize (concat "RQG.Game.WeaponUsage." @key)}}
                  <span class="{{experiencedclass skillId @root.data._id @root.tokenId}}">{{skillchance skillId @root.data._id @root.tokenId}}%</span>
                </div>
              {{/if}}
            {{/each}}
          </span>
        </div>
        <div class="item">
          <span class="flex-column">
            {{#each data.data.usage}}
              {{#if skillId}}
                <span class="combat contextmenu usage {{#if (eq @key "missile")}}missile{{/if}}"
                      data-skill-id="{{skillId}}" data-item-id="{{../data._id}}"
                      data-weapon-usage-type="{{@key}}">{{damage}}&nbsp;</span>
              {{/if}}
            {{/each}}
          </span>
        </div>
        <div class="item">
          <span class="flex-column">
            {{#each data.data.usage}}
              {{#if skillId}}
                {{#if (eq @key "missile")}}
                  {{#if ../data.data.rate}}
                    <div class="text-right">1/{{#unless (eq 1 ../data.data.rate)}}{{../data.data.rate}}{{/unless}}MR</div>
                  {{else}}
                    <div class="flex-column">
                      <div>
                        {{#each @root.unloadedMissileSr}}
                          {{{this}}}
                        {{/each}}
                      </div>
                      <div><i>
                        {{#each @root.loadedMissileSr}}
                          {{{this}}}
                        {{/each}}
                      </i></div>
                    </div>
                  {{/if}}
                {{else}}
                  <span><button class="combat contextmenu" data-item-id="{{../data._id}}"
                                data-set-sr="{{sum @root.data.data.attributes.sizStrikeRank
                                                   @root.data.data.attributes.dexStrikeRank strikeRank}}">
                    {{sum @root.data.data.attributes.sizStrikeRank @root.data.data.attributes.dexStrikeRank strikeRank}}
                  </button></span>
                {{/if}}
              {{/if}}
            {{/each}}
          </span>
        </div>
      {{/unless}}
    {{/if}}
  {{/each}}

  {{#each ownedItems.weapon}}
    {{#if data.data.isNatural}}
      <div data-item-id="{{data._id}}" class="combat contextmenu"><img class="item" src="{{img}}"></div>
      <div data-item-id="{{data._id}}" class="combat contextmenu">{{name}}</div>
      <div data-item-id="{{data._id}}" class="combat contextmenu"></div>
      <div>
          <span class="flex-column text-right">
            {{#each data.data.usage}}
              {{#if skillId}}
                <span class="combat contextmenu usage {{#if (eq @key "missile")}}missile{{/if}} {{experiencedclass skillId @root.data._id @root.tokenId}}"
                      data-skill-id="{{skillId}}" data-item-id="{{../data._id}}" data-weapon-usage-type="{{@key}}" title="{{localize "RQG.Game.RollChat"}}">
                      {{skillchance skillId @root.data._id @root.tokenId}}%
                </span>
              {{/if}}
            {{/each}}
          </span>
      </div>
      <div>
          <span class="flex-column">
            {{#each data.data.usage}}
              {{#if skillId}}
                <span class="combat contextmenu usage {{#if (eq @key "missile")}}missile{{/if}}"
                      data-skill-id="{{skillId}}" data-item-id="{{../data._id}}"
                      data-weapon-usage-type="{{@key}}" title="{{localize "RQG.Game.RollChat"}}">
                      {{damage}}&nbsp;
                </span>
              {{/if}}
            {{/each}}
          </span>
      </div>
      <div>
          <span class="flex-column">
            {{#each data.data.usage}}
              {{#if skillId}}
                {{#if (eq @key "missile")}}
                  {{#if ../data.data.rate}}
                    <div class="text-right">1/{{#unless (eq 1 ../data.data.rate)}}{{../data.data.rate}}{{/unless}}{{localize "RQG.Game.MeleeRoundAbbr"}}</div>
                  {{else}}
                    <div class="flex-column">
                      <div>
                        {{#each @root.unloadedMissileSr}}
                          {{{this}}}
                        {{/each}}
                      </div>
                      <div><i>
                        {{#each @root.loadedMissileSr}}
                          {{{this}}}
                        {{/each}}
                      </i></div>
                    </div>
                  {{/if}}
                {{else}}
                  <span><button class="combat contextmenu" data-item-id="{{../data._id}}"
                                data-set-sr="{{sum @root.data.data.attributes.sizStrikeRank
                                                   @root.data.data.attributes.dexStrikeRank strikeRank}}">
                    {{sum @root.data.data.attributes.sizStrikeRank @root.data.data.attributes.dexStrikeRank strikeRank}}
                  </button></span>
                {{/if}}
              {{/if}}
            {{/each}}
          </span>
      </div>
    {{/if}}
  {{/each}}

  {{#if dodgeSkillData}}
    <div data-item-id="{{dodgeSkillData._id}}"
         class="skill contextmenu"
         {{#if dodgeSkillData.data.descriptionRqidLink.rqid}}data-rqid-link="{{dodgeSkillData.data.descriptionRqidLink.rqid}}"{{/if}}>
      <img class="item" src="{{dodgeSkillData.img}}">
    </div>
    <div data-item-id="{{dodgeSkillData._id}}" data-item-roll title="{{localize "RQG.Game.RollTitle"}}" class="skill contextmenu">{{localize "RQG.Actor.Combat.Dodge"}}</div>
    <div data-item-id="{{dodgeSkillData._id}}" data-item-roll title="{{localize "RQG.Game.RollTitle"}}" class="skill contextmenu"></div>
    <div data-item-id="{{dodgeSkillData._id}}" data-item-roll title="{{localize "RQG.Game.RollTitle"}}" class="skill contextmenu {{experiencedclass dodgeSkillData._id @root.data._id @root.tokenId}}">
      <span class="text-right">{{skillchance dodgeSkillData._id @root.data._id @root.tokenId}}%</span>
    </div>
    <div data-item-id="{{dodgeSkillData._id}}" data-item-roll title="{{localize "RQG.Game.RollTitle"}}" class="skill contextmenu"></div>
    <div data-item-id="{{dodgeSkillData._id}}" data-item-roll title="{{localize "RQG.Game.RollTitle"}}" class="skill contextmenu"></div>
  {{/if}}
</div>
