<h2>Combat</h2>
<div class="flex-row flex-align-center">
  <label data-damage-roll="{{system.attributes.damageBonus}}">{{localize "RQG.Actor.Combat.DamageBonus"}} {{system.attributes.damageBonus}}</label>
</div>
<div class="grid combat item-list">
  <div class="headings"></div>
  <div class="head1"><button class="sort" data-sort-items="weapon" data-tooltip="{{localize "RQG.UI.SortItems"}}"><i class="fas fa-arrow-down-a-z"></i></button></div>
  <div class="head2">{{localize "RQG.Actor.Combat.Weapon"}}</div>
  <div class="head3">{{localize "RQG.Actor.Combat.HP"}}</div>
  <div class="head4 text-right">{{localize "RQG.Actor.Combat.Chance"}}</div>
  <div class="head5">{{localize "RQG.Actor.Combat.Damage"}}</div>
  <div class="head6">{{localize "RQG.Actor.Combat.SR"}}</div>

  {{#each embeddedItems.weapon}}
    {{#if (eq system.equippedStatus "equipped")}}
      {{#unless system.isNatural}}
        <div data-item-id="{{id}}" data-weapon-roll class="combat contextmenu item"><img class="item" src="{{img}}"></div>
        <div data-item-id="{{id}}" data-weapon-roll class="combat contextmenu item">{{name}}
          {{#if system.isProjectileWeapon}}
            ({{quantity @root.uuid system.projectileId}})
          {{else if system.isThrownWeapon}}
            [{{quantity @root.uuid system.projectileId}}]
          {{else if system.isProjectile}}
            [{{system.quantity}}]
          {{/if}}
        </div>
        <div data-item-id="{{id}}" class="combat contextmenu item">
          {{#if system.hitPointLocation}}
            {{system.hitPointLocation}}
          {{else}}
          <label><input type="number" min="-99" max="99" data-item-edit-value="system.hitPoints.value"
                        value="{{system.hitPoints.value}}"> / {{system.hitPoints.max}}</label>
          {{/if}}
        </div>
        <div class="item" data-weapon-roll data-item-id="{{id}}">
          <span class="flex-column text-right">
            {{#each system.usage}}
              {{#if skillId}}
                <div  class="combat contextmenu usage
                      {{#if (eq @key "missile")}}missile{{/if}} {{#if unusable}}warning{{/if}}
                       {{#if (eq ../system.defaultUsage @key)}}default-usage{{/if}}"
                      {{#if unusable}}data-tooltip="{{localize "RQG.Actor.Combat.StrDexMinsNotMetTip"}}"{{/if}}
                      data-skill-id="{{skillId}}">
                  {{localize (concat "RQG.Game.WeaponUsage." @key)}}
                  <span class="{{experiencedclass @root.uuid skillId}}">{{skillchance @root.uuid skillId}}%</span>
                </div>
              {{/if}}
            {{/each}}
          </span>
        </div>
        <div class="item" data-weapon-roll data-item-id="{{id}}">
          <span class="flex-column">
            {{#each system.usage}}
              {{#if skillId}}
                <span class="combat contextmenu usage {{#if (eq @key "missile")}}missile{{/if}}"
                      data-skill-id="{{skillId}}"
                      >{{damage}}&nbsp;</span>
              {{/if}}
            {{/each}}
          </span>
        </div>
        <div class="item">
          <span class="flex-column">
            {{#each system.usage}}
              {{#if skillId}}
                {{#if (eq @key "missile")}}
                  {{#if ../system.rate}}
                    <div class="text-right usage {{#if (eq @key "missile")}}missile{{/if}}">1/{{#unless (eq 1 ../system.rate)}}{{../system.rate}}{{/unless}}MR</div>
                  {{else}}
                    <div class="flex-column">
                      <div>
                        {{#each @root.unloadedMissileSr}}
                          {{{this}}}
                        {{/each}}
                      </div>
                      <div><i>
                        {{#each @root.loadedMissileSr}}
                          {{{this}}}
                        {{/each}}
                      </i></div>
                    </div>
                  {{/if}}
                {{else}}
                    <span><button class="combat sr contextmenu" data-item-id="{{../id}}"
                                data-tooltip="{{localize "RQG.Actor.Combat.SetSRInCombatTracker"}}"
                                data-set-sr="{{sum @root.system.attributes.sizStrikeRank
                                                   @root.system.attributes.dexStrikeRank
                                                   strikeRank}}">
                    {{sum @root.system.attributes.sizStrikeRank @root.system.attributes.dexStrikeRank strikeRank}}
                  </button></span>
                {{/if}}
              {{/if}}
            {{/each}}
          </span>
        </div>
      {{/unless}}
    {{/if}}
  {{/each}}

  {{#each embeddedItems.weapon}}
    {{#if system.isNatural}}
      <div data-item-id="{{id}}" data-weapon-roll class="combat contextmenu item"><img class="item" src="{{img}}"></div>
      <div data-item-id="{{id}}" data-weapon-roll class="combat contextmenu item">{{name}}</div>
      <div data-item-id="{{id}}" data-weapon-roll class="combat contextmenu item"></div>
      <div>
          <span class="flex-column text-right">
            {{#each system.usage}}
              {{#if skillId}}
                <span class="combat contextmenu usage {{#if (eq @key "missile")}}missile{{/if}} {{experiencedclass @root.uuid skillId}}"
                      data-skill-id="{{skillId}}" data-item-id="{{../id}}" data-weapon-roll data-tooltip="{{localize "RQG.Game.RollChat"}}">
                      {{skillchance @root.uuid skillId}}%
                </span>
              {{/if}}
            {{/each}}
          </span>
      </div>
      <div>
          <span class="flex-column">
            {{#each system.usage}}
              {{#if skillId}}
                <span class="combat contextmenu usage {{#if (eq @key "missile")}}missile{{/if}}"
                      data-skill-id="{{skillId}}" data-item-id="{{../id}}"
                      data-weapon-roll data-tooltip="{{localize "RQG.Game.RollChat"}}">
                      {{damage}}&nbsp;
                </span>
              {{/if}}
            {{/each}}
          </span>
      </div>
      <div>
          <span class="flex-column">
            {{#each system.usage}}
              {{#if skillId}}
                {{#if (eq @key "missile")}}
                  {{#if ../system.rate}}
                    <div class="text-right usage {{#if (eq @key "missile")}}missile{{/if}}">1/{{#unless (eq 1 ../system.rate)}}{{../system.rate}}{{/unless}}{{localize "RQG.Game.MeleeRoundAbbr"}}</div>
                  {{else}}
                    <div class="flex-column">
                      <div>
                        {{#each @root.unloadedMissileSr}}
                          {{{this}}}
                        {{/each}}
                      </div>
                      <div><i>
                        {{#each @root.loadedMissileSr}}
                          {{{this}}}
                        {{/each}}
                      </i></div>
                    </div>
                  {{/if}}
                {{else}}
                  <span><button class="combat sr contextmenu" data-item-id="{{../id}}"
                                data-tooltip="{{localize "RQG.Actor.Combat.SetSRInCombatTracker"}}"
                                data-set-sr="{{sum @root.system.attributes.sizStrikeRank
                                                   @root.system.attributes.dexStrikeRank
                                                   strikeRank}}">
                    {{sum @root.system.attributes.sizStrikeRank @root.system.attributes.dexStrikeRank strikeRank}}
                  </button></span>
                {{/if}}
              {{/if}}
            {{/each}}
          </span>
      </div>
    {{/if}}
  {{/each}}

  {{#if dodgeSkillData}}
    <div data-item-id="{{dodgeSkillData.id}}"
         class="skill contextmenu"
         {{#if dodgeSkillData.system.descriptionRqidLink.rqid}}data-rqid-link="{{dodgeSkillData.system.descriptionRqidLink.rqid}}"{{/if}}>
      <img class="item" src="{{dodgeSkillData.img}}">
    </div>
    <div data-item-id="{{dodgeSkillData.id}}" data-item-roll data-tooltip="{{localize "RQG.Game.RollTitle"}}" class="skill contextmenu">{{localize "RQG.Actor.Combat.Dodge"}}</div>
    <div data-item-id="{{dodgeSkillData.id}}" data-item-roll data-tooltip="{{localize "RQG.Game.RollTitle"}}" class="skill contextmenu"></div>
    <div data-item-id="{{dodgeSkillData.id}}" data-item-roll data-tooltip="{{localize "RQG.Game.RollTitle"}}" class="skill contextmenu {{experiencedclass dodgeSkillData.uuid}}">
      <span class="text-right">{{skillchance dodgeSkillData.uuid}}%</span>
    </div>
    <div data-item-id="{{dodgeSkillData.id}}" data-item-roll data-tooltip="{{localize "RQG.Game.RollTitle"}}" class="skill contextmenu"></div>
    <div data-item-id="{{dodgeSkillData.id}}" data-item-roll data-tooltip="{{localize "RQG.Game.RollTitle"}}" class="skill contextmenu"></div>
  {{/if}}
</div>
