<div class="grid rune">
  <h2 class="fullrow">{{localize "RQG.Actor.Rune.Elemental"}}</h2>
  {{#each ownedItems.rune.element}}
    <div data-item-id="{{id}}" class="rune contextmenu"
      {{#if data.data.journalId}} data-journal-pack="{{data.data.journalPack}}" data-journal-id="{{data.data.journalId}}"{{/if}}>
      <img class="rune" src="{{img}}">
    </div>
    <div data-item-id="{{id}}" class="rune contextmenu" data-item-roll title="{{localize "RQG.Game.RollTitle"}}">{{data.data.rune}}</div>
    <div data-item-id="{{id}}" class="rune contextmenu {{#if data.data.hasExperience}}experienced{{/if}}" data-item-roll title="{{localize "RQG.Game.RollTitle"}}">
      <span class="text-right">{{data.data.chance}}%</span>
    </div>
  {{/each}}
</div>
