<div class="grid {{#if wizard}}opposed-rune-select{{else}}opposed-rune{{/if}} item-list">
  <h2 class="fullrow">{{localize "RQG.Actor.Rune.Form"}}</h2>

  {{#with ownedItems.rune.form.Man}}
  {{#if ../wizard}}
  <div>
    <input type="checkbox" 
      data-import-id="{{data.id}}"
      data-import-type="rune"
      checked="true" 
      title="Import Rune: {{data.name}}" />
  </div>
  {{/if}}
  <div data-item-id="{{id}}" class="rune contextmenu item" {{#if data.data.journalId}}
    data-journal-pack="{{data.data.journalPack}}" data-journal-id="{{data.data.journalId}}" {{/if}}>
    <img class="rune" src="{{img}}">
  </div>
  <div data-item-id="{{id}}" class="rune contextmenu item" data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    {{data.data.rune}}</div>
  <div data-item-id="{{id}}" class="rune contextmenu item {{#if data.data.hasExperience}}experienced{{/if}}"
    data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    <span class="text-right">{{data.data.chance}}%</span>
  </div>
  {{/with}}
  <i class="fas fa-arrows-alt-h"></i>
  {{#with ownedItems.rune.form.Beast}}
  {{#if ../wizard}}
  <div>
    <input name="import-rune-{{id}}" type="checkbox" checked="true" title="Import Rune: {{data.name}}" />
  </div>
  {{/if}}
  <div data-item-id="{{id}}" class="rune contextmenu item" {{#if data.data.journalId}}
    data-journal-pack="{{data.data.journalPack}}" data-journal-id="{{data.data.journalId}}" {{/if}}>
    <img class="rune" src="{{img}}">
  </div>
  <div data-item-id="{{id}}" class="rune contextmenu item" data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    {{data.data.rune}}</div>
  <div data-item-id="{{id}}" class="rune contextmenu item {{#if data.data.hasExperience}}experienced{{/if}}"
    data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    <span class="text-right">{{data.data.chance}}%</span>
  </div>
  {{/with}}

  {{#each ownedItems.rune.form}}
  {{#unless (eq @key "Man")}}
  {{#unless (eq @key "Beast")}}
  {{#with this}}
  {{#if ../wizard}}
  <div>
    <input name="import-rune-{{id}}" type="checkbox" checked="true" title="Import Rune: {{data.name}}" />
  </div>
  {{/if}}
  <div data-item-id="{{id}}" class="rune contextmenu item" {{#if data.data.journalId}}
    data-journal-pack="{{data.data.journalPack}}" data-journal-id="{{data.data.journalId}}" {{/if}}>
    <img class="rune" src="{{img}}">
  </div>
  <div data-item-id="{{id}}" class="rune contextmenu item" data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    {{data.data.rune}}</div>
  <div data-item-id="{{id}}" class="rune contextmenu item {{#if data.data.hasExperience}}experienced{{/if}}"
    data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    <span class="text-right">{{data.data.chance}}%</span>
  </div>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
  {{/with}}
  {{/unless}}
  {{/unless}}
  {{/each}}
</div>