{{#if wizard}}
<div>
    <input type="checkbox" 
        class="wizard-choice-input"
        data-rqid="{{skill.data.data.rqid}}"
        data-for-choice="{{forChoice}}"
        {{#if skill.data.data.choice.speciesPresent}}checked{{/if}}
        title="{{localize "RQG.Actor.Skill.ImportSkillCheckboxTitle" skillName=skill.name}}"
        />
</div>
{{/if}}
<div data-item-id="{{skill.id}}" 
    title="{{localize "RQG.Actor.Skill.SkillDescriptionTitle" }}" 
    class="skill contextmenu item"
    {{#if skill.data.data.descriptionRqidLink.rqid}}
        data-skill-rqid="{{skill.data.data.descriptionRqidLink.rqid}}"
    {{/if}}>
    <img class="item" src="{{skill.img}}">
</div>
<div data-item-id="{{skill.id}}" 
        class="skill contextmenu item" data-item-roll 
        title="{{localize "RQG.Game.RollTitle"}}"
        {{#if skill.data.data.descriptionRqidLink.rqid}}
            data-skill-rqid="{{skill.data.data.descriptionRqidLink.rqid}}"
        {{/if}}>
        {{skill.data.data.skillName}}{{#if skill.data.data.specialization}} ({{skill.data.data.specialization}}){{/if}}
    {{#each skill.data.data.runes}}
    <img class="rune" src="{{runeImg this}}" title="{{this}}">
    {{/each}}
</div>
<div data-item-id="{{skill.id}}" 
    class="skill contextmenu item {{#if skill.data.data.hasExperience}}experienced{{/if}}" 
    data-item-roll 
    title="{{localize "RQG.Game.RollTitle"}}"
    {{#if skill.data.data.descriptionRqidLink.rqid}}
        data-skill-rqid="{{skill.data.data.descriptionRqidLink.rqid}}"
    {{/if}}>
<span class="text-right nowrap">{{skill.data.data.chance}}%</span>
</div>