<h2 class="flex-row">{{localize "RQG.Actor.Passion.Passions"}}</h2>
<div class="grid passions">
  {{#each ownedItems.passion}}
  <div class="grid passion">
    <div data-item-id="{{id}}" data-item-roll class="passion contextmenu img" title="{{localize "RQG.Game.RollTitle"}}"><img src="{{img}}"></div>
    <div data-item-id="{{id}}" data-item-roll class="passion contextmenu" title="{{localize "RQG.Game.RollTitle"}}">{{name}}</div>
    <div data-item-id="{{id}}" data-item-roll class="passion contextmenu {{#if data.data.hasExperience}}experienced{{/if}}" title="{{localize "RQG.Game.RollTitle"}}">{{this.data.data.chance}}%</div>
    <details data-item-id="{{id}}" class="description passion contextmenu"><summary>{{localize "RQG.Actor.Passion.BackStory"}}</summary>{{{enrichHtml this.data.data.description}}}</details>
  </div>
    {{/each}}
</div>
