{{!-- {{json ownedItems}} --}}
<h2 class="flex-row">{{localize 'RQG.Actor.Passion.Passions'}}</h2>
<div class="grid passions item-list">
  {{#each ownedItems.passion}}
  <div class="grid {{#if ../wizard}}passion-select{{else}}passion{{/if}} item">
    <div data-item-id="{{id}}" data-item-roll class="passion contextmenu img item"
      title="{{localize 'RQG.Game.RollTitle'}}">
      {{#if ../wizard}}
      <div>
        <input type="checkbox"
          class="wizard-choice-input"
          data-rqid="{{this.data.flags.rqg.documentRqidFlags.id}}"
          data-for-choice="{{../forChoice}}"
          {{#if (lookup this.system.choice ../checkedProperty)}}checked{{/if}}
          title="{{localize "RQG.Actor.Passion.ImportPassionCheckboxTitle" passionName=this.name}}" />
      </div>
      {{/if}}
      <img src="{{img}}">
    </div>
    <div data-item-id="{{id}}" data-item-roll class="passion contextmenu item"
      title="{{localize 'RQG.Game.RollTitle'}}">
      {{name}}
    </div>
    <div data-item-id="{{id}}" data-item-roll
      class="passion contextmenu item {{#if data.data.hasExperience}}experienced{{/if}}"
      title="{{localize 'RQG.Game.RollTitle'}}">
      {{this.system.chance}}%
    </div>
    <details data-item-id="{{id}}" class="description passion contextmenu item">
      <summary>{{localize "RQG.Actor.Passion.BackStory"}}</summary>{{{enrichHtml this.system.description}}}
    </details>
  </div>
  {{/each}}
</div>
