<div class="grid {{#if wizard}}opposed-rune-select{{else}}opposed-rune{{/if}} item-list">
  <h2 class="fullrow">{{localize 'RQG.Actor.Rune.Power'}}</h2>

  {{#with ownedItems.rune.power.Fertility}}
  {{#if ../wizard}}
  <div>
    <input type="checkbox"
      class="wizard-choice-input"
      data-rqid="{{this.data.data.rqid}}"
      data-for-choice="{{../forChoice}}"
      {{#if this.data.data.choice.speciesPresent}}checked{{/if}}
      title="Import Rune: {{data.name}}" />
  </div>
  {{/if}}
  <div data-item-id="{{id}}" class="rune contextmenu item" {{#if data.data.journalId}}
    data-journal-pack="{{data.data.journalPack}}" data-journal-id="{{data.data.journalId}}" {{/if}}>
    <img class="rune" src="{{img}}">
  </div>
  <div data-item-id="{{id}}" class="rune contextmenu item" data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    {{data.data.rune}}
  </div>
  <div data-item-id="{{id}}" class="rune contextmenu item {{#if data.data.hasExperience}}experienced{{/if}}"
    data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    <span class="text-right">
      {{this.data.data.chance}}%
    </span>
  </div>
  {{/with}}
  <i class="fas fa-arrows-alt-h"></i>
  {{#with ownedItems.rune.power.Death}}
  {{#if ../wizard}}
  <div>
    <input type="checkbox"
      class="wizard-choice-input"
      data-rqid="{{this.data.data.rqid}}"
      data-for-choice="{{../forChoice}}"
      {{#if this.data.data.choice.speciesPresent}}checked{{/if}}
      title="Import Rune: {{data.name}}" />
  </div>
  {{/if}}
  <div data-item-id="{{id}}" class="rune contextmenu item" {{#if data.data.journalId}}
    data-journal-pack="{{data.data.journalPack}}" data-journal-id="{{data.data.journalId}}" {{/if}}>
    <img class="rune" src="{{img}}">
  </div>
  <div data-item-id="{{id}}" class="rune contextmenu item" data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    {{data.data.rune}}</div>
  <div data-item-id="{{id}}" class="rune contextmenu item {{#if data.data.hasExperience}}experienced{{/if}}"
    data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    <span class="text-right">{{this.data.data.chance}}%</span>
  </div>
  {{/with}}

  {{#with ownedItems.rune.power.Harmony}}
  {{#if ../wizard}}
  <div>
    <input type="checkbox"
      class="wizard-choice-input"
      data-rqid="{{this.data.data.rqid}}"
      data-for-choice="{{../forChoice}}"
      {{#if this.data.data.choice.speciesPresent}}checked{{/if}}
      title="Import Rune: {{data.name}}" />
  </div>
  {{/if}}
  <div data-item-id="{{id}}" class="rune contextmenu item" {{#if data.data.journalId}}
    data-journal-pack="{{data.data.journalPack}}" data-journal-id="{{data.data.journalId}}" {{/if}}>
    <img class="rune" src="{{img}}">
  </div>
  <div data-item-id="{{id}}" class="rune contextmenu item" data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    {{data.data.rune}}</div>
  <div data-item-id="{{id}}" class="rune contextmenu item {{#if data.data.hasExperience}}experienced{{/if}}"
    data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    <span class="text-right">{{this.data.data.chance}}%</span>
  </div>
  {{/with}}
  <i class="fas fa-arrows-alt-h"></i>
  {{#with ownedItems.rune.power.Disorder}}
  {{#if ../wizard}}
  <div>
    <input type="checkbox"
      class="wizard-choice-input"
      data-rqid="{{this.data.data.rqid}}"
      data-for-choice="{{../forChoice}}"
      {{#if this.data.data.choice.speciesPresent}}checked{{/if}}
      title="Import Rune: {{data.name}}" />
  </div>
  {{/if}}
  <div data-item-id="{{id}}" class="rune contextmenu item" {{#if data.data.journalId}}
    data-journal-pack="{{data.data.journalPack}}" data-journal-id="{{data.data.journalId}}" {{/if}}>
    <img class="rune" src="{{img}}">
  </div>
  <div data-item-id="{{id}}" class="rune contextmenu item" data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    {{data.data.rune}}</div>
  <div data-item-id="{{id}}" class="rune contextmenu item {{#if data.data.hasExperience}}experienced{{/if}}"
    data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    <span class="text-right">{{this.data.data.chance}}%</span>
  </div>
  {{/with}}

  {{#with ownedItems.rune.power.Truth}}
  {{#if ../wizard}}
  <div>
    <input type="checkbox"
      class="wizard-choice-input"
      data-rqid="{{this.data.data.rqid}}"
      data-for-choice="{{../forChoice}}"
      {{#if this.data.data.choice.speciesPresent}}checked{{/if}}
      title="Import Rune: {{data.name}}" />
  </div>
  {{/if}}
  <div data-item-id="{{id}}" class="rune contextmenu item" {{#if data.data.journalId}}
    data-journal-pack="{{data.data.journalPack}}" data-journal-id="{{data.data.journalId}}" {{/if}}>
    <img class="rune" src="{{img}}">
  </div>
  <div data-item-id="{{id}}" class="rune contextmenu item" data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    {{data.data.rune}}</div>
  <div data-item-id="{{id}}" class="rune contextmenu item {{#if data.data.hasExperience}}experienced{{/if}}"
    data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    <span class="text-right">{{this.data.data.chance}}%</span>
  </div>
  {{/with}}
  <i class="fas fa-arrows-alt-h"></i>
  {{#with ownedItems.rune.power.Illusion}}
  {{#if ../wizard}}
  <div>
    <input type="checkbox"
      class="wizard-choice-input"
      data-rqid="{{this.data.data.rqid}}"
      data-for-choice="{{../forChoice}}"
      {{#if this.data.data.choice.speciesPresent}}checked{{/if}}
      title="Import Rune: {{data.name}}" />
  </div>
  {{/if}}
  <div data-item-id="{{id}}" class="rune contextmenu item" {{#if data.data.journalId}}
    data-journal-pack="{{data.data.journalPack}}" data-journal-id="{{data.data.journalId}}" {{/if}}>
    <img class="rune" src="{{img}}">
  </div>
  <div data-item-id="{{id}}" class="rune contextmenu item" data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    {{data.data.rune}}</div>
  <div data-item-id="{{id}}" class="rune contextmenu item {{#if data.data.hasExperience}}experienced{{/if}}"
    data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    <span class="text-right">{{this.data.data.chance}}%</span>
  </div>
  {{/with}}

  {{#with ownedItems.rune.power.Stasis}}
  {{#if ../wizard}}
  <div>
    <input type="checkbox"
      class="wizard-choice-input"
      data-rqid="{{this.data.data.rqid}}"
      data-for-choice="{{../forChoice}}"
      {{#if this.data.data.choice.speciesPresent}}checked{{/if}}
      title="Import Rune: {{data.name}}" />
  </div>
  {{/if}}
  <div data-item-id="{{id}}" class="rune contextmenu item" {{#if data.data.journalId}}
    data-journal-pack="{{data.data.journalPack}}" data-journal-id="{{data.data.journalId}}" {{/if}}>
    <img class="rune" src="{{img}}">
  </div>
  <div data-item-id="{{id}}" class="rune contextmenu item" data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    {{data.data.rune}}</div>
  <div data-item-id="{{id}}" class="rune contextmenu item {{#if data.data.hasExperience}}experienced{{/if}}"
    data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    <span class="text-right">{{this.data.data.chance}}%</span>
  </div>
  {{/with}}
  <i class="fas fa-arrows-alt-h"></i>
  {{#with ownedItems.rune.power.Movement}}
  {{#if ../wizard}}
  <div>
    <input type="checkbox"
      class="wizard-choice-input"
      data-rqid="{{this.data.data.rqid}}"
      data-for-choice="{{../forChoice}}"
      {{#if this.data.data.choice.speciesPresent}}checked{{/if}}
      title="Import Rune: {{data.name}}" />
  </div>
  {{/if}}
  <div data-item-id="{{id}}" class="rune contextmenu item" {{#if data.data.journalId}}
    data-journal-pack="{{data.data.journalPack}}" data-journal-id="{{data.data.journalId}}" {{/if}}>
    <img class="rune" src="{{img}}">
  </div>
  <div data-item-id="{{id}}" class="rune contextmenu item" data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    {{data.data.rune}}</div>
  <div data-item-id="{{id}}" class="rune contextmenu item {{#if data.data.hasExperience}}experienced{{/if}}"
    data-item-roll title="{{localize 'RQG.Game.RollTitle'}}">
    <span class="text-right">{{this.data.data.chance}}%</span>
  </div>
  {{/with}}
</div>