{{#each ownedItems.runeMagic}}
{{#unless data.data.cultId}}
<div data-item-id="{{id}}">
  <a title="Edit Rune Spell" data-item-edit><i class="fas fa-edit"></i>Choose cult for Rune Spell {{name}}</a>
  <a title="Delete Rune Spell" data-item-delete><i class="fas fa-trash"></i></a>
</div>
{{/unless}}
{{/each}}

{{#each ownedItems.cult}}
<div style="margin-bottom: 1.5rem" data-item-id="{{id}}">
  <h2 class="cult contextmenu" {{#if data.data.journalId}} data-journal-pack="{{data.data.journalPack}}" data-journal-id="{{data.data.journalId}}"{{/if}}>
    {{name}}
    {{#each data.data.runes}}
      <img class="rune" src="{{runeImg this}}" title="{{this}}">
    {{/each}}
    <span class="small-size">{{data.data.tagline}}</span>
  </h2>
  <div class="flex-row flex-wrap gap1rem cult contextmenu">
    <span>
      <b>Rank:</b> {{localize (concat "RQG.CultRank." data.data.rank)}}<br>
      <b>Rune Points:</b> <input type="number" min="0" max="99" data-item-edit-value="data.runePoints.value" value="{{data.data.runePoints.value}}">/{{data.data.runePoints.max}}
    </span>
    <span>{{{enrichHtml data.data.holyDays}}}</span>
    {{#if data.data.gifts}}
      <span><b>Gifts:</b>{{{enrichHtml data.data.gifts}}}</span>
    {{/if}}
    {{#if data.data.geases}}
      <span><b>Geases:</b>{{{enrichHtml data.data.geases}}}</span>
    {{/if}}
    {{#if data.data.subCults}}
      <span><b>Sub Cults:</b>{{{enrichHtml data.data.subCults}}}</span>
    {{/if}}
  </div>
  <div class="grid rune-magic">
    <div class="headings"></div>
    <div class="head1"></div>
    <div class="head2">Rune Spell</div>
    <div class="head3">Points</div>
    <div class="head4"><span class="text-center">Range</span></div>
    <div class="head5"><span class="text-center">Duration</span></div>
    <div class="head6">Ritual</div>
    <div class="head7">Stackable</div>
    <div class="head8">One Use</div>
    <div class="head9">Chance</div>
    {{#each @root.ownedItems.runeMagic}}
    {{#if (eq ../id data.data.cultId)}}
      <div data-item-id="{{id}}" class="rune-magic contextmenu"
           {{#if data.data.journalId}} data-journal-pack="{{data.data.journalPack}}" data-journal-id="{{data.data.journalId}}"{{/if}}>
        <img class="item" src="{{img}}">
      </div>
      <div data-item-id="{{id}}" data-item-roll class="rune-magic contextmenu" title="Roll">
        {{name}}&nbsp;
        {{#each data.data.runes}}
          <img class="rune" src="{{runeImg this}}" title="{{this}}">
        {{/each}}
      </div>
      <div data-item-id="{{id}}" data-item-roll class="rune-magic contextmenu" title="Roll">
        <span class="text-center">{{data.data.points}}</span>
      </div>
      <div data-item-id="{{id}}" data-item-roll class="rune-magic contextmenu" title="Roll">
        {{#unless data.data.isRitual}}<span class="text-center">{{data.data.castingRange}}</span>{{/unless}}
      </div>
      <div data-item-id="{{id}}" data-item-roll class="rune-magic contextmenu" title="Roll">
        {{#unless data.data.isRitual}}<span class="text-center">{{data.data.duration}}</span>{{/unless}}
      </div>
      <div data-item-id="{{id}}" data-item-roll class="rune-magic contextmenu" title="Roll">
        <span class="text-center">{{yes-no data.data.isRitual}}</span>
      </div>
      <div data-item-id="{{id}}" data-item-roll class="rune-magic contextmenu" title="Roll">
        <span class="text-center">{{yes-no data.data.isStackable}}</span>
      </div>
      <div data-item-id="{{id}}" data-item-roll class="rune-magic contextmenu" title="Roll">
        <span class="text-center">{{yes-no data.data.isOneUse}}</span>
      </div>
      <div data-item-id="{{id}}" data-item-roll class="rune-magic contextmenu" title="Roll">
        <span class="text-right">{{data.data.chance}}%</span>
      </div>
    {{/if}}
    {{/each}}
  </div>
</div>
{{/each}}
