{{#each embeddedItems.runeMagic}}
  {{#unless system.cultId}}
    <div data-item-id="{{id}}">
      <a data-tooltip="{{localize "RQG.Actor.RuneMagic.EditRuneMagicSpellTitle"}}" data-item-edit><i
        class="fas fa-edit"></i>{{localize "RQG.Actor.RuneMagic.ChooseCultForRuneSpell" name=name }}</a>
      <a data-tooltip="{{localize "RQG.Actor.RuneMagic.DeleteRuneMagicSpellTitle"}}" data-item-delete><i
        class="fas fa-trash"></i></a>
    </div>
  {{/unless}}
{{/each}}
<div class="item-list">
  {{#each embeddedItems.cult}}
    <div class="item" style="margin-bottom: 1.5rem" data-item-id="{{id}}">
      <h2 class="cult contextmenu"
          {{#if system.descriptionRqidLink.rqid}}data-rqid-link="{{system.descriptionRqidLink.rqid}}"{{/if}}>
        {{name}}
        {{#each system.runes}}
          <img class="rune" src="{{runeImg this}}" data-tooltip="{{this}}">
        {{/each}}
        <span class="small-size">{{system.tagline}}</span>
      </h2>
      <div class="flex-row flex-wrap gap1rem cult contextmenu">
    <span>
      <b>{{localize "RQG.Actor.RuneMagic.CultRankLabel"}}</b> {{localize
      (concat "RQG.Actor.RuneMagic.CultRank." system.rank)}}<br>
      <b>{{localize "RQG.Actor.RuneMagic.RunePoints"}}</b> <input type="number" min="0" max="99"
                                                                  data-item-edit-value="system.runePoints.value"
                                                                  value="{{system.runePoints.value}}">/{{system.runePoints.max}}
    </span>
        <span>{{{system.enrichedHolyDays}}}</span>
        {{#if system.enrichedGeases}}
          <span><b>{{localize "RQG.Actor.RuneMagic.Gifts"}}</b>{{{system.enrichedGifts}}}</span>
        {{/if}}
        {{#if system.enrichedGeases}}
          <span><b>{{localize "RQG.Actor.RuneMagic.Geases"}}</b>{{{system.enrichedGeases}}}</span>
        {{/if}}
        {{#if system.enrichedSubCults}}
          <span><b>{{localize "RQG.Actor.RuneMagic.SubCults"}}</b>{{{system.enrichedSubCults}}}</span>
        {{/if}}
      </div>
      <div class="grid rune-magic item-list">
        <div class="headings"></div>
        <div class="head1"><button class="sort" data-sort-items="runeMagic" data-tooltip="{{localize "RQG.UI.SortItems"}}"><i class="fas fa-arrow-down-a-z"></i></button></div>
        <div class="head2">{{localize "RQG.Actor.RuneMagic.RuneSpell"}}</div>
        <div class="head3">{{localize "RQG.Actor.RuneMagic.Points"}}</div>
        <div class="head4"><span class="text-center">{{localize "RQG.Actor.RuneMagic.Range"}}</span></div>
        <div class="head5"><span class="text-center">{{localize "RQG.Actor.RuneMagic.Duration"}}</span></div>
        <div class="head6">{{localize "RQG.Actor.RuneMagic.Ritual"}}</div>
        <div class="head7">{{localize "RQG.Actor.RuneMagic.Enchantment"}}</div>
        <div class="head8">{{localize "RQG.Actor.RuneMagic.Stackable"}}</div>
        <div class="head9">{{localize "RQG.Actor.RuneMagic.OneUse"}}</div>
        <div class="head10">{{localize "RQG.Actor.RuneMagic.Chance"}}</div>
        {{#each @root.embeddedItems.runeMagic}}
          {{#if (eq ../id system.cultId)}}
            <div class="rune-magic contextmenu item"
                 data-item-id="{{id}}"
                 {{#if system.descriptionRqidLink.rqid}}data-rqid-link="{{system.descriptionRqidLink.rqid}}"{{/if}}>
              <img class="item" src="{{img}}">
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              {{name}}&nbsp;
              {{#each system.runes}}
                <img class="rune" src="{{runeImg this}}" data-tooltip="{{this}}">
              {{/each}}
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              <span class="text-center">{{system.points}}</span>
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              {{#unless system.isRitual}}<span class="text-center">{{localize
                (concat "RQG.Item.Spell.RangeEnum." system.castingRange)}}</span>{{/unless}}
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              {{#unless system.isRitual}}<span class="text-center">{{localize
                (concat "RQG.Item.Spell.DurationEnum." system.duration)}}</span>{{/unless}}
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              <span class="text-center">{{yes-no system.isRitual}}</span>
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="Roll"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              <span class="text-center">{{yes-no system.isEnchantment}}</span>
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              <span class="text-center">{{yes-no system.isStackable}}</span>
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              <span class="text-center">{{yes-no system.isOneUse}}</span>
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              <span class="text-right">{{system.chance}}%</span>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </div>
  {{/each}}
</div>

