{{#each embeddedItems.runeMagic}}
  {{#unless system.cultId}}
    <div data-item-id="{{id}}">
      <a data-tooltip="{{localize "RQG.Actor.RuneMagic.EditRuneMagicSpellTitle"}}" data-item-edit><i
        class="fas fa-edit"></i>{{localize "RQG.Actor.RuneMagic.ChooseCultForRuneSpell" name=name }}</a>
      <a data-tooltip="{{localize "RQG.Actor.RuneMagic.DeleteRuneMagicSpellTitle"}}" data-item-delete><i
        class="fas fa-trash"></i></a>
    </div>
  {{/unless}}
{{/each}}
<div class="item-list">
  {{#each embeddedItems.cult}}
    <section class="item" style="margin-bottom: 1.5rem" data-item-id="{{id}}">
      <header {{#if system.descriptionRqidLink.rqid}}data-rqid-link="{{system.descriptionRqidLink.rqid}}"{{/if}}>
        <h2 class="cult contextmenu">
          {{system.deity}}
          {{#each system.runes}}
            <img class="rune" src="{{runeImg this}}" data-tooltip="{{this}}">
          {{/each}}
        </h2>
        <div class="flex-row gap1rem cult contextmenu">
          <span>
            <b>{{localize "RQG.Actor.RuneMagic.RunePoints"}}</b>
            <input type="number" min="0" max="99"
                   data-item-edit-value="system.runePoints.value"
                   value="{{system.runePoints.value}}">/{{system.runePoints.max}}
          </span>
          {{#if system.enrichedHolyDays}}
            <span><b>{{localize "RQG.Actor.RuneMagic.HolyDays"}}</b>{{{system.enrichedHolyDays}}}</span>
          {{/if}}
          {{#if system.enrichedGeases}}
            <span><b>{{localize "RQG.Actor.RuneMagic.Gifts"}}</b>{{{system.enrichedGifts}}}</span>
          {{/if}}
          {{#if system.enrichedGeases}}
            <span><b>{{localize "RQG.Actor.RuneMagic.Geases"}}</b>{{{system.enrichedGeases}}}</span>
          {{/if}}
          <div class="flex-column" {{#if system.descriptionRqidLink.rqid}}data-rqid-link="{{system.descriptionRqidLink.rqid}}"{{/if}}>
            {{#each system.joinedCults}}
              <div><b>{{cultName}} – {{localize (concat "RQG.Actor.RuneMagic.CultRank." rank)}}</b>
                {{#if tagline}}<br><i>{{tagline}}</i>{{/if}}</b>
              </div>
            {{/each}}
          </div>
        </div>
      </header>
      <div class="grid rune-magic item-list">
        <div class="headings"></div>
        <div class="head1">
          <button class="sort" data-sort-items="runeMagic" data-tooltip="{{localize "RQG.UI.SortItems"}}"><i
            class="fas fa-arrow-down-a-z"></i></button>
        </div>
        <div class="head2">{{localize "RQG.Actor.RuneMagic.RuneSpell"}}</div>
        <div class="head3">{{localize "RQG.Actor.RuneMagic.Points"}}</div>
        <div class="head4"><span class="text-center">{{localize "RQG.Actor.RuneMagic.Range"}}</span></div>
        <div class="head5"><span class="text-center">{{localize "RQG.Actor.RuneMagic.Duration"}}</span></div>
        <div class="head6">{{localize "RQG.Actor.RuneMagic.Ritual"}}</div>
        <div class="head7">{{localize "RQG.Actor.RuneMagic.Enchantment"}}</div>
        <div class="head8">{{localize "RQG.Actor.RuneMagic.Stackable"}}</div>
        <div class="head9">{{localize "RQG.Actor.RuneMagic.OneUse"}}</div>
        <div class="head10">{{localize "RQG.Actor.RuneMagic.Chance"}}</div>
        {{#each @root.embeddedItems.runeMagic}}
          {{#if (eq ../id system.cultId)}}
            <div class="rune-magic contextmenu item"
                 data-item-id="{{id}}"
                 {{#if system.descriptionRqidLink.rqid}}data-rqid-link="{{system.descriptionRqidLink.rqid}}"{{/if}}>
              <img class="item" src="{{img}}">
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              {{name}}&nbsp;
              {{#if system.isCommon}}
                <img class="common" src="systems/rqg/assets/images/items/cult.svg"
                     data-tooltip="{{localize "RQG.Actor.RuneMagic.CommonRuneMagicTooltip"}}">
              {{/if}}
              {{#each system.runes}}
                <img class="rune" src="{{runeImg this}}" data-tooltip="{{this}}">
              {{/each}}
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              <span class="text-center">{{system.points}}</span>
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              {{#unless system.isRitual}}<span class="text-center">{{localize
                (concat "RQG.Item.Spell.RangeEnum." system.castingRange)}}</span>{{/unless}}
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              {{#unless system.isRitual}}<span class="text-center">{{localize
                (concat "RQG.Item.Spell.DurationEnum." system.duration)}}</span>{{/unless}}
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              <span class="text-center">{{yes-no system.isRitual}}</span>
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="Roll"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              <span class="text-center">{{yes-no system.isEnchantment}}</span>
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              <span class="text-center">{{yes-no system.isStackable}}</span>
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              <span class="text-center">{{yes-no system.isOneUse}}</span>
            </div>
            <div class="rune-magic contextmenu item" data-tooltip="{{localize "RQG.Game.RollTitle"}}"
                 data-item-id="{{id}}"
                 data-rune-magic-roll>
              <span class="text-right">{{system.chance}}%</span>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </section>
  {{/each}}
</div>

