{{#each embeddedItems.runeMagic}}
  {{#unless system.cultId}}
    <div data-item-id="{{id}}">
      <a data-tooltip="{{localize "RQG.Actor.RuneMagic.EditRuneMagicSpellTitle"}}" data-item-edit><i
        class="fas fa-edit"></i>{{localize "RQG.Actor.RuneMagic.ChooseCultForRuneSpell" name=name }}</a>
      <a data-tooltip="{{localize "RQG.Actor.RuneMagic.DeleteRuneMagicSpellTitle"}}" data-item-delete><i
        class="fas fa-trash"></i></a>
    </div>
  {{/unless}}
{{/each}}

{{#if mainCult.hasMultipleCults}}
  <nav class="cult-tabs tabs" data-group="cult-view">
    {{#each embeddedItems.cult}}
      <h3 class="item cult-tab contextmenu" data-item-id="{{id}}" data-group="cult-view" data-tab="cult-{{id}}">
        {{system.deity}}
        {{#each system.runeRqidLinks}}
          <img class="rune" src="{{rqidImgSrc rqid}}" data-tooltip="{{name}}">
        {{/each}}
      </h3>
    {{/each}}
  </nav>
{{/if}}

<div class="item-list">
  {{#if mainCult.hasMultipleCults}}
    <section class="cult-body">
      {{#each embeddedItems.cult}}
        <div class="tab" data-group="cult-view" data-tab="cult-{{id}}">
          {{> actorRuneMagicCultSection}}
        </div>
      {{/each}}
    </section>
  {{else}}
    {{#each embeddedItems.cult}}
      {{> actorRuneMagicCultSection}}
    {{/each}}
  {{/if}}
</div>

