<h2>
  {{localize "RQG.Actor.SpiritMagic.SpiritMagic"}}
  <span class="small-size">{{localize "RQG.Actor.SpiritMagic.CHALimitFormula" points=spiritMagicPointSum CHALimit=data.data.characteristics.charisma.value}}</span>
</h2>
<div class="grid spiritmagic item-list">
  <div class="headings"></div>
  <div class="head1"></div>
  <div class="head2">{{localize "RQG.Actor.SpiritMagic.Name"}}</div>
  <div class="head3"><span class="text-right">{{localize "RQG.Actor.SpiritMagic.Points"}}</span></div>
  <div class="head4">{{localize "RQG.Actor.SpiritMagic.Variable"}}</div>
  <div class="head5">{{localize "RQG.Actor.SpiritMagic.Range"}}</div>
  <div class="head6">{{localize "RQG.Actor.SpiritMagic.Duration"}}</div>
  <div class="head7">{{localize "RQG.Actor.SpiritMagic.Concentration"}}</div>
  <div class="head8">{{localize "RQG.Actor.SpiritMagic.Ritual"}}</div>
  <div class="head9">{{localize "RQG.Actor.SpiritMagic.Enchantment"}}</div>
  {{#each ownedItems.spiritMagic}}
    <div data-item-id="{{id}}"
        class="spirit-magic contextmenu item">
      <img class="item" src="{{img}}">
    </div>
    <div data-item-id="{{id}}" 
        class="spirit-magic contextmenu item"
        data-spirit-magic-roll
        {{#if data.data.descriptionRqidLink.rqid}}data-spirit-magic-spell-rqid="{{data.data.descriptionRqidLink.rqid}}"{{/if}}>
      {{name}}{{#if data.data.isMatrix}} {{localize "RQG.Item.SpiritMagic.MatrixIndicator"}}{{/if}}
    </div>
    <div data-item-id="{{id}}"
        class="spirit-magic contextmenu item"
        data-spirit-magic-roll
        {{#if data.data.descriptionRqidLink.rqid}}data-spirit-magic-spell-rqid="{{data.data.descriptionRqidLink.rqid}}"{{/if}}>
      <span class="text-center">{{data.data.points}}</span>
    </div>
    <div data-item-id="{{id}}"
        class="spirit-magic contextmenu item"
        data-spirit-magic-roll
        {{#if data.data.descriptionRqidLink.rqid}}data-spirit-magic-spell-rqid="{{data.data.descriptionRqidLink.rqid}}"{{/if}}>
      <span class="text-center">{{yes-no this.data.data.isVariable}}</span>
    </div>
    <div data-item-id="{{id}}" 
        class="spirit-magic contextmenu item" 
        data-spirit-magic-roll
        {{#if data.data.descriptionRqidLink.rqid}}data-spirit-magic-spell-rqid="{{data.data.descriptionRqidLink.rqid}}"{{/if}}>
      <span class="text-center">{{localize (concat "RQG.Item.Spell.RangeEnum." data.data.castingRange)}}</span>
    </div>
    <div data-item-id="{{id}}" 
        class="spirit-magic contextmenu item" 
        data-spirit-magic-roll
        {{#if data.data.descriptionRqidLink.rqid}}data-spirit-magic-spell-rqid="{{data.data.descriptionRqidLink.rqid}}"{{/if}}>
      <span class="text-center">{{localize (concat "RQG.Item.Spell.DurationEnum." data.data.duration)}}</span>
    </div>
    <div data-item-id="{{id}}" 
        class="spirit-magic contextmenu item" 
        data-spirit-magic-roll
        {{#if data.data.descriptionRqidLink.rqid}}data-spirit-magic-spell-rqid="{{data.data.descriptionRqidLink.rqid}}"{{/if}}>
      <span class="text-center">{{localize (concat "RQG.Item.Spell.ConcentrationEnum." data.data.concentration)}}</span>
    </div>
    <div data-item-id="{{id}}" 
        class="spirit-magic contextmenu item" 
        data-spirit-magic-roll
        {{#if data.data.descriptionRqidLink.rqid}}data-spirit-magic-spell-rqid="{{data.data.descriptionRqidLink.rqid}}"{{/if}}>
      <span class="text-center">{{yes-no this.data.data.isRitual}}</span>
    </div>
    <div data-item-id="{{id}}" 
        class="spirit-magic contextmenu item" 
        data-spirit-magic-roll
        {{#if data.data.descriptionRqidLink.rqid}}data-spirit-magic-spell-rqid="{{data.data.descriptionRqidLink.rqid}}"{{/if}}>
      <span class="text-center">{{yes-no this.data.data.isEnchantment}}</span>
    </div>
  {{/each}}
</div>
