<div>
  <h2>Spirit Combat</h2>
  <div class="flex-row nowrap flex-align-center">
    <label data-damage-roll="{{characterData.attributes.spiritCombatDamage}}">Spirit Combat Damage
      {{characterData.attributes.spiritCombatDamage}}</label>
  </div>
  {{#if spiritCombatSkillData}}
  <div class="grid spirit-combat">
    <div data-item-id="{{spiritCombatSkillData._id}}" class="skill contextmenu" data-item-roll title="{{localize "RQG.Game.RollTitle"}}">Spirit
      Combat
    </div>
    <div data-item-id="{{spiritCombatSkillData._id}}" class="skill contextmenu" data-item-roll title="{{localize "RQG.Game.RollTitle"}}"><span
      class="text-right {{#if spiritCombatSkillData.data.hasExperience}}experienced{{/if}}">{{skillchance spiritCombatSkillData._id @root.data._id @root.tokenId}}%</span>
    </div>
  </div>
  {{/if}}
</div>
