{{log "*** Attack Dialog V2" this}}
<div class="standard-form">
  <header class="roll-header">
    <h1>{{skillItem.name}}</h1>
    <div class="sub-header">{{abilityChance}}%</div>
  </header>
  <div class="key-value-grid p-0 mb-1-5rem">
    <label>
      {{localize "RQG.Dialog.Common.AttackingActor"}}
    </label>
    <select name="attackingTokenOrActorUuid">
      {{selectOptions attackerOptions selected=formData.attackingTokenOrActorUuid localize=false}}
    </select>

    <label>
      {{localize "RQG.Dialog.Common.DefendingActor"}}
    </label>
    <div>{{defendingTokenName}}</div>

    <label>
      {{localize "RQG.Dialog.Attack.AttackingWeapon"}}
    </label>
    <select name="attackingWeaponUuid">
      {{selectOptions attackingWeaponOptions selected=formData.attackingWeaponUuid localize=false}}
    </select>

    <label>
      {{localize "RQG.Dialog.Attack.WeaponUsage"}}
    </label>
    <div class="fullwidth">
      <select name="usageType">
        {{selectOptions usageTypeOptions selected=formData.usageType localize=true}}
      </select>
      {{#if (eq formData.usageType "missile")}}
        {{#if isOutOfAmmo}}
          <span>{{localize "RQG.Dialog.Attack.OutOfAmmo"}}</span>
        {{else}}
          <span>{{localize "RQG.Dialog.Attack.AmmoQuantity"}} {{ammoQuantity}}</span>
        {{/if}}
      {{/if}}
    </div>

    {{#if (eq formData.usageType "missile")}}
      <label>{{localize "RQG.Dialog.Attack.ReduceAmmoQuantity"}}</label>
      <div>
        <input type="checkbox" {{checked formData.reduceAmmoQuantity}} name="reduceAmmoQuantity">
      </div>
    {{/if}}


    <label>
      {{localize "RQG.Dialog.Attack.DamageBonusFrom"}}
    </label>
    <select name="attackDamageBonus">
      {{selectOptions damageBonusSourceOptions selected=formData.attackDamageBonus}}
    </select>

    <label>
      {{localize "RQG.Dialog.Attack.ExtraDamage"}}
    </label>
    <div>
      <input type="text" value="{{formData.attackExtraDamage}}" name="attackExtraDamage">
    </div>

    <label>
      {{localize "RQG.Dialog.Attack.HitLocationFormula"}}
    </label>
    {{#if (eq formData.aimedBlow 0)}}
      <select name="hitLocationFormula">
        {{selectOptions hitLocationFormulaOptions selected=formData.hitLocationFormula}}
      </select>
    {{else}}
      <input type="text" readonly value="{{localize "RQG.Dialog.Attack.AimedBlow"}}">
    {{/if}}

    <h2 class="submenu-span">{{localize "RQG.Dialog.Common.Modifiers"}}</h2>

    <label>{{localize "RQG.Dialog.Attack.AimedBlow"}}</label>
    <div class="fullwidth flexrow flex-align-center">
      {{#if aimedBlowOptions}}
        <select name="aimedBlow">
          {{selectOptions aimedBlowOptions selected=formData.aimedBlow}}
        </select>
        {{#if (gt formData.aimedBlow 0)}}<span class="ml-5 flex-0">{{formData.halvedModifier}}%</span>{{/if}}

      {{else}}
        {{localize "RQG.Dialog.Attack.NoTargetSelected"}}
      {{/if}}
    </div>

    <label>
      {{localize "RQG.Dialog.AbilityRoll.Augment"}}
    </label>
    <select name="augmentModifier">
      {{selectOptions augmentOptions selected=formData.augmentModifier localize=true}}
    </select>

    <label>
      {{localize "RQG.Dialog.Attack.ProneTarget"}}
    </label>
    <div>
      <input type="checkbox" name="proneTarget" {{checked formData.proneTarget}}>
      {{#if formData.proneTarget}}<span class="ml-5">+40%</span>{{/if}}
    </div>

    <label>
      {{localize "RQG.Dialog.Attack.UnawareTarget"}}
    </label>
    <div>
      <input type="checkbox" name="unawareTarget" {{checked formData.unawareTarget}}>
      {{#if formData.unawareTarget}}<span class="ml-5">+40%</span>{{/if}}
    </div>

    <label>
      {{localize "RQG.Dialog.Attack.Darkness"}}
    </label>
    <div>
      <input type="checkbox" name="darkness" {{checked formData.darkness}}>
      {{#if formData.darkness}}<span class="ml-5">-75%</span>{{/if}}
    </div>

    <label>
      {{localize "RQG.Dialog.Common.Halved"}}
    </label>
    <div>
      <input type="checkbox" name="halved" {{checked formData.halved}}>
      {{#if formData.halved}}<span class="ml-5">{{formData.halvedModifier}}%</span>{{/if}}
    </div>

    <input type="text" style="text-align:end;font-weight:bold;"
           value="{{formData.otherModifierDescription}}" name="otherModifierDescription">
    <div>
      <input type="number" value="{{formData.otherModifier}}" name="otherModifier"><span class="ml-5">%</span>
    </div>
  </div>
  <input name="halvedModifier" value="{{halvedModifier}}" type="hidden">
  <div class="flexrow flex-wrap gap1rem">
    <div class="target-box" data-tooltip="{{localize "RQG.Dialog.Common.TargetChance"}}">
      <i class="fa-solid fa-bullseye"></i><br>
      {{totalChance}}%
    </div>
    {{#with (lookup weaponItem.system.usage formData.usageType)}}
      {{#each combatManeuvers}}
        {{#unless (eq damageType "parry")}}
        <button data-combat-maneuver-name="{{name}}" name="combatManeuverRoll">
          {{name}}
        </button>
        {{/unless}}
      {{/each}}
    {{/with}}
  </div>
</div>
