{{log "***defenceDialog" this}}
<div class="standard-form">
  <header class="roll-header">
    <h1>{{defenceName}}</h1>
    {{#unless (eq formData.defence "ignore")}}<div class="sub-header">{{defenceChance}}%</div>{{/unless}}
  </header>
  <div class="key-value-grid">
    <label>
      {{localize "RQG.Dialog.Common.AttackingActor"}}
    </label>
    <div>{{attackingTokenName}}</div>

    <label>
      {{localize "RQG.Dialog.Common.DefendingActor"}}
    </label>
    <select name="defendingTokenUuid">
      {{selectOptions defendingTokenOptions selected=formData.defendingTokenUuid localize=false}}
    </select>

    <label>
      {{localize "RQG.Dialog.Defence.Defence"}}
    </label>
    <select name="defence">
      {{selectOptions defenceOptions selected=formData.defence localize=true}}
    </select>

    {{#if (eq formData.defence "parry")}}
      <label>
        {{localize "RQG.Dialog.Defence.ParryingWeaponUuid"}}
      </label>
      <select name="parryingWeaponUuid">
        {{selectOptions parryingWeaponOptions selected=formData.parryingWeaponUuid localize=false}}
      </select>

      <label>
        {{localize "RQG.Dialog.Defence.ParryingWeaponUsage"}}
      </label>
      <select name="parryingWeaponUsage">
        {{selectOptions parryingWeaponUsageOptions selected=formData.parryingWeaponUsage localize=true}}
      </select>
    {{/if}}

    {{#unless (eq formData.defence "ignore")}}

      <h2 class="submenu-span">{{localize "RQG.Dialog.Common.Modifiers"}}</h2>

      <label>
        {{localize "RQG.Dialog.AbilityRoll.Augment"}}
      </label>
      <select name="augmentModifier" data-dtype="Number">
        {{selectOptions augmentOptions selected=formData.augmentModifier localize=true}}
      </select>

      <label>
        {{localize "RQG.Dialog.Defence.SubsequentDefenceModifier"}}
      </label>
      <select name="subsequentDefenceModifier" data-dtype="Number">
        {{selectOptions subsequentDefenceOptions selected=formData.subsequentDefenceModifier localize=true}}
      </select>

      <label>
        {{localize "RQG.Dialog.Common.Halved"}}
      </label>
      <div>
        <input type="checkbox" data-dtype="Number" name="halved" {{checked formData.halved}}>
        {{#if formData.halved}} {{formData.halvedModifier}}%{{/if}}
      </div>

      <input type="text" style="text-align:end;font-weight:bold;" value="{{formData.otherModifierDescription}}"
             name="otherModifierDescription">
      <div>
        <input type="number" data-dtype="Number" value="{{formData.otherModifier}}" name="otherModifier"> %
      </div>

      <label>
        {{localize "RQG.Dialog.Defence.MasterOpponentModifier"}}
      </label>
      <input type="number" data-dtype="Number" name="masterOpponentModifier" value="{{formData.masterOpponentModifier}}" readonly>
      <input type="hidden" data-dtype="Number" value="{{formData.halvedModifier}}" name="halvedModifier">

    {{/unless}}
    <input type="hidden" value="{{formData.attackChatMessageUuid}}" name="attackChatMessageUuid">

  </div>
  <div class="flexrow flex-wrap gap03rem">
    <div class="target-box" data-tooltip="{{localize "RQG.Dialog.Common.TargetChance"}}">
      <i class="fa-solid fa-bullseye"></i><br>
      {{totalChance}}%
    </div>

    <button data-defend>{{defenceButtonText}}</button>
  </div>
</div>
