{{log "***defenceDialog" this}}
<form>
  <header class="roll-header">
    <h1>{{defenceName}}</h1>
    {{#unless (eq object.defence "ignore")}}<div class="sub-header">{{defenceChance}}%</div>{{/unless}}
  </header>
  <div class="key-value-grid">

    <label>
      {{localize "RQG.Dialog.Defence.DefendingActor"}}
    </label>
    <select name="defendingActorUuid">
      {{selectOptions defendingActorOptions selected=object.defendingActorUuid localize=false}}
    </select>

    <label>
      {{localize "RQG.Dialog.Defence.Defence"}}
    </label>
    <select name="defence">
      {{selectOptions defenceOptions selected=object.defence localize=true}}
    </select>

    {{#if (eq object.defence "parry")}}
      <label>
        {{localize "RQG.Dialog.Defence.ParryingWeaponUuid"}}
      </label>
      <select name="parryingWeaponUuid">
        {{selectOptions parryingWeaponOptions selected=object.parryingWeaponUuid localize=false}}
      </select>

      <label>
        {{localize "RQG.Dialog.Defence.ParryingWeaponUsage"}}
      </label>
      <select name="parryingWeaponUsage">
        {{selectOptions parryingWeaponUsageOptions selected=object.parryingWeaponUsage localize=true}}
      </select>
    {{/if}}

    {{#unless (eq object.defence "ignore")}}

      <h2 class="submenu-span">{{localize "RQG.Dialog.Common.Modifiers"}}</h2>

      <label>
        {{localize "RQG.Dialog.AbilityRoll.Augment"}}
      </label>
      <select name="augmentModifier">
        {{selectOptions augmentOptions selected=object.augmentModifier localize=true}}
      </select>

      <label>
        {{localize "RQG.Dialog.Defence.SubsequentDefenceModifier"}}
      </label>
      <select name="subsequentDefenceModifier">
        {{selectOptions subsequentDefenceOptions selected=object.subsequentDefenceModifier localize=true}}
      </select>

      <label>
        {{localize "RQG.Dialog.Common.Halved"}}
      </label>
      <div>
        <input type="checkbox" name="halved" {{checked object.halved}}>
        {{#if object.halved}} {{halvedModifier}}%{{/if}}
      </div>

      <input type="text" style="text-align:end;font-weight:bold;" value="{{object.otherModifierDescription}}"
             name="otherModifierDescription">
      <div>
        <input type="number" value="{{object.otherModifier}}" name="otherModifier"> %
      </div>
    {{/unless}}
  </div>
  <div class="flexrow flex-wrap gap03rem">
    <div class="target-box" data-tooltip="{{localize "RQG.Dialog.Common.TargetChance"}}">
      <i class="fa-solid fa-bullseye"></i><br>
      {{totalChance}}%
    </div>

    <button data-defend>{{defenceButtonText}}</button>
  </div>
</form>
