<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" data-tooltip="{{name}}" />

    <div class="flex-column gap03rem">
      <div class="property-line">

        <div class="label-above long">
          <label for="name-{{id}}">{{localize "RQG.Item.RuneMagic.Name"}}</label>
          <input type="text" id="name-{{id}}" name="name" value="{{name}}" />
        </div>

        <div class="label-above parens short">
          <label for="points-{{id}}">{{localize "RQG.Item.RuneMagic.Points"}}</label>
          <div>
            ( <input
            id="points-{{id}}"
            name="system.points"
            value="{{system.points}}"
            type="number"
          > )
          </div>
        </div>

      </div>

      {{> "systems/rqg/items/sheet-parts/rqidLinkDropzone.hbs"
        rqidLink=system.descriptionRqidLink
        dropzoneData="descriptionRqidLink"
        dropDocumentNames="JournalEntry, JournalEntryPage"
        showDeleteFromPropertyName="descriptionRqidLink"
        showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
      }}
    </div>
  </header>

  <main>
    {{! Sheet Tab Navigation }}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="rune-magic">{{localize "RQG.Item.SheetTab.RuneMagic"}}</a>
      {{#if isGM}}
        {{#unless isEmbedded}}
          <a class="item" data-tab="active-effects">{{localize "RQG.Item.SheetTab.ActiveEffects"}}</a>
        {{/unless}}
      {{/if}}
    </nav>

    <section class="sheet-body">
      {{! Rune Magic Tab }}
      <div class="tab" data-group="primary" data-tab="rune-magic">

        <div class="key-value-grid">
          {{#unless system.isRitual}}

            <label for="range-{{id}}" class="mp">{{localize "RQG.Item.RuneMagic.Range"}}</label>
            <select id="range-{{id}}" name="system.castingRange">
              {{#select system.castingRange}}
                {{#each ranges}}
                  <option value="{{this}}">{{localize (concat "RQG.Item.Spell.RangeEnum." this)}}</option>
                {{/each}}
              {{/select}}
            </select>

            <label for="duration-{{id}}" class="mp">{{localize "RQG.Item.RuneMagic.Duration"}} </label>
            <select id="duration-{{id}}" name="system.duration">
              {{#select system.duration}}
                {{#each durations}}
                  <option value="{{this}}">{{localize (concat "RQG.Item.Spell.DurationEnum." this)}}</option>
                {{/each}}
              {{/select}}
            </select>

          {{/unless}}

          <label for="is-ritual-{{id}}">{{localize "RQG.Item.Spell.RitualQ"}}</label>
          <input type="checkbox" id="is-ritual-{{id}}" name="system.isRitual" {{checked system.isRitual}}>

          <label for="is-enchantment-{{id}}">{{localize "RQG.Item.Spell.EnchantmentQ"}}</label>
          <input type="checkbox" id="is-enchantment-{{id}}" name="system.isEnchantment" {{checked
            system.isEnchantment}}>

          <label for="is-stackable-{{id}}">{{localize "RQG.Item.RuneMagic.StackableQ"}}</label>
          <input type="checkbox" id="is-stackable-{{id}}" name="system.isStackable" {{checked system.isStackable}}>

          <label for="is-one-use-{{id}}">{{localize "RQG.Item.RuneMagic.OneUseQ"}}</label>
          <input type="checkbox" id="is-one-use-{{id}}" name="system.isOneUse" {{checked system.isOneUse}}>

          {{#if isEmbedded}}
            <label for="cult-id-{{id}}" class="mp">{{localize "RQG.Item.RuneMagic.GrantedByCult"}}</label>
            <select id="cult-id-{{id}}" name="system.cultId">
              {{#select system.cultId}} {{#each actorCults}}
                <option value="{{id}}">{{name}}</option>
              {{/each}} {{/select}}
            </select>
          {{/if}}

          <label for="runes-{{id}}">{{localize "RQG.Item.RuneMagic.Runes"}}</label>
          <div class="img-name-grid bordered">
            {{#each system.runes}}
              <img class="rune" src="{{runeImg this}}" data-tooltip="{{this}}">
              <input type="text" name="system.runes" value="{{this}}">
            {{/each}}
            <input
              type="text"
              id="runes-{{id}}"
              name="system.runes" list="allRunes"
              placeholder="{{localize "RQG.Item.RuneMagic.AddNewRunePlaceholder"}}"
              style="grid-column: 1 / span 2;">
          </div>
        </div>
      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab" data-group="primary" data-tab="active-effects">
        {{> "systems/rqg/items/sheet-parts/itemActiveEffects.hbs"}}

      </div>
    </section>

  </main>
  <datalist id="allRunes">
    {{#each allRunes}}
      <option value="{{name}}">{{name}}</option>
    {{/each}}
  </datalist>
</form>
