<h3>{{localize "RQG.Item.RuneMagic.runeMagicCultDialog.Actor"}} {{actorName}}</h3>
<h3>{{localize "RQG.Item.RuneMagic.runeMagicCultDialog.RuneMagic"}} {{runeMagicName}}</h3>
<label class="mp">Cult
  <select name="cultId">
    {{selectOptions actorCultOptions selected=system.cultId localize=true}}
  </select>
</label>
