<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{data.img}}"
      data-edit="img"
      title="{{data.name}}"
    />
    <input type="text" name="name" value="{{data.name}}"> (<input type="number" name="data.points" value="{{runeMagicData.points}}">)
  </header>
  <main>
    <div class="flex-row-start">
      {{#unless runeMagicData.isRitual}}
        <label class="mp">{{localize "RQG.Item.RuneMagic.Range"}}<br>
          <select name="data.castingRange">
            {{#select runeMagicData.castingRange}} {{#each sheetSpecific.ranges}}
            <option value="{{this}}">{{localize (concat "RQG.Item.RuneMagic.RangeEnum." this)}}</option>
            {{/each}} {{/select}}
          </select>
        </label>
        <label class="mp">{{localize "RQG.Item.RuneMagic.Duration"}}<br>
          <select name="data.duration">
            {{#select runeMagicData.duration}} {{#each sheetSpecific.durations}}
            <option value="{{this}}">{{localize (concat "RQG.Item.RuneMagic.DurationEnum." this)}}</option>
            {{/each}} {{/select}}
          </select>
        </label>
      {{/unless}}
      <div>
      <label><input type="checkbox" name="data.isRitual" {{checked runeMagicData.isRitual}}>{{localize "RQG.Item.RuneMagic.RitualQ"}}</label><br>
      <label><input type="checkbox" name="data.isStackable" {{checked runeMagicData.isStackable}}>{{localize "RQG.Item.RuneMagic.StackableQ"}}</label><br>
      <label><input type="checkbox" name="data.isOneUse" {{checked runeMagicData.isOneUse}}>{{localize "RQG.Item.RuneMagic.OneUseQ"}}</label>
      </div>
    </div>
    {{#if isEmbedded}}
    <label class="mp">{{localize "RQG.Item.RuneMagic.Cult"}}
      <select name="data.cultId">
        {{#select runeMagicData.cultId}} {{#each sheetSpecific.actorCults}}
        <option value="{{id}}">{{name}}</option>
        {{/each}} {{/select}}
      </select>
    </label><br>
    {{/if}}
    {{localize "RQG.Item.RuneMagic.Runes"}}<br>
    {{#each runeMagicData.runes}}
    <span><img class="rune" src="{{runeImg this}}" title="{{this}}"><input name="data.runes" type="text" value="{{this}}"> </span>
    {{/each}}
    <input name="data.runes" type="text" list="allRunes" placeholder="{{localize "RQG.Item.RuneMagic.AddNewRunePlaceholder"}}">

    <div class="item-sheet-journal-link">
      {{#if runeMagicData.journalPack}}
          <a class="entity-link content-link"
            data-pack="{{runeMagicData.journalPack}}" 
            data-id="{{runeMagicData.journalId}}"
            title="{{localize "RQG.Foundry.ContentLink.CompendiumNameTitle" compendiumName=runeMagicData.journalPack}}">
            <i class="fas fa-book-open"></i> {{sheetSpecific.journalEntryName}}
          </a>
          <p><i>{{localize "RQG.Foundry.ContentLink.DropToReplaceJournal"}}</i></p>
      {{else if runeMagicData.journalId}}
          <a class="entity-link content-link" 
            data-type="JournalEntry" 
            data-id="{{runeMagicData.journalId}}"
            title="{{localize "RQG.Foundry.ContentLink.WorldJournalEntry"}}">
            <i class="fas fa-book-open"></i> {{sheetSpecific.journalEntryName}}
          </a>
          <p><i>{{localize "RQG.Foundry.ContentLink.DropToReplaceJournal"}}</i></p>
      {{else}}
          <p><i>{{localize "RQG.Foundry.ContentLink.DropToConnectJournal"}}</i></p>
      {{/if}}   
    </div>   

    <br>{{> "systems/rqg/items/sheet-parts/itemActiveEffects.hbs"}}
  </main>
  <datalist id="allRunes">
    {{#each sheetSpecific.allRunes}}
    <option value="{{name}}">{{name}}</option>
    {{/each}}
  </datalist>
</form>
