<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" data-tooltip="{{name}}" />

    <div class="flex-column gap03rem">
      <div class="property-line">

        <div class="label-above long">
          <label for="name-{{id}}">{{localize "RQG.Item.RuneMagic.Name"}}</label>
          <input type="text" id="name-{{id}}" name="name" value="{{name}}" />
        </div>

        <div class="label-above parens short">
          <label for="points-{{id}}">{{localize "RQG.Item.RuneMagic.Points"}}</label>
          <div>
            ( <input
            id="points-{{id}}"
            name="system.points"
            value="{{system.points}}"
            type="number"
          > )
          </div>
        </div>

      </div>

      {{> rqidLinkDropzone
        rqidLink=system.descriptionRqidLink
        dropzoneData="descriptionRqidLink"
        dropDocumentNames="JournalEntry, JournalEntryPage"
        showDeleteFromPropertyName="descriptionRqidLink"
        showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
      }}
    </div>
  </header>

  <main>
    {{! Sheet Tab Navigation }}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="rune-magic">{{localize "RQG.Item.SheetTab.RuneMagic"}}</a>
      {{#if isGM}}
        <a class="item" data-tab="active-effects">{{localize "RQG.Item.SheetTab.ActiveEffects"}}</a>
      {{/if}}
    </nav>

    <section class="sheet-body">
      {{! Rune Magic Tab }}
      <div class="tab" data-group="primary" data-tab="rune-magic">

        <div class="key-value-grid">
          {{#unless system.isRitual}}

            <label for="range-{{id}}" class="mp">{{localize "RQG.Item.RuneMagic.Range"}}</label>
            <select id="range-{{id}}" name="system.castingRange">
              {{#select system.castingRange}}
                {{#each ranges}}
                  <option value="{{this}}">{{localize (concat "RQG.Item.Spell.RangeEnum." this)}}</option>
                {{/each}}
              {{/select}}
            </select>

            <label for="duration-{{id}}" class="mp">{{localize "RQG.Item.RuneMagic.Duration"}} </label>
            <select id="duration-{{id}}" name="system.duration">
              {{#select system.duration}}
                {{#each durations}}
                  <option value="{{this}}">{{localize (concat "RQG.Item.Spell.DurationEnum." this)}}</option>
                {{/each}}
              {{/select}}
            </select>

          {{/unless}}

          <label for="is-ritual-{{id}}">{{localize "RQG.Item.Spell.Ritual"}}</label>
          <input type="checkbox" id="is-ritual-{{id}}" name="system.isRitual" {{checked system.isRitual}}>

          <label for="is-enchantment-{{id}}">{{localize "RQG.Item.Spell.Enchantment"}}</label>
          <input type="checkbox" id="is-enchantment-{{id}}" name="system.isEnchantment" {{checked
            system.isEnchantment}}>

          <label for="is-stackable-{{id}}">{{localize "RQG.Item.RuneMagic.Stackable"}}</label>
          <input type="checkbox" id="is-stackable-{{id}}" name="system.isStackable" {{checked system.isStackable}}>

          <label for="is-one-use-{{id}}">{{localize "RQG.Item.RuneMagic.OneUse"}}</label>
          <input type="checkbox" id="is-one-use-{{id}}" name="system.isOneUse" {{checked system.isOneUse}}>

          {{#if isEmbedded}}
            <label for="cult-id-{{id}}" class="mp">{{localize "RQG.Item.RuneMagic.GrantedByCult"}}</label>
            <select id="cult-id-{{id}}" name="system.cultId">
              {{#select system.cultId}} {{#each actorCults}}
                <option value="{{id}}">{{name}}</option>
              {{/each}} {{/select}}
            </select>
          {{/if}}

          <label for="runes-{{id}}">{{localize "RQG.Item.RuneMagic.Runes"}}</label>
          {{> rqidLinkArrayDropzone
            rqidLinkArray=system.runeRqidLinks
            dropzoneData="runeRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="rune"
            showDeleteFromPropertyName="runeRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectRune"
            dropdownOptions=allRuneOptions
          }}
        </div>
      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab" data-group="primary" data-tab="active-effects">
        {{> itemActiveEffects}}

      </div>
    </section>

  </main>
  <datalist id="allRunes">
    {{#each allRunes}}
      <option value="{{name}}">{{name}}</option>
    {{/each}}
  </datalist>
</form>
