<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" data-tooltip="{{name}}" />
    <div class="property-line">
      <div class="label-above">
        <label for="passion-{{id}}">{{localize "RQG.Item.Passion.Name"}}</label><br>
        <input type="text" id="passion-{{id}}" name="system.passion" value="{{system.passion}}"
            list="passionTypes"
            placeholder="{{localize "RQG.Item.Passion.NamePlaceholder"}}">
      </div>

      <div class="label-above parens">
        <label for="subject-{{id}}">{{localize "RQG.Item.Passion.Subject"}}</label>
        <div>
          (<input type="text" id="subject-{{id}}" name="system.subject" value="{{system.subject}}">)
        </div>
      </div>
    </div>
  </header>

  <main>
    {{!-- Sheet Tab Navigation --}}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="passion">{{localize "RQG.Item.SheetTab.Passion"}}</a>
      <a class="item" data-tab="backstory">{{localize "RQG.Item.Passion.BackStory"}}</a>
      {{#if isGM}}
        <a class="item" data-tab="gm">{{localize "RQG.Item.SheetTab.GMNotes"}}</a>
      {{/if}}
    </nav>

    <section class="sheet-body">
      {{!-- Passion Tab --}}
      <div class="tab" data-group="primary" data-tab="passion">
        <div class="key-value-grid">
          <label for="chance-{{id}}">{{localize "RQG.Item.Passion.Chance"}}</label>
          <div>
            <input
              id="chance-{{id}}"
              name="system.chance"
              value="{{system.chance}}"
              type="number"
              min="0"
              max="999"
              class="{{experiencedclass uuid}}"> %
          </div>

          <label for="has-experience-{{id}}">{{localize "RQG.Item.Passion.HasExperienceQ"}}</label>
          <input
            id="has-experience-{{id}}"
            name="system.hasExperience"
            {{checked system.hasExperience}}
            type="checkbox">
        </div>
      </div>

      {{!-- Backstory Tab --}}
      <div class="tab" data-group="primary" data-tab="backstory">
        {{editor
          enrichedDescription
          target="system.description"
          button=true
          editable=isEditable
        }}
      </div>

      {{!-- GM Tab --}}
      <div class="tab" data-group="primary" data-tab="gm">
        {{editor
          enrichedGmNotes
          target="system.gmNotes"
          button=true
          editable=isEditable}}
      </div>
    </section>
  </main>

    <datalist id="passionTypes">
    {{#each passionTypes}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </datalist>
</form>
