<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img src="{{data.img}}" />
    <fieldset>
      <legend>{{localize "RQG.Item.Passion.Name"}}</legend>
      <label>{{localize "RQG.Item.Passion.Passion"}}<br><select name="data.passion">
        {{#select passionData.passion}} {{#each sheetSpecific.passionTypes}}
        <option value="{{this}}">{{this}}</option>
        {{/each}} {{/select}}
      </select></label>
      <label>{{localize "RQG.Item.Passion.Subject"}}<br>( <input type="text" name="data.subject" value="{{passionData.subject}}"> )</label>
    </fieldset>
  </header>
  <section class="sheet-body">
    <div class="flex-row-start">
      <label>{{localize "RQG.Item.Passion.Chance"}}<br><input type="number" min="0" max="999" name="data.chance" value="{{passionData.chance}}"> %</label>
      <label>{{localize "RQG.Item.Passion.Experience"}}<br><input type="checkbox" name="data.hasExperience" {{checked passionData.hasExperience}}></label>
    </div><br>
    <div class="wide-section">
      {{localize "RQG.Item.Passion.BackStory"}} {{editor content=passionData.description target="data.description" button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
