<div class="standard-form">
  <div class="key-value-grid p-0">
    <label>
      {{localize "RQG.Dialog.Common.Character"}}
    </label>
    <div>{{speakerName}}</div>

    <label>
      {{localize "RQG.Dialog.AbilityRoll.Augment"}}
    </label>
    <select name="augmentModifier">
      {{selectOptions augmentOptions selected=formData.augmentModifier localize=true}}
    </select>

    <label>
      {{localize "RQG.Dialog.AbilityRoll.Meditate"}}
    </label>
    <select name="meditateModifier">
      {{selectOptions meditateOptions selected=formData.meditateModifier localize=true}}
    </select>

    <input type="text" style="text-align:end;font-weight:bold;" value="{{formData.otherModifierDescription}}" name="otherModifierDescription">
    <div>
      <input type="number" value="{{formData.otherModifier}}" name="otherModifier"> %
    </div>
  </div>
  <input type="hidden" value="{{formData.abilityItemUuid}}" name="abilityItemUuid">
  <input type="hidden" value="{{formData.reputationItemJson}}" name="reputationItemJson">
</div>
