<form autocomplete="off" data-dropzone class="{{system.attributes.health}} {{#if system.editMode}}editMode{{/if}}">
  <button data-return-sink class="no-display"></button>
  <div class="mainbackground"></div>
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="header-grid">

      <div class="profile">
        <img class="profile-img
        {{#if (eq img "icons/svg/mystery-man.svg")}}unset{{/if}}"
             src="{{img}}" data-edit="img" data-tooltip="{{name}}">
      </div>

      <div class="name-runes-cults">
        <div class="flex-row">
          <div class="charname">
            <input name="name" type="text" value="{{name}}">
            <input name="system.extendedName" type="text" value="{{system.extendedName}}">
          </div>
          <div class="runes-cult">

            <div class="flex-row-end gap1rem">
              {{#if characterElementRunes}}
                <div class="flex-row gap01rem">
                  {{#each characterElementRunes}}
                    <div class="rune contextmenu item" data-item-id="{{id}}" data-tooltip="{{rune}}: {{chance}}%">
                      <img class="rune" src="{{img}}"{{#if descriptionRqid}}
                           data-rqid-link="{{descriptionRqid}}"{{/if}}>
                    </div>
                  {{/each}}
                </div>
              {{/if}}
              {{#if characterPowerRunes}}
                <div class="flex-row gap01rem">
                  {{#each characterPowerRunes}}
                    <div class="rune contextmenu item" data-item-id="{{id}}" data-tooltip="{{rune}}: {{chance}}%">
                      <img class="rune" src="{{img}}"{{#if descriptionRqid}}
                           data-rqid-link="{{descriptionRqid}}"{{/if}}>
                    </div>
                  {{/each}}
                </div>
              {{/if}}
              {{#if characterFormRunes}}
                <div class="flex-row gap01rem">
                  {{#each characterFormRunes}}
                    <div class="rune contextmenu item" data-item-id="{{id}}" data-tooltip="{{rune}}: {{chance}}%">
                      <img class="rune" src="{{img}}"{{#if descriptionRqid}}
                           data-rqid-link="{{descriptionRqid}}"{{/if}}>
                    </div>
                  {{/each}}
                </div>
              {{/if}}
            </div>
            {{#if mainCult.id}}
              <div class="cult contextmenu item" data-item-id="{{mainCult.id}}"{{#if mainCult.descriptionRqid}}
                   data-rqid-link="{{mainCult.descriptionRqid}}"{{/if}}>
                {{mainCult.name}}
                {{#if mainCult.hasMultipleCults}}
                  <i class="fa fa-plus-circle small-size" aria-hidden="true"
                     data-tooltip="{{localize "RQG.UI.MultipleCults"}}"></i>
                {{/if}}
                <span class="x-small-size">{{mainCult.rank}}</span>
              </div>
            {{/if}}
          </div>

        </div>

      </div>

      <div class="characteristics">
        {{#each system.characteristics as | characteristic key |}}
          <div data-characteristic="{{key}}"
               class="flex-column{{#if characteristic.hasExperience}} experienced{{/if}}
                          {{#if @root.showCharacteristicRatings}}
                            {{lookup @root.characteristicRanks key}}
                          {{/if}}">
            <label class="resource-label norse characteristic contextmenu"
                data-characteristic-roll
                data-characteristic-name="{{key}}">{{localize (concat 'RQG.Actor.Characteristics.' key)}}</label>

            <!--Characteristic Value-->
            {{#edit-mode @root.system.editMode "all"}}
              <input type="number" name="system.characteristics.{{key}}.value" class="value characteristic contextmenu"
                min="0" max="99"
                value="{{characteristic.value}}">
            {{else}}
              <div class="value characteristic contextmenu" data-characteristic-roll>{{characteristic.value}}</div>
            {{/edit-mode}}

            <!--Characteristic Dice Expression Formula-->
            <input type="text" name="system.characteristics.{{key}}.formula"
              class="characteristic contextmenu"
              value="{{characteristic.formula}}"
                {{#edit-mode @root.system.editMode "gm trusted"}}
                {{else}}
                  disabled
                {{/edit-mode}}
              >

          </div>
        {{/each}}
      </div>

      <div class="bottom-line">
        {{#if baseStrikeRank includeZero=true}}
          <div>
            <div class="norse text-center">{{localize "RQG.Actor.Attributes.StrikeRank"}} <span
              class="large-font">{{baseStrikeRank}}</span></div>
            <div class="flex-row gap0">
              {{#if system.attributes.dexStrikeRank includeZero=true}}
                <span class="norse text-center dex-sr">{{localize
                  "RQG.Actor.Attributes.DexterityAbbr"}} {{system.attributes.dexStrikeRank}}</span>{{/if}}
              {{#if system.attributes.sizStrikeRank includeZero=true}}
                <span class="norse text-center siz-sr">{{localize
                  "RQG.Actor.Attributes.SizeAbbr"}} {{system.attributes.sizStrikeRank}}</span>{{/if}}
            </div>
          </div>
        {{/if}}

        <div>
          {{#if system.attributes.magicPoints.max}}
            <label class="flex-row flex-align-center">
              <span>{{localize "RQG.Actor.Attributes.MagicPoints"}}</span>
              <span class="nowrap">
                <input type="number" min="0" max="99" name="system.attributes.magicPoints.value"
                       value="{{system.attributes.magicPoints.value}}" size="2"
                > / {{system.attributes.magicPoints.max}}
              </span>
            </label>
          {{/if}}
          <i class="norse flex-row flex-align-center">{{#each powCrystals}}
            <span class="mp-ellipses">{{name}}</span> {{size}}&nbsp;MP<br>{{/each}}</i>
          {{#edit-mode system.editMode "gm"}}
            <label data-tooltip="{{localize "RQG.Actor.Attributes.CreatureExplanation"}}">
              <input type="checkbox" name="system.attributes.isCreature" {{checked ../system.attributes.isCreature}}>
              {{localize "RQG.Actor.Attributes.CreatureQ"}}
            </label>
          {{else}}
            {{#if ../system.attributes.isCreature}}
              <span data-tooltip="{{localize "RQG.Actor.Attributes.CreatureExplanation"}}">
                {{localize "RQG.Actor.Attributes.Creature"}}
              </span>
            {{/if}}
          {{/edit-mode}}
        </div>

        <fieldset class="mov-enc"
                  data-tooltip="<div class='text-left'>{{localize "RQG.Actor.Attributes.MoveEquipped"
                                                                  equippedMove=system.attributes.move.equipped
                                                                  equippedEnc=system.attributes.encumbrance.equipped}}
                    {{#if (gt system.attributes.encumbrance.equipped system.attributes.encumbrance.max)}}<br>{{localize
                      "RQG.Actor.Attributes.OverWeight"}}{{/if}}
                    <br><br>
                    {{localize "RQG.Actor.Attributes.MoveCarried" carriedMove=system.attributes.move.travel
                               carriedEnc=system.attributes.encumbrance.travel}}
                    {{#if (gt system.attributes.encumbrance.travel system.attributes.encumbrance.max)}}<br>{{localize
                      "RQG.Actor.Attributes.OverWeight"}}{{/if}}
                    <br><br>
                    {{localize "RQG.Actor.Attributes.MaxEnc" maxEnc=system.attributes.encumbrance.max}}</div>">

          <legend>{{localize
            (concat "RQG.Actor.Attributes.MoveMode." system.attributes.move.currentLocomotion)}}</legend>
          <div class="flex-column">
            {{#if (or isGM system.attributes.move.walk.value)}}
              <label class="nowrap"><input type="radio" name="system.attributes.move.currentLocomotion"
                                           value="walk" {{checked
                  (eq "walk" system.attributes.move.currentLocomotion)}}>
                <i class="fas fa-walking"></i>
              </label>
            {{/if}}
            {{#if (or isGM system.attributes.move.swim.value)}}
              <label class="nowrap"><input type="radio" name="system.attributes.move.currentLocomotion"
                                           value="swim" {{checked
                  (eq "swim" system.attributes.move.currentLocomotion)}}>
                <i class="fas fa-swimmer fa-flip-horizontal"></i>
              </label>
            {{/if}}
            {{#if (or isGM system.attributes.move.fly.value)}}
              <label class="nowrap"><input type="radio" name="system.attributes.move.currentLocomotion"
                                           value="fly" {{checked (eq "fly" system.attributes.move.currentLocomotion)}}>
                <i class="fas fa-dove"></i>
              </label>
            {{/if}}
          </div>

          {{#edit-mode system.editMode "gm"}}
            {{#with (lookup ../system.attributes.move ../system.attributes.move.currentLocomotion) }}
            <div>
              <div class="norse">{{localize "RQG.Actor.Attributes.MovementAbbr"}}<br></div>
                <input class="text-center"
                  name="{{concat 'system.attributes.move.' @root.system.attributes.move.currentLocomotion '.value'}}"
                  value="{{value}}"
                  type="number"
                  min="0"
                  max="99"
                  size="2">
            </div>

            <div>
              <div class="norse">{{localize "RQG.Actor.Attributes.EncumbranceFactor"}}</div>

              <input
                class="text-center"
                name="{{concat 'system.attributes.move.' @root.system.attributes.move.currentLocomotion
                                '.carryingFactor'}}"
                value="{{carryingFactor}}"
                type="number"
                step="0.1"
                min="0"
                max="99"
                size="2">
            </div>
            {{/with}}

          {{else}}
            <div class="norse player-mov">{{localize "RQG.Actor.Attributes.MovementAbbr"}}<br></div>
          {{/edit-mode}}

          <div>
            <div{{#if
              (gt system.attributes.encumbrance.equipped system.attributes.encumbrance.max)}} class="warning"{{/if}}>
              <img class="equipped-status" src="systems/rqg/assets/images/equipped/equipped.svg">
              <span>{{system.attributes.move.equipped}}</span>
            </div>

            <div{{#if
              (gt system.attributes.encumbrance.travel system.attributes.encumbrance.max)}} class="warning"{{/if}}>
              <img class="equipped-status" src="systems/rqg/assets/images/equipped/carried.svg">
              <span>{{system.attributes.move.travel}}</span>
            </div>
          </div>
        </fieldset>

        {{#if showHeropoints}}{{#if isPC}}
          <div class="hero-points-container">
            <div class="norse">{{localize "RQG.Actor.Attributes.HeroPoints"}}</div>
            {{#if isGM}}
              <input class="text-center" type="number" min="0" max="99" name="system.attributes.heroPoints"
                                              value="{{system.attributes.heroPoints}}" size="2">
            {{else}}
              <div class="text-center">{{system.attributes.heroPoints}}</div>
            {{/if}}
          </div>
        {{/if}}{{/if}}

      </div>
    </div>
  </header>

  <div class="navbackground"></div>
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item norse" data-group="primary" data-tab="combat">{{localize "RQG.Actor.Nav.Combat"}}</a>
    {{#if showUiSection.runes}}<a class="item norse" data-group="primary" data-tab="runes">{{localize "RQG.Actor.Nav.Runes"}}</a>{{/if}}
    {{#if showUiSection.spiritMagic}}<a class="item norse" data-group="primary" data-tab="spiritmagic">{{localize "RQG.Actor.Nav.SpiritMagic"}}</a>{{/if}}
    {{#if showUiSection.runeMagic}}<a class="item norse" data-group="primary" data-tab="runemagic">{{localize "RQG.Actor.Nav.RuneMagic"}}</a>{{/if}}
    {{#if showUiSection.sorcery}}<a class="item norse" data-group="primary" data-tab="sorcery">{{localize "RQG.Actor.Nav.Sorcery"}}</a>{{/if}}
    {{#if showUiSection.skills}}<a class="item norse" data-group="primary" data-tab="skills">{{localize "RQG.Actor.Nav.Skills"}}</a>{{/if}}
    {{#if showUiSection.gear}}<a class="item norse" data-group="primary" data-tab="gear">{{localize "RQG.Actor.Nav.Gear"}}</a>{{/if}}
    {{#if showUiSection.passions}}<a class="item norse" data-group="primary" data-tab="passions">{{localize "RQG.Actor.Nav.Passions"}}</a>{{/if}}
    {{#if showUiSection.background}}<a class="item norse" data-group="primary" data-tab="background">{{localize "RQG.Actor.Nav.Background"}}</a>{{/if}}
    {{#if showUiSection.activeEffects}}<a class="item norse" data-group="primary" data-tab="activeeffectstesting">{{localize "RQG.Actor.Nav.ActiveEffects"}}</a>{{/if}}
  </nav>

  <section class="sheet-body">
    <div class="tab combat" data-group="primary" data-tab="combat">
      {{> actorCombatTab }}
    </div>

    {{#if showUiSection.runes}}
      <div class="tab runes" data-group="primary" data-tab="runes">
        {{> actorRuneTab }}
      </div>
    {{/if}}

    {{#if showUiSection.spiritMagic}}
      <div class="tab spiritmagic" data-group="primary" data-tab="spiritmagic">
        {{> actorSpiritMagicTab }}
      </div>
    {{/if}}

    {{#if showUiSection.runeMagic}}
      <div class="tab runemagic" data-group="primary" data-tab="runemagic">
        {{> actorRuneMagicTab }}
      </div>
    {{/if}}

    {{#if showUiSection.sorcery}}
      <div class="tab sorcery" data-group="primary" data-tab="sorcery">
        {{> actorSorceryTab }}
      </div>
    {{/if}}

    {{#if showUiSection.skills}}
      <div class="tab skills" data-group="primary" data-tab="skills">
        {{> actorSkillsTab }}
      </div>
    {{/if}}

    {{#if showUiSection.gear}}
      <div class="tab gear" data-group="primary" data-tab="gear">
        {{> actorGearTab }}
      </div>
    {{/if}}

    {{#if showUiSection.passions}}
      <div class="tab passions" data-group="primary" data-tab="passions">
        {{> actorPassionsTab }}
      </div>
    {{/if}}

    {{#if showUiSection.background}}
      <div class="tab background" data-group="primary" data-tab="background">
        {{> actorBackgroundTab }}
      </div>
    {{/if}}

    {{#if showUiSection.activeEffects}}
      <div class="tab activeeffectstesting" data-group="primary" data-tab="activeeffectstesting">
        {{> actorActiveEffectsTab }}
      </div>
    {{/if}}
  </section>
</form>
