{{log "*** actorSheet" this}}
<form class="{{cssClass}}" autocomplete="off">
  <div class="mainbackground"></div>
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img {{#if (eq data.img "icons/svg/mystery-man.svg")}}unset{{/if}}" src="{{data.img}}" data-edit="img" title="{{data.name}}">
    <div>
      <div class="topheaderline">
        <h1 class="charname"><input name="name" type="text" value="{{data.name}}"></h1>
        <div class="flex-row gap1rem">
          {{#unless (eq characterData.attributes.health "healthy")}}<i>{{localize (concat "RQG.Actor.Attributes.Health." characterData.attributes.health)}}</i>{{/unless}}
          {{#if characterElementRunes}}
            <div>
              {{#each characterElementRunes}}
                <img class="rune" src="{{img}}" {{#if data.journalId}} data-journal-pack="{{data.journalPack}}" data-journal-id="{{data.journalId}}"{{/if}}>
              {{/each}}
            </div>
          {{/if}}
          {{#if characterPowerRunes}}
            <div>
              {{#each characterPowerRunes}}
                <img class="rune" src="{{img}}" {{#if data.journalId}} data-journal-pack="{{data.journalPack}}" data-journal-id="{{data.journalId}}"{{/if}}>
              {{/each}}
            </div>
          {{/if}}
          {{#if characterFormRunes}}
            <div>
              {{#each characterFormRunes}}
                <img class="rune" src="{{img}}" {{#if data.journalId}} data-journal-pack="{{data.journalPack}}" data-journal-id="{{data.journalId}}"{{/if}}>
              {{/each}}
            </div>
          {{/if}}
        </div>
      </div>
      <div class="characteristics">
        {{#each characterData.characteristics as | characteristic key |}}
        <div data-characteristic="{{key}}" class="flex-column {{#if characteristic.hasExperience}}experienced{{/if}}">
          <label class="resource-label norse characteristic contextmenu" data-characteristic-roll data-characteristic-name="{{key}}">{{localize (concat 'RQG.Actor.Characteristics.' key)}}</label>
          {{#if @root.isGM}}
            <input type="number" min="0" max="99" name="data.characteristics.{{key}}.value" value="{{characteristic.value}}">
            <input type="text" name="data.characteristics.{{key}}.formula" value="{{characteristic.formula}}">
          {{else}}
            <div class="value characteristic contextmenu" data-characteristic-roll>{{characteristic.value}}</div>
          {{/if}}
        </div>
        {{/each}}
      </div>
      <div class="thirdline">
        {{#if baseStrikeRank includeZero=true}}
          <div>
            <div class="norse text-center">{{localize "RQG.Actor.Attributes.StrikeRank"}} <span class="large-font">{{baseStrikeRank}}</span></div>
            <div class="flex-row">
              {{#if characterData.attributes.sizStrikeRank includeZero=true}}<span class="norse text-center">{{localize "RQG.Actor.Attributes.SizeAbbr"}} {{characterData.attributes.sizStrikeRank}}</span>{{/if}}
              {{#if characterData.attributes.dexStrikeRank includeZero=true}}<span class="norse text-center">{{localize "RQG.Actor.Attributes.DexterityAbbr"}} {{characterData.attributes.dexStrikeRank}}</span>{{/if}}
            </div>
          </div>
        {{/if}}
        <div>
          <label class="flex-row flex-align-center">
            <span>{{localize "RQG.Actor.Attributes.MagicPoints"}}</span>
            <span class="nowrap">
              <input type="number" min="0" max="99" name="data.attributes.magicPoints.value" value="{{characterData.attributes.magicPoints.value}}" size="2"
              > / {{characterData.attributes.magicPoints.max}}
            </span>
          </label>
          <i class="norse flex-row flex-align-center">{{#each powCrystals}}<span class="mp-ellipses">{{name}}</span> {{size}}&nbsp;MP<br>{{/each}}</i>
          {{#if isGM}}
            <label><input type="checkbox" name="data.attributes.isCreature" {{checked characterData.attributes.isCreature}}>Is Creature</label>
          {{/if}}
        </div>
        <fieldset class="mov-enc">
          <legend>{{localize (concat "RQG.Actor.Attributes.MoveMode." characterData.attributes.move.currentLocomotion)}}</legend>
          <div class="flex-column">
            {{#if (or isGM characterData.attributes.move.walk.value)}}
              <label class="nowrap"><input type="radio" name="data.attributes.move.currentLocomotion" value="walk" {{checked (eq "walk" characterData.attributes.move.currentLocomotion)}}> <i class="fas fa-walking "></i></label>
            {{/if}}
            {{#if (or isGM characterData.attributes.move.swim.value)}}
              <label class="nowrap"><input type="radio" name="data.attributes.move.currentLocomotion" value="swim" {{checked (eq "swim" characterData.attributes.move.currentLocomotion)}}> <i class="fas fa-swimmer fa-flip-horizontal"></i></label>
            {{/if}}
            {{#if (or isGM characterData.attributes.move.fly.value)}}
              <label class="nowrap"><input type="radio" name="data.attributes.move.currentLocomotion" value="fly" {{checked (eq "fly" characterData.attributes.move.currentLocomotion)}}> <i class="fas fa-dove"></i></label>
            {{/if}}
          </div>
        {{#if characterData.attributes.encumbrance.max}}
          <div>
            <div class="norse nowrap">{{localize "RQG.Actor.Attributes.MovementAbbr"}} <img class="equipped-status" src="systems/rqg/assets/images/equipped/equipped.svg"> {{localize "RQG.Actor.Attributes.EncumbranceAbbr"}}</div>
            <div class="flex-row nowrap {{#if (gt characterData.attributes.encumbrance.equipped characterData.attributes.encumbrance.max)}}warning{{/if}}">
              <span>{{characterData.attributes.move.equipped}}</span> • <span>{{characterData.attributes.encumbrance.equipped}} / {{characterData.attributes.encumbrance.max}}</span>
            </div>
          </div>
        {{/if}}
        {{#if characterData.attributes.encumbrance.max}}
          <div>
            <div class="norse nowrap">{{localize "RQG.Actor.Attributes.MovementAbbr"}} <img class="equipped-status" src="systems/rqg/assets/images/equipped/carried.svg"> ENC</div>
            <div class="flex-row nowrap {{#if (gt characterData.attributes.encumbrance.travel characterData.attributes.encumbrance.max)}}warning{{/if}}">
              <span>{{characterData.attributes.move.travel}}</span> • <span>{{characterData.attributes.encumbrance.travel}} / {{characterData.attributes.encumbrance.max}}</span>
            </div>
          </div>
        {{/if}}
        <div>
        <div class="norse">{{localize "RQG.Actor.Attributes.MovementAbbr"}}</div>
        {{#if isGM}}
          {{#with (lookup characterData.attributes.move characterData.attributes.move.currentLocomotion) }}
            <div class="text-center"><input type="number" min="0" max="99" name="{{concat 'data.attributes.move.' @root.characterData.attributes.move.currentLocomotion '.value'}}" value="{{value}}" size="2"></div>
          {{/with}}
        {{else}}
          <div class="text-center">{{characterData.attributes.move.value}}</div>
        {{/if}}
      </div>
        {{#if characterData.attributes.encumbrance.max}}
        {{#if isGM}}
          <div>
            <div class="norse">{{localize "RQG.Actor.Attributes.EncumbranceFactor"}}</div>
              {{#with (lookup characterData.attributes.move characterData.attributes.move.currentLocomotion) }}
                <div class="text-center"><input type="number" min="0" max="99" name="{{concat 'data.attributes.move.' @root.characterData.attributes.move.currentLocomotion '.carryingFactor'}}" value="{{carryingFactor}}" size="2"></div>
              {{/with}}
          </div>
        {{/if}}
        {{/if}}

        </fieldset>
        {{#if isPC}}
          <div>
            <div class="norse">{{localize "RQG.Actor.Attributes.HeroPoints"}}</div>
            {{#if isGM}}
              <div class="text-center"><input type="number" min="0" max="99" name="data.attributes.heroPoints" value="{{characterData.attributes.heroPoints}}" size="2"></div>
            {{else}}
              <div class="text-center">{{characterData.attributes.heroPoints}}</div>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  </header>

  <div class="navbackground"></div>
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item norse" data-group="primary" data-tab="combat">{{localize "RQG.Actor.Nav.Combat"}}</a>
    {{#if showUiSection.runes}}<a class="item norse" data-group="primary" data-tab="runes">{{localize "RQG.Actor.Nav.Runes"}}</a>{{/if}}
    {{#if showUiSection.spiritMagic}}<a class="item norse" data-group="primary" data-tab="spiritmagic">{{localize "RQG.Actor.Nav.SpiritMagic"}}</a>{{/if}}
    {{#if showUiSection.runeMagic}}<a class="item norse" data-group="primary" data-tab="runemagic">{{localize "RQG.Actor.Nav.RuneMagic"}}</a>{{/if}}
    {{#if showUiSection.sorcery}}<a class="item norse" data-group="primary" data-tab="sorcery">{{localize "RQG.Actor.Nav.Sorcery"}}</a>{{/if}}
    {{#if showUiSection.skills}}<a class="item norse" data-group="primary" data-tab="skills">{{localize "RQG.Actor.Nav.Skills"}}</a>{{/if}}
    {{#if showUiSection.gear}}<a class="item norse" data-group="primary" data-tab="gear">{{localize "RQG.Actor.Nav.Gear"}}</a>{{/if}}
    {{#if showUiSection.passions}}<a class="item norse" data-group="primary" data-tab="passions">{{localize "RQG.Actor.Nav.Passions"}}</a>{{/if}}
    {{#if showUiSection.background}}<a class="item norse" data-group="primary" data-tab="background">{{localize "RQG.Actor.Nav.Background"}}</a>{{/if}}
    {{#if showUiSection.activeEffects}}<a class="item norse" data-group="primary" data-tab="activeeffectstesting">{{localize "RQG.Actor.Nav.ActiveEffects"}}</a>{{/if}}
  </nav>

  <section class="sheet-body">
    <div class="tab combat" data-group="primary" data-tab="combat">
      <div class="flex-row flex-wrap">
        <div>
          {{#if showUiSection.health}}{{> "systems/rqg/actors/sheet-parts/health.hbs" }}<br>{{/if}}
          {{> "systems/rqg/actors/sheet-parts/spirit-combat.hbs" }}
        </div>

        {{#if showUiSection.combat}}<div>{{> "systems/rqg/actors/sheet-parts/combat.hbs" }}</div>{{/if}}

        <div style="width: 100%">
          <h2>{{localize "RQG.Actor.Attributes.AlliesAndNotes"}}</h2>
          {{editor content=characterData.allies target="data.allies" button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>

    {{#if showUiSection.runes}}
      <div class="tab runes" data-group="primary" data-tab="runes">
        {{> "systems/rqg/actors/sheet-parts/runes-tab.hbs" }}
      </div>
    {{/if}}

    {{#if showUiSection.spiritMagic}}
      <div class="tab spiritmagic" data-group="primary" data-tab="spiritmagic">
        {{> "systems/rqg/actors/sheet-parts/spirit-magic-tab.hbs" }}
      </div>
    {{/if}}

    {{#if showUiSection.runeMagic}}
      <div class="tab runemagic" data-group="primary" data-tab="runemagic">
        {{> "systems/rqg/actors/sheet-parts/rune-magic-tab.hbs" }}
      </div>
    {{/if}}

    {{#if showUiSection.sorcery}}
      <div class="tab sorcery" data-group="primary" data-tab="sorcery">
        {{> "systems/rqg/actors/sheet-parts/sorcery-tab.hbs" }}
      </div>
    {{/if}}

    {{#if showUiSection.skills}}
      <div class="tab skills" data-group="primary" data-tab="skills">
        {{> "systems/rqg/actors/sheet-parts/skills-tab.hbs" }}
      </div>
    {{/if}}

    {{#if showUiSection.gear}}
      <div class="tab gear" data-group="primary" data-tab="gear">
        {{> "systems/rqg/actors/sheet-parts/gear-tab.hbs" }}
      </div>
    {{/if}}

    {{#if showUiSection.passions}}
      <div class="tab passions" data-group="primary" data-tab="passions">
        {{> "systems/rqg/actors/sheet-parts/passions-tab.hbs" }}
      </div>
    {{/if}}

    {{#if showUiSection.background}}
      <div class="tab background" data-group="primary" data-tab="background">
        {{> "systems/rqg/actors/sheet-parts/background-tab.hbs" }}
      </div>
    {{/if}}

    {{#if showUiSection.activeEffects}}
      <div class="tab activeeffectstesting" data-group="primary" data-tab="activeeffectstesting">
        {{> "systems/rqg/actors/sheet-parts/activeeffects-debug-tab.hbs" }}
      </div>
    {{/if}}
  </section>
</form>
