<form>
  <h1>{{spellName}}</h1>
  <div class="key-value-grid">
    <label>
      {{localize "RQG.Dialog.SpiritMagicRoll.LevelUsed"}}
    </label>
    <div>
      <input type="number" name="levelUsed" value={{object.levelUsed}}>
      {{localize "RQG.Actor.Attributes.MagicPoints"}}
    </div>

    <label>
      {{localize "RQG.Dialog.SpiritMagicRoll.Boost"}}
    </label>
    <div>
      <input type="number" name="boost" value={{object.boost}}>
      {{localize "RQG.Actor.Attributes.MagicPoints"}}
    </div>

    <label>
      {{localize "RQG.Dialog.SpiritMagicRoll.Augment"}}
    </label>
    <select name="augmentModifier">
      {{selectOptions augmentOptions selected=object.augmentModifier localize=true}}
    </select>

    <label>
      {{localize "RQG.Dialog.SpiritMagicRoll.Meditate"}}
    </label>
    <select name="meditateModifier">
      {{selectOptions meditateOptions selected=object.meditateModifier localize=true}}
    </select>

    <input type="text" style="text-align:end;font-weight:bold;" value="{{object.otherModifierDescription}}" name="otherModifierDescription">
    <div>
      <input type="number" value="{{object.otherModifier}}" name="otherModifier"> %
    </div>
  </div>
  <button data-spirit-magic-roll>{{localize "RQG.Dialog.Common.RollFormat" chance=totalChance}}</button>
</form>
