<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" data-tooltip="{{name}}" />

    <div class="flex-column gap03rem">
      <div class="property-line">

        <div class="label-above long">
          <label for="name-{{id}}">{{localize "RQG.Item.SpiritMagic.Name"}}</label>
          <input type="text" id="name-{{id}}" name="name" value="{{name}}" />
        </div>

        <div class="label-above parens short">
          <label for="points-{{id}}">{{localize "RQG.Item.SpiritMagic.Points"}}</label>
          <div>
            ( <input type="number"
                     id="points-{{id}}"
                     name="system.points"
                     value="{{system.points}}"
          > )
          </div>
        </div>

      </div>

      {{> rqidLinkDropzone
        rqidLink=system.descriptionRqidLink
        dropzoneData="descriptionRqidLink"
        dropDocumentNames="JournalEntry, JournalEntryPage"
        showDeleteFromPropertyName="descriptionRqidLink"
        showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
      }}
    </div>
  </header>

  <main>

    {{! Sheet Tab Navigation }}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="spirit-magic">{{localize "RQG.Item.SheetTab.SpiritMagic"}}</a>
      {{#if isGM}}
        <a class="item" data-tab="active-effects">{{localize "RQG.Item.SheetTab.ActiveEffects"}}</a>
      {{/if}}
    </nav>

    <section class="sheet-body">
      {{! Spirit Magic Tab }}
      <div class="tab" data-group="primary" data-tab="spirit-magic">

        <div class="key-value-grid">

          <label for="is-variable-{{id}}">{{localize "RQG.Item.SpiritMagic.Variable"}}</label>
          <input type="checkbox" id="is-variable-{{id}}" name="system.isVariable" {{checked system.isVariable}}>

          <label for="range-{{id}}" class="mp">{{localize "RQG.Item.SpiritMagic.Range"}}</label>
          <select id="range-{{id}}" name="system.castingRange">
            {{#select system.castingRange}}
              {{#each ranges}}
                <option value="{{this}}">{{localize (concat "RQG.Item.Spell.RangeEnum." this)}}</option>
              {{/each}}
            {{/select}}
          </select>

          <label for="duration-{{id}}" class="mp">{{localize "RQG.Item.SpiritMagic.Duration"}}</label>
          <select id="duration-{{id}}" name="system.duration">
            {{#select system.duration}}
              {{#each durations}}
                <option value="{{this}}">{{localize (concat "RQG.Item.Spell.DurationEnum." this)}}</option>
              {{/each}}
            {{/select}}
          </select>

          {{#if (eq system.duration "temporal")}}
            <label for="concentration-{{id}}" class="mp">{{localize "RQG.Item.SpiritMagic.Concentration"}}</label>
            <select id="concentration-{{id}}" name="system.concentration">
              {{#select system.concentration}}
                {{#each types}}
                  <option value="{{this}}">{{localize (concat "RQG.Item.Spell.ConcentrationEnum." this)}}</option>
                {{/each}}
              {{/select}}
            </select>
          {{/if}}

          <label for="is-ritual-{{id}}">{{localize "RQG.Item.Spell.Ritual"}}</label>
          <input type="checkbox" id="is-ritual-{{id}}" name="system.isRitual" {{checked system.isRitual}}>

          <label for="is-enchantment-{{id}}">{{localize "RQG.Item.Spell.Enchantment"}}</label>
          <input type="checkbox" id="is-enchantment-{{id}}" name="system.isEnchantment" {{checked system.isEnchantment}}>

          <label for="is-matrix-{{id}}">{{localize "RQG.Item.SpiritMagic.MatrixQ"}}</label>
          <input type="checkbox" id="is-matrix-{{id}}" name="system.isMatrix" {{checked system.isMatrix}}>


          <label for="spell-focus-{{id}}">{{localize "RQG.Item.SpiritMagic.SpellFocus"}}</label>
          <input type="text" id="spell-focus-{{id}}" name="system.spellFocus" value="{{system.spellFocus}}">
        </div>
      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab" data-group="primary" data-tab="active-effects">
        {{> itemActiveEffects}}
      </div>

    </section>
  </main>

</form>
