<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{data.img}}"
      data-edit="img"
      title="{{data.name}}"
    />
    <input type="text" name="name" value="{{data.name}}"> (<input type="number" name="data.points" value="{{spiritMagicData.points}}">)
    <label><input type="checkbox" name="data.isVariable" {{checked spiritMagicData.isVariable}}>{{localize "RQG.Item.SpiritMagic.VariableQ"}}</label>
  </header>
  <main>
    <div class="flex-row-start">
      <span>{{localize "RQG.Item.SpiritMagic.Range"}}<br>
        <select name="data.castingRange">
          {{#select spiritMagicData.castingRange}} {{#each sheetSpecific.ranges}}
          <option value="{{this}}">{{localize (concat "RQG.Item.SpiritMagic.RangeEnum." this)}}</option>
          {{/each}} {{/select}}
        </select>
      </span>
      <span>{{localize "RQG.Item.SpiritMagic.Duration"}}<br>
        <select name="data.duration">
          {{#select spiritMagicData.duration}} {{#each sheetSpecific.durations}}
          <option value="{{this}}">{{localize (concat "RQG.Item.SpiritMagic.DurationEnum." this)}}</option>
          {{/each}} {{/select}}
        </select>
      </span>
      {{#if (eq spiritMagicData.duration "temporal")}}
      <span>{{localize "RQG.Item.SpiritMagic.Concentration"}}<br>
        <select name="data.concentration">
          {{#select spiritMagicData.concentration}} {{#each sheetSpecific.types}}
          <option value="{{this}}">{{localize (concat "RQG.Item.SpiritMagic.ConcentrationEnum." this)}}</option>
          {{/each}} {{/select}}
        </select>
      </span>
      {{/if}}
      {{#if (eq spiritMagicData.duration "focused")}}
      <span>{{localize "RQG.Item.SpiritMagic.Concentration"}}<br>
        <input type="text" name="data.concentration" value="active" readonly>
      </span>
      {{/if}}
      {{#unless (eq spiritMagicData.duration "temporal")}}
      {{#unless (eq item.data.duration "focused")}}
        <input type="text" name="data.concentration" value="" hidden>
      {{/unless}}
      {{/unless}}
      <span>
        <label><input type="checkbox" name="data.isRitual" {{checked spiritMagicData.isRitual}}>{{localize "RQG.Item.SpiritMagic.RitualQ"}}</label><br>
        <label><input type="checkbox" name="data.isEnchantment" {{checked spiritMagicData.isEnchantment}}>{{localize "RQG.Item.SpiritMagic.EnchantmentQ"}}</label><br>
        <label><input type="checkbox" name="data.isMatrix" {{checked spiritMagicData.isMatrix}}>{{localize "RQG.Item.SpiritMagic.MatrixQ"}}</label>
      </span>
    </div>
  </main>
  <label>{{localize "RQG.Item.SpiritMagic.SpellFocus"}} <input type="text" name="data.spellFocus" value="{{spiritMagicData.spellFocus}}"></label><br>
  <div class="item-sheet-journal-link">
    {{#if spiritMagicData.journalPack}}
        <a class="entity-link content-link"
          data-pack="{{spiritMagicData.journalPack}}" 
          data-id="{{spiritMagicData.journalId}}"
          title="{{localize "RQG.Foundry.ContentLink.CompendiumNameTitle" compendiumName=spiritMagicData.journalPack}}">
          <i class="fas fa-book-open"></i> {{sheetSpecific.journalEntryName}}
        </a>
        <p><i>{{localize "RQG.Foundry.ContentLink.DropToReplaceJournal"}}</i></p>
    {{else if spiritMagicData.journalId}}
        <a class="entity-link content-link" 
          data-type="JournalEntry" 
          data-id="{{spiritMagicData.journalId}}"
          title="{{localize "RQG.Foundry.ContentLink.WorldJournalEntry"}}">
          <i class="fas fa-book-open"></i> {{sheetSpecific.journalEntryName}}
        </a>
        <p><i>{{localize "RQG.Foundry.ContentLink.DropToReplaceJournal"}}</i></p>
    {{else}}
        <p><i>{{localize "RQG.Foundry.ContentLink.DropToConnectJournal"}}</i></p>
    {{/if}}   
  </div>


  <br>{{> "systems/rqg/items/sheet-parts/itemActiveEffects.hbs"}}
</form>
