<header class="item-sheet-header">
  <img src="{{img}}" data-edit="img" data-tooltip="{{name}}" />
  <div class="label-above">
    <label for="name-{{id}}">{{localize "RQG.Item.Weapon.Name"}}</label>
    <input id="name-{{id}}" type="text" name="name" value="{{name}}">
  </div>
</header>
