<div class="dice-roll">
  <div class="dice-result">
    <div>{{{heading}}}</div>
    <div class="dice-total success-level-{{successLevel}}">
      {{#if successLevelText}}
        <div class="outcome">{{successLevelText}}</div>
      {{/if}}
      <div data-tooltip="1d100"><i class="fa-solid fa-dice"></i>{{total}}</div>
      {{#if target includeZero=true}}
        <div class="target" data-only-owner-visible-uuid="{{speakerUuid}}"><i class="fa-solid fa-bullseye"></i> {{target}}%</div>
      {{/if}}
    </div>
  </div>
  {{{tooltip}}}
</div>
