{{#if enrichedUnspecifiedSkill}}<div class="specialization warning">{{{enrichedUnspecifiedSkill}}}</div>{{/if}}
<div class="masonry">
  {{#each embeddedItems.skill}} {{#if this}}
  <div class="masonry-item">
    <h2>{{localize (concat 'RQG.Actor.Skill.SkillCategory.' @key)}}
      {{#unless ../wizard}}
        ({{#with @root.system.skillCategoryModifiers}}{{lookup this @key}}{{/with}})
      {{/unless}}
    </h2>
    <div class="grid 
                {{#edit-mode ../system.editMode "all"}}
                  skill-edit-mode
                {{else}}
                  {{#if ../../wizard}}
                    skill-select
                  {{else}}
                    skill
                  {{/if}}                
                {{/edit-mode}} 
                item-list">
      {{#each this}}
        {{#unless system.runeRqidLinks}} {{!-- filter out sorcery skills --}}
          {{> actorSkillsGrid
            skill=this
            wizard=../../wizard
            forChoice=../../forChoice
            checkedProperty=../../checkedProperty
            asBonus=../../asBonus
            editMode=../../system.editMode}}
        {{/unless}}
      {{/each}}
    </div>
  </div>
  {{/if}} {{/each}}
</div>
