<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" data-tooltip="{{name}}">

    <div class="flex-column gap03rem">
      <div class="property-line">

        <div class="label-above long">
          <label for="rune-{{id}}">{{localize "RQG.Item.Rune.Name"}}</label>
          <input type="text" id="rune-{{id}}" name="system.rune" value="{{system.rune}}" />
        </div>

        <div class="label-above parens">
          <label for="rune-type-{{id}}">{{localize "RQG.Item.Rune.Type"}}</label>
          <div>
            (
            <select id="rune-type-{{id}}" name="system.runeType">
              {{#select system.runeType}}
                {{#each runeTypes}}
                  <option value="{{this}}">{{localize
                    (concat "RQG.Item.Rune.RuneType." this)
                  }}</option>
                {{/each}}
              {{/select}}
            </select>
            )
          </div>
        </div>
      </div>

      {{> "systems/rqg/items/sheet-parts/rqidLinkDropzone.hbs"
        rqidLink=system.descriptionRqidLink
        dropzoneData="descriptionRqidLink"
        dropDocumentNames="JournalEntry, JournalEntryPage"
        showDeleteFromPropertyName="descriptionRqidLink"
        showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
      }}
    </div>
  </header>

  <main>
    {{! Sheet Tab Navigation }}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="rune">{{localize "RQG.Item.SheetTab.Rune"}}</a>
    </nav>

    <section class="sheet-body">
      {{! Rune Tab }}
      <div class="tab" data-group="primary" data-tab="rune">

        <div class="key-value-grid">

          <label for="chance-{{id}}">{{localize "RQG.Item.Rune.PercentageChance"}}</label>
          <div>
            <input
              id="chance-{{id}}"
              name="system.chance"
              value="{{system.chance}}"
              type="number"
              min="0"
              max="999"
              class="{{experiencedclass uuid}}"
            > %
          </div>

          <label for="has-experience-{{id}}">{{localize "RQG.Item.Rune.HasExperienceQ"}}</label>
          <input
            id="has-experience-{{id}}"
            name="system.hasExperience"
            {{checked system.hasExperience}}
            type="checkbox"
          >

          <label for="opposing-rune-{{id}}">{{localize "RQG.Item.Rune.OpposingRune"}}</label>
          <div class="img-name-grid">
            <img class="rune" src="{{runeImg system.opposingRune}}" data-tooltip="{{system.opposingRune}}" />
            <input
              id="opposing-rune-{{id}}"
              name="system.opposingRune"
              value="{{system.opposingRune}}"
              type="text"
              list="allRunes"
            >
          </div>

          <label for="is-mastered-{{id}}">{{localize "RQG.Item.Rune.MasteredSorceryQ"}}</label>
          <input
            id="is-mastered-{{id}}"
            name="system.isMastered"
            {{checked system.isMastered}}
            type="checkbox"
          >

          <label for="minor-runes-{{id}}">{{localize "RQG.Item.Rune.MinorRunes"}}</label>
          <div class="img-name-grid bordered">
            {{#each system.minorRunes}}
              <img class="rune" src="{{runeImg this}}" data-tooltip="{{this}}">
              <input type="text" name="system.minorRunes" value="{{this}}">
            {{/each}}
            <input
              id="minor-runes-{{id}}"
              name="system.minorRunes"
              type="text"
              placeholder="{{localize "RQG.Item.RuneMagic.AddNewRunePlaceholder"}}" {{!-- TODO RuneMagic translation --}}
              list="allRunes"
              style="grid-column: 1 / span 2;"
            >
          </div>
        </div>
      </div>
    </section>
  </main>

  <datalist id="allRunes">
    {{#each allRunes}}
      <option value="{{name}}">{{name}}</option>
    {{/each}}
  </datalist>
</form>
