<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" data-tooltip="{{name}}">

    <div class="flex-column gap03rem">
      <div class="property-line">

        <div class="label-above long">
          <label for="rune-{{id}}">{{localize "RQG.Item.Rune.Name"}}</label>
          <input type="text" id="rune-{{id}}" name="system.rune" value="{{system.rune}}" />
        </div>

        <div class="label-above parens">
          <label for="rune-type-{{id}}">{{localize "RQG.Item.Rune.Type"}}</label>
          <div>
            (
            <select id="rune-type-{{id}}" name="system.runeType">
              {{#select system.runeType}}
                {{#each runeTypes}}
                  <option value="{{this}}">{{localize
                    (concat "RQG.Item.Rune.RuneType." this)
                  }}</option>
                {{/each}}
              {{/select}}
            </select>
            )
          </div>
        </div>
      </div>

      {{> "systems/rqg/items/sheet-parts/rqidLinkDropzone.hbs"
        rqidLink=system.descriptionRqidLink
        dropzoneData="descriptionRqidLink"
        dropDocumentNames="JournalEntry, JournalEntryPage"
        showDeleteFromPropertyName="descriptionRqidLink"
        showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
      }}
    </div>
  </header>

  <main>
    {{! Sheet Tab Navigation }}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      <a class="item" data-tab="rune">{{localize "RQG.Item.SheetTab.Rune"}}</a>
    </nav>

    <section class="sheet-body">
      {{! Rune Tab }}
      <div class="tab" data-group="primary" data-tab="rune">

        <div class="key-value-grid">

          <label for="chance-{{id}}">{{localize "RQG.Item.Rune.PercentageChance"}}</label>
          <div>
            <input
              id="chance-{{id}}"
              name="system.chance"
              value="{{system.chance}}"
              type="number"
              min="0"
              max="999"
              class="{{experiencedclass uuid}}"
            > %
          </div>

          <label for="has-experience-{{id}}">{{localize "RQG.Item.Rune.HasExperienceQ"}}</label>
          <input
            id="has-experience-{{id}}"
            name="system.hasExperience"
            {{checked system.hasExperience}}
            type="checkbox"
          >

          <label for="opposing-rune-{{id}}">{{localize "RQG.Item.Rune.OpposingRune"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkDropzone.hbs"
            rqidLink=system.opposingRuneRqidLink
            dropzoneData="opposingRuneRqidLink"
            dropDocumentNames="Item"
            dropDocumentTypes="rune"
            showDeleteFromPropertyName="opposingRuneRqidLink"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectRune"
            showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceRune"
          }}



          <label for="is-mastered-{{id}}">{{localize "RQG.Item.Rune.MasteredSorceryQ"}}</label>
          <input
            id="is-mastered-{{id}}"
            name="system.isMastered"
            {{checked system.isMastered}}
            type="checkbox"
          >

          <label for="minor-runes-{{id}}">{{localize "RQG.Item.Rune.MinorRunes"}}</label>
          {{> "systems/rqg/items/sheet-parts/rqidLinkArrayDropzone.hbs"
            rqidLinkArray=system.minorRuneRqidLinks
            dropzoneData="minorRuneRqidLinks"
            dropDocumentNames="Item"
            dropDocumentTypes="rune"
            showDeleteFromPropertyName="minorRuneRqidLinks"
            showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectRune"
          }}


        </div>
      </div>
    </section>
  </main>

  <datalist id="allRunes">
    {{#each allRunes}}
      <option value="{{name}}">{{name}}</option>
    {{/each}}
  </datalist>
</form>
