<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
            class="profile-img"
            src="{{data.img}}"
            data-edit="img"
            title="{{data.name}}"
    />

    <fieldset>
      <legend>{{localize "RQG.Item.Rune.Name"}}</legend>
      <label>{{localize "RQG.Item.Rune.Rune"}}<br><input type="text" name="data.rune" value="{{runeData.rune}}"></label>
      <label class="paren-head">{{localize "RQG.Item.Rune.Type"}}<br>( <select name="data.runeType">
        {{#select runeData.runeType}} {{#each sheetSpecific.runeTypes}}
        <option value="{{this}}">{{localize (concat "RQG.Item.Rune.RuneType." this)}}</option>
        {{/each}} {{/select}}
      </select> )</label>
    </fieldset>
  </header>
  <section class="sheet-body">
    <label><input type="number" min="0" max="999" name="data.chance" value="{{runeData.chance}}"/>%</label>
    <label><input type="checkbox" name="data.hasExperience" {{checked runeData.hasExperience}} />{{localize "RQG.Item.Rune.HasExperienceQ"}}</label>

    <div class="wide-section">
      <label>{{localize "RQG.Item.Rune.OpposingRune"}} <img class="rune" src="{{runeImg runeData.opposingRune}}" title="{{runeData.opposingRune}}"><input type="text" name="data.opposingRune" value="{{runeData.opposingRune}}" list="allRunes"/></label>
      <div>{{localize "RQG.Item.Rune.MinorRunes"}}<br>
        {{#each runeData.minorRunes}}
        <span><img class="rune" src="{{runeImg this}}" title="{{this}}"><input name="data.minorRunes" type="text" value="{{this}}"> </span>
        {{/each}}
        <input name="data.minorRunes" type="text" list="allRunes" placeholder="Add new minor rune"><br>
      </div>
      <label><input type="checkbox" name="data.isMastered" {{checked runeData.isMastered}}>{{localize "RQG.Item.Rune.MasteredSorceryQ"}}</label><br>
    </div>
    <div class="item-sheet-journal-link">
      {{#if runeData.journalPack}}
          <a class="entity-link content-link"
            data-pack="{{runeData.journalPack}}" 
            data-id="{{runeData.journalId}}"
            title="{{localize "RQG.Foundry.ContentLink.CompendiumNameTitle" compendiumName=runeData.journalPack}}">
            <i class="fas fa-book-open"></i> {{sheetSpecific.journalEntryName}}
          </a>
          <p><i>{{localize "RQG.Foundry.ContentLink.DropToReplaceJournal"}}</i></p>
      {{else if runeData.journalId}}
          <a class="entity-link content-link" 
            data-type="JournalEntry" 
            data-id="{{runeData.journalId}}"
            title="{{localize "RQG.Foundry.ContentLink.WorldJournalEntry"}}">
            <i class="fas fa-book-open"></i> {{sheetSpecific.journalEntryName}}
          </a>
          <p><i>{{localize "RQG.Foundry.ContentLink.DropToReplaceJournal"}}</i></p>
      {{else}}
          <p><i>{{localize "RQG.Foundry.ContentLink.DropToConnectJournal"}}</i></p>
      {{/if}}   
    </div>    
  </section>
  <datalist id="allRunes">
    {{#each sheetSpecific.allRunes}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
  </datalist>
</form>
