<div class="dice-tooltip">
  <div class="text-left">{{magicPointCostText}}</div>
  <b>{{powX5}}</b><sub><i>{{localize "RQG.Roll.SpiritMagicRoll.Base"}}</i></sub>
  {{#each modifiers}}
    <b>{{value}}</b><sub><i>{{description}}</i></sub>
  {{/each}}
</div>

