<form>
    <h1>{{localize "DIALOG.improveSkillDialog.improvementTypeQ"}}</h1>
    <div style="display: flex;">
        {{#if skill.data.hasExperience}}
        <div class="experience" style="margin-bottom: 10px; padding: 5px; flex: 1;">
            <h2>{{localize "DIALOG.improveSkillDialog.fromExperience"}}</h2>
            <p>{{localize "DIALOG.improveSkillDialog.chanceToGain" chanceToGain=chanceToGain}}</p>
            <label>
                <input type="radio" name="experiencegaintype" class="improvement-type-checkbox" value="experience3">
                {{localize "DIALOG.improveSkillDialog.experiencGainFixed"}}
            </label>
            <label>
                <input type="radio" name="experiencegaintype" class="improvement-type-checkbox" value="experience1d6">
                {{localize "DIALOG.improveSkillDialog.experiencGainRandom"}}
            </label>
        </div>
        {{else}}
        <div class="experience" style="margin-bottom: 10px; padding: 5px; flex: 1;">
            <h2>{{localize "DIALOG.improveSkillDialog.noExperienceCheckTitle"}}</h2>
            <p>{{localize "DIALOG.improveSkillDialog.noExperienceCheckExplanation"}}</p>
        </div>
        {{/if}}
        {{#if skill.data.hideTraining}}
        <div class="training" style="margin-bottom: 10px; padding: 5px; flex: 1;">
            <h2>{{localize "DIALOG.improveSkillDialog.skillOver75Title"}}</h2>
            <p>{{localize "DIALOG.improveSkillDialog.skillOver75Explanation"}}</p>
        </div>
        {{else}}
        <div class="training" style="margin-bottom: 10px; padding: 5px; flex: 1;">
            <h2>{{localize "DIALOG.improveSkillDialog.throughTraining"}}</h2>
            <p>{{localize "DIALOG.improveSkillDialog.afterTraining"}}</p>
            <label>
                <input type="radio" name="experiencegaintype" class="improvement-type-checkbox" value="training2">
                {{localize "DIALOG.improveSkillDialog.trainingGainFixed"}}
            </label>
            <label>
                <input type="radio" name="experiencegaintype" class="improvement-type-checkbox"
                    value="training1d6minus1"> {{localize "DIALOG.improveSkillDialog.trainingGainrandom"}}
            </label>
        </div>
    </div>
    {{/if}}
</form>