<form class="{{cssClass}}" autocomplete="off">
  <header class="item-sheet-header">

    <div class="item-sheet-header-img">
      <img src="{{data.img}}" data-edit="img" title="{{data.name}}" />
    </div>

    <div class="name-parts-2">
      <div>
        <label for="name-{{data._id}}">{{localize "RQG.Item.Skill.Name"}}</label>
        <input type="text" id="name-{{data._id}}" name="data.skillName" value="{{skillData.skillName}}">
      </div>

      <div class="paren-head">
        <label for="specialization-{{data._id}}">{{localize "RQG.Item.Skill.Specialization"}}</label>
        <div>
          ( <input type="text" id="specialization-{{data._id}}" name="data.specialization" value="{{skillData.specialization}}"> )
        </div>
      </div>
    </div>

    {{> "systems/rqg/items/sheet-parts/rqidLinkTarget.hbs"
        rqidLink=skillData.descriptionRqidLink
        parentField="descriptionRqidLink"
        dropTypes="JournalEntry"
        showDeleteFromPropertyName="descriptionRqidLink"
        showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
    }}

  </header>

  <main>
    {{! Sheet Tab Navigation }}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      {{#if isEmbedded}}
      <a class="item" data-tab="skill">{{localize "RQG.Item.SheetTab.Skill"}}</a>
      {{/if}}
      {{#if isGM}}
      <a class="item" data-tab="skill-definition">{{localize "RQG.Item.SheetTab.SkillDefinition"}}</a>
      {{#unless isEmbedded}}
      <a class="item" data-tab="active-effects">{{localize "RQG.Item.SheetTab.ActiveEffects"}}</a>
      {{/unless}}
      {{/if}}
    </nav>

    <section class="sheet-body">
      {{! Skill Tab }}
      <div class="tab" data-group="primary" data-tab="skill">

        <div class="skill-sheet-grid">

          <label>{{localize "RQG.Item.Skill.Chance"}}</label>
          &nbsp;
          <label for="gained-chance-{{data._id}}">{{localize "RQG.Item.Skill.GainedChance"}}</label>
          <label>{{localize "RQG.Item.Skill.CategoryModifier" category=(localize (concat 'RQG.Actor.Skill.SkillCategory.' skillData.category) ) }}</label>
          <label for="base-chance-{{data._id}}">{{localize "RQG.Item.Skill.BaseChance"}}</label>

          <span class="skill {{#if skillData.hasExperience}}experienced{{/if}}">
            {{skillData.chance}}%
            {{#if skillData.canGetExperience}}
            <input
              type="checkbox"
              id="has-experience-{{data._id}}"
              name="data.hasExperience"
              title="{{localize 'RQG.Item.Skill.HasExperienceQ'}}"
              {{checked skillData.hasExperience}}>
            {{/if}}
          </span>
          =
          <input
            type="number"
            id="gained-chance-{{data._id}}"
            name="data.gainedChance"
            min="0"
            max="999"
            value="{{skillData.gainedChance}}">
          <span>{{skillData.categoryMod}}</span>
          <span>{{skillData.baseChance}}</span>
        </div>
      </div>

      {{!-- Skill Definition Tab --}}
      <div class="tab" data-group="primary" data-tab="skill-definition">

        <div class="item-sheet-properties">

          <label for="category-{{data._id}}">{{localize "RQG.Item.Skill.Category"}}</label>
          <select id="category-{{data._id}}" name="data.category" >
          {{#select skillData.category}}
          {{#each sheetSpecific.skillCategories}}
            <option value="{{this}}">{{localize (concat 'RQG.Actor.Skill.SkillCategory.' this)}}</option>
          {{/each}}
          {{/select}}
          </select>

          <label for="base-chance-{{data._id}}">{{localize "RQG.Item.Skill.BaseChance"}}</label>
          <input
            type="number"
            id="base-chance-{{data._id}}"
            name="data.baseChance"
            min="0"
            max="999"
            value="{{skillData.baseChance}}">

          <label for="can-gain-experience-{{data._id}}">{{localize "RQG.Item.Skill.CanGainExperienceQ"}}</label>
          <input type="checkbox" id="is-ritual-{{data._id}}" name="data.canGetExperience" {{checked skillData.canGetExperience}}>


          <label for="runes-{{data._id}}">{{localize "RQG.Item.Skill.SorceryRunes"}}</label>
          <div class="rune-property rune-group">
            {{#each skillData.runes}}
            <img class="rune" src="{{runeImg this}}" title="{{this}}">
            <input type="text" name="data.runes" value="{{this}}">
            {{/each}}
            <input
              type="text"
              id="runes-{{data._id}}"
              name="data.runes" list="allRunes"
              placeholder="{{localize "RQG.Item.RuneMagic.AddNewRunePlaceholder"}}"
              style="grid-column: 1 / span 2;">
          </div>

        </div>

      </div>

      {{!-- Active Effects Tab --}}
      <div class="tab" data-group="primary" data-tab="active-effects">
        {{> "systems/rqg/items/sheet-parts/itemActiveEffects.hbs"}}

      </div>
    </section>

  </main>
  <datalist id="allRunes">
    {{#each sheetSpecific.allRunes}}
    <option value="{{name}}">{{name}}</option>
    {{/each}}
  </datalist>
</form>
