<form autocomplete="off">
  <header class="item-sheet-header">
    <img src="{{img}}" data-edit="img" data-tooltip="{{name}}" />

    <div class="flex-column gap03rem">
      <div class="property-line">

        <div class="label-above">
          <label for="name-{{id}}">{{localize "RQG.Item.Skill.Name"}}</label>
          <input type="text" id="name-{{id}}" name="system.skillName" value="{{system.skillName}}">
        </div>

        <div class="label-above parens">
          <label for="specialization-{{id}}">{{localize "RQG.Item.Skill.Specialization"}}</label>
          <div>
            ( <input
                id="specialization-{{id}}"
                name="system.specialization"
                value="{{system.specialization}}"
                type="text"
          > )
          </div>
        </div>
      </div>

      {{> "systems/rqg/items/sheet-parts/rqidLinkDropzone.hbs"
        rqidLink=system.descriptionRqidLink
        dropzoneData="descriptionRqidLink"
        dropDocumentName="JournalEntry"
        showDeleteFromPropertyName="descriptionRqidLink"
        showInfoCircleConnect="RQG.Item.RqgItem.ShowInfoCircle.DropToConnectJournal"
        showInfoCircleReplace="RQG.Item.RqgItem.ShowInfoCircle.DropToReplaceJournal"
      }}
    </div>
  </header>

  <main>
    {{! Sheet Tab Navigation }}
    <nav class="item-sheet-nav-tabs" data-group="primary">
      {{#if isEmbedded}}
        <a class="item" data-tab="skill">{{localize "RQG.Item.SheetTab.Skill"}}</a>
      {{/if}}
      {{#if isGM}}
        <a class="item" data-tab="skill-definition">{{localize "RQG.Item.SheetTab.SkillDefinition"}}</a>
      {{/if}}
    </nav>

    <section class="sheet-body">
      {{! Skill Tab }}
      <div class="tab" data-group="primary" data-tab="skill">

        <div class="skill-sheet-grid">

          <label>{{localize "RQG.Item.Skill.Chance"}}</label>
          &nbsp;
          <label for="gained-chance-{{id}}">{{localize "RQG.Item.Skill.GainedChance"}}</label>
          <label>{{localize "RQG.Item.Skill.CategoryModifier" category=(localize (concat 'RQG.Actor.Skill.SkillCategory.' system.category) ) }}</label>
          <label for="base-chance-{{id}}">{{localize "RQG.Item.Skill.BaseChance"}}</label>

          <span class="skill {{experiencedclass uuid}}">
            {{system.chance}}%
            {{#if system.canGetExperience}}
              <input
                id="has-experience-{{id}}"
                name="system.hasExperience"
                {{checked system.hasExperience}}
                type="checkbox"
                data-tooltip="{{localize 'RQG.Item.Skill.HasExperienceQ'}}"
              >
            {{/if}}
          </span>
          =
          <input
            type="number"
            id="gained-chance-{{id}}"
            name="system.gainedChance"
            min="0"
            max="999"
            value="{{system.gainedChance}}">
          <span>{{system.categoryMod}}</span>
          <span>{{system.baseChance}}</span>
        </div>
      </div>

      {{!-- Skill Definition Tab --}}
      <div class="tab" data-group="primary" data-tab="skill-definition">
        <div class="key-value-grid">

          <label for="category-{{id}}">{{localize "RQG.Item.Skill.Category"}}</label>
          <select id="category-{{id}}" name="system.category">
            {{#select system.category}}
              {{#each skillCategories}}
                <option value="{{this}}">{{localize (concat 'RQG.Actor.Skill.SkillCategory.' this)}}</option>
              {{/each}}
            {{/select}}
          </select>

          <label for="base-chance-{{id}}">{{localize "RQG.Item.Skill.BaseChance"}}</label>
          <input
            id="base-chance-{{id}}"
            name="system.baseChance"
            value="{{system.baseChance}}"
            type="number"
            min="0"
            max="999"
          >

          <label for="can-gain-experience-{{id}}">{{localize "RQG.Item.Skill.CanGainExperienceQ"}}</label>
          <input
            id="can-gain-experience-{{id}}"
            name="system.canGetExperience"
            {{checked system.canGetExperience}}
            type="checkbox"
          >

          <label for="runes-{{id}}">{{localize "RQG.Item.Skill.SorceryRunes"}}</label>
          <div class="img-name-grid bordered">
            {{#each system.runes}}
              <img class="rune" src="{{runeImg this}}" data-tooltip="{{this}}">
              <input type="text" name="system.runes" value="{{this}}">
            {{/each}}
            <input
              id="runes-{{id}}"
              name="system.runes"
              type="text"
              list="allRunes"
              placeholder="{{localize "RQG.Item.RuneMagic.AddNewRunePlaceholder"}}"
              style="grid-column: 1 / span 2;">
          </div>

        </div>
      </div>
    </section>
  </main>

  <datalist id="allRunes">
    {{#each allRunes}}
      <option value="{{name}}">{{name}}</option>
    {{/each}}
  </datalist>
</form>
