<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{data.img}}" data-edit="img" title="{{data.name}}"/>
    <fieldset>
      <legend>Name</legend>
      <label>Skill Name<br><input type="text" name="data.skillName" value="{{skillData.skillName}}"></label>
      <label><span class="paren-head">Specialization</span><br>( <input type="text" name="data.specialization" value="{{skillData.specialization}}"> )&nbsp;&nbsp;&nbsp;- </label>
      <label>Category<br><select name="data.category" >
        {{#select skillData.category}}
        {{#each sheetSpecific.skillCategories}}
          <option value="{{this}}">{{localize (concat 'RQG.SkillCategory.' this)}}</option>
        {{/each}}
      {{/select}}
      </select></label>
    </fieldset>
  </header>
  <main>

    <label>Category Modifier {{skillData.categoryMod}}</label><br>
    <label>Base Chance <input type="number" min="0" max="999" name="data.baseChance" value="{{skillData.baseChance}}"></label><br>
    <label>Learned Chance <input type="number" min="0" max="999" name="data.learnedChance" value="{{skillData.learnedChance}}"></label>
    <label>Chance {{skillData.chance}}</label><br>
    <label><input type="checkbox" name="data.canGetExperience" {{checked skillData.canGetExperience}}> Can get experience</label><br>
    <label><input type="checkbox" name="data.hasExperience" {{checked skillData.hasExperience}}> Has experience</label><br>
    Sorcery Runes:<br>
    {{#each skillData.runes}}
    <span><img class="rune" src="{{runeImg this}}" title="{{this}}"><input name="data.runes" type="text" value="{{this}}"> </span>
    {{/each}}
    <input name="data.runes" type="text" list="allRunes" placeholder="Add new rune"><br>
    <br>
    {{#if skillData.journalPack}}
      <a data-journal-pack="{{skillData.journalPack}}" data-journal-id="{{skillData.journalId}}">Linked to compendium [{{skillData.journalPack}}] journal Entry [{{sheetSpecific.journalEntryName}}]</a>
    {{else if skillData.journalId}}
      <a data-journal-pack="{{skillData.journalPack}}" data-journal-id="{{skillData.journalId}}">Linked to journal Entry [{{sheetSpecific.journalEntryName}}]</a>
    {{/if}}

    <br><i>Drop a journal on this item to connect a description.</i>
  </main>
  <datalist id="allRunes">
    {{#each sheetSpecific.allRunes}}
    <option value="{{name}}">{{name}}</option>
    {{/each}}
  </datalist>
</form>
