<div class="dice-tooltip">
  <b>{{characteristicValue}}</b><sub><i>{{characteristicName}}</i></sub>*<b>{{difficulty}}</b><sub><i>{{difficultyName}}</i></sub>
  {{#each modifiers}}
    <b>{{value}}</b><sub><i>{{description}}</i></sub>
  {{/each}}
</div>

